@use '@angular/material' as mat;

@mixin nav-primary-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-mdc-tab-links {
    padding-top: 8px !important;
  }

  .mat-mdc-tab-link {
    background-color: mat.get-color-from-palette($primary, 100) !important;
    color: mat.get-contrast-color-from-palette($primary, 500);
    margin: 0 4px 0 !important;
    border-radius: 8px 8px 0 0;
    font-size: 16px !important;
    font-weight: bold !important;
  }
  .mat-mdc-tab-link.mdc-tab--active {
    background-color: white !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }

  nav {

    a {
      color: mat.get-contrast-color-from-palette($primary, 500);
    }

    .active,
    a.active {
      background: mat.get-color-from-palette($primary, 900);
    }
  }

  .nav-controls {
    a {
      color: mat.get-contrast-color-from-palette($primary, 500);
    }
  }
}

@mixin nav-secondary-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  nav.nav-bar-secondary {
    background-color: mat.get-color-from-palette($primary, 900);
    color: mat.get-contrast-color-from-palette($primary, 900);

    a {
      color: mat.get-contrast-color-from-palette($primary, 900);
    }

    .active {
      color: mat.get-contrast-color-from-palette($primary, 500);
      border-bottom: 2px solid mat.get-color-from-palette($accent, A100);
    }
  }
}

@mixin nav-theme($theme) {
  @include nav-primary-theme($theme);
  @include nav-secondary-theme($theme);
}
