@use '@angular/material' as mat;
@import '../../../../assets/colors';

.save-info {
  color: mat.get-contrast-color-from-palette($allu-primary, 100);
}

ul {
  margin-top: 0;
}

li {
  margin-top: 0;
}

li:not(:last-of-type) {
  margin-bottom: 5px;
}
