<form [formGroup]="searchForm">
  <div *ngIf="barType === 'SIMPLE'" class="search-box" fxLayout="row" fxLayoutGap="18px">
    <div fxFlex="0 1 calc(65% - 18px)">
      <input-box class="input-raised">
        <button type="button" mat-raised-button matPrefix class="toggle-sidebar fill" (click)="showMore()" inputBoxPrefix>
          <mat-icon>subject</mat-icon>
        </button>
        <input type="text" formControlName="address"
               inputBoxInput
               class="input-addon-field last-item"
               [placeholder]="'searchbar.address' | translation"
               (keyup.enter)="addressSelected(searchForm.value.address)"
               [matAutocomplete]="addressSearch"/>
        <mat-autocomplete #addressSearch="matAutocomplete">
          <mat-option *ngFor="let address of matchingAddresses | async"
                      [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
            {{ address.uiStreetAddress }}
          </mat-option>
        </mat-autocomplete>
      </input-box>
    </div>
  </div>

  <div *ngIf="barType === 'BAR'" fxLayout="row" fxLayoutGap="18px" class="row-indent">
    <div fxFlex="1 1 70%">
      <input-box class="input-raised">
        <input type="text" formControlName="address"
               inputBoxInput
               [placeholder]="'searchbar.address' | translation"
               (keyup.enter)="addressSelected(searchForm.value.address)"
               [matAutocomplete]="addressSearch"/>
      </input-box>
      <mat-autocomplete #addressSearch="matAutocomplete">
        <mat-option *ngFor="let address of matchingAddresses | async"
                    [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
          {{ address.uiStreetAddress }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div fxFlex="1 1 15%">
      <input-box class="input-raised">
        <input inputBoxInput type="text" formControlName="startDate"
               [placeholder]="'applicationSearch.startTime' | translation"
               [matDatepicker]="startDatePicker"
               [max]="searchForm.get('endDate').value"/>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker" inputBoxSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <field-error [form]="searchForm" field="startDate" hasError="required">
          {{'application.common.field.validityStartTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
    <div fxFlex="1 1 15%">
      <input-box class="input-raised">
        <input inputBoxInput type="text" formControlName="endDate"
               [placeholder]="'applicationSearch.endTime' | translation"
               [matDatepicker]="endDatePicker"
               [min]="searchForm.get('startDate').value"/>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker" inputBoxSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <field-error [form]="searchForm" field="endDate" hasError="required">
          {{'application.common.field.validityEndTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
  </div>

  <div *ngIf="barType === 'ADVANCED'">
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field class="input-full-width">
          <input matInput type="text" formControlName="address"
                 [placeholder]="'searchbar.address' | translation"
                 (keyup.enter)="addressSelected(searchForm.value.address)"
                 [matAutocomplete]="addressSearch"/>
          <mat-autocomplete #addressSearch="matAutocomplete">
            <mat-option *ngFor="let address of matchingAddresses | async"
                        [value]="address.uiStreetAddress"
                        (click)="addressSelected(address.uiStreetAddress)">
              {{ address.uiStreetAddress }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex="calc(50% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text" formControlName="startDate"
                 [placeholder]="'applicationSearch.startTime' | translation"
                 [matDatepicker]="startDatePicker"
                 [max]="searchForm.get('endDate').value"/>
          <mat-datepicker-toggle matSuffix [for]="startDatePicker" inputBoxSuffix></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="calc(50% - 18px)">
        <mat-form-field class="input-full-width">
          <input matInput type="text" formControlName="endDate"
                 [placeholder]="'applicationSearch.endTime' | translation"
                 [matDatepicker]="endDatePicker"
                 [min]="searchForm.get('startDate').value"/>
          <mat-datepicker-toggle matSuffix [for]="endDatePicker" inputBoxSuffix></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex>
        <selection-group formControlName="statuses">
          <selection-item *ngFor="let status of statuses"
                          [item]="status"
                          selectType="CHIP"
                          class="btn-chip-50">
            {{['searchbar.status', status] | translation}}
          </selection-item>
        </selection-group>
      </div>
    </div>
  </div>
</form>
