<form [formGroup]="applicantForm">
    <div class="col m6 loose">
        <md-card>
            <md-card-title>{{headerText}}</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="input-field col m6">
                        <select *ngIf="!readonly" formControlName="type"
                                materialize="material_select">
                            <option value="" disabled selected>Valitse hakijan tyyppi*</option>
                            <option *ngFor="let type of applicantTypes" [value]="type">{{translations.applicant.type[type].name}}</option>
                        </select>
                        <field-error [form]="applicantForm" field="type" hasError="required">{{translations.applicant.field.typeMissing}}</field-error>

                        <div *ngIf="readonly">
                            <input id="{{formName}}-applicantType" type="text" [readonly]="true"
                                   value="{{translations.applicant.type[applicantForm.value.type || 'DEFAULT'].name}}" >
                            <label for="{{formName}}-applicantType">Hakijan tyyppi</label>
                        </div>
                    </div>
                    <div class="input-field col m6">
                        <input id="{{formName}}-country" type="text" formControlName="country">
                        <label for="{{formName}}-country">Maa</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="input-field col m8">
                        <input id="{{formName}}-applicantName" type="text" formControlName="name">
                        <label for="{{formName}}-applicantName">{{translations.applicant.type[applicantForm.value.type || 'DEFAULT'].nameLabel}}*</label>
                        <field-error [form]="applicantForm" field="name" hasError="required">{{translations.applicant.field.nameMissing}}</field-error>
                        <field-error [form]="applicantForm" field="name" hasError="minlength">{{translations.applicant.field.nameShort}}</field-error>
                    </div>
                    <div class="input-field col m4">
                        <input id="{{formName}}-businessID" type="text" formControlName="registryKey">
                        <label for="{{formName}}-businessID">{{translations.applicant.type[applicantForm.value.type || 'DEFAULT'].id}}*</label>
                        <field-error [form]="applicantForm" field="registryKey" hasError="required">{{translations.applicant.field.registryKeyMissing}}</field-error>
                        <field-error [form]="applicantForm" field="registryKey" hasError="minlength">{{translations.applicant.field.registryKeyShort}}</field-error>
                    </div>
                </div>
                <div formGroupName="postalAddress" class="row form-group">
                    <div class="input-field col m6">
                        <input id="{{formName}}-applicantAddress" type="text" formControlName="streetAddress">
                        <label for="{{formName}}-applicantAddress">Osoite</label>
                    </div>
                    <div class="input-field col m3">
                        <input id="{{formName}}-applicantPostalCode" type="text" formControlName="postalCode">
                        <label for="{{formName}}-applicantPostalCode">Postinumero</label>
                    </div>
                    <div class="input-field col m3">
                        <input id="{{formName}}-applicantCity" type="text" formControlName="city">
                        <label for="{{formName}}-applicantCity">Toimipaikka</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="input-field col m4">
                        <input id="{{formName}}-applicantPhone" type="text" formControlName="phone">
                        <label for="{{formName}}-applicantPhone">Puhelin</label>
                        <field-error [form]="applicantForm" field="email" hasError="required">{{translations.applicant.field.phoneShort}}</field-error>
                    </div>
                    <div class="input-field col m8">
                        <input id="{{formName}}-applicantEmail" type="text" formControlName="email">
                        <label for="{{formName}}-applicantEmail">Sähköpostiosoite</label>
                        <field-error [form]="applicantForm" field="email" hasError="pattern">{{translations.applicant.field.invalidEmail}}</field-error>
                    </div>
                </div>
                <div *ngIf="!readonly" class="row form-group">
                    <div class="col m7 height-fix-bottom">
                        <input type="checkbox" class="filled-in" id="{{formName}}-copyToBilling" />
                        <label for="{{formName}}-copyToBilling">Kopioi tiedot laskutusosoitteeksi</label>
                    </div>
                    <div class="col m5 height-fix-bottom">
                        <input type="checkbox" class="filled-in" formControlName="representative" id="{{formName}}-representative"/>
                        <label for="{{formName}}-representative">Asiaa hoitaa asiamies</label>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>
