<form [formGroup]="applicantForm">
    <div class="col m6 loose">
        <md-card>
            <md-card-title>{{headerText}}</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m6">
                        <md-select class="input-full-width" formControlName="type" placeholder="Valitse hakijan tyyppi*">
                            <md-option *ngFor="let type of applicantTypes" [value]="type">
                                {{['applicant.type', type, 'name'] | translation}}
                            </md-option>
                        </md-select>
                        <small>
                            <field-error [form]="applicantForm" field="type" hasError="required">{{'applicant.field.typeMissing' | translation}}</field-error>
                        </small>
                    </div>
                    <div class="col m6">
                        <md-select class="input-full-width" formControlName="country" placeholder="Maa">
                            <md-option value="Suomi">Suomi</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col m8">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="name"
                                   placeholder="{{['applicant.type', applicantForm.value.type || 'DEFAULT', 'nameLabel'] | translation}}*"/>
                            <md-hint>
                                <field-error [form]="applicantForm" field="name" hasError="required">{{'applicant.field.nameMissing' | translation}}</field-error>
                                <field-error [form]="applicantForm" field="name" hasError="minlength">{{'applicant.field.nameShort' | translation}}</field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m4">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="registryKey"
                                   placeholder="{{['applicant.type', applicantForm.value.type || 'DEFAULT', 'id'] | translation}}*"/>
                            <md-hint>
                                <field-error [form]="applicantForm" field="registryKey" hasError="required">{{'applicant.field.registryKeyMissing' | translation}}</field-error>
                                <field-error [form]="applicantForm" field="registryKey" hasError="minlength">{{'applicant.field.registryKeyShort' | translation}}</field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                </div>
                <div formGroupName="postalAddress" class="row form-group">
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="streetAddress" placeholder="Osoite"/>
                        </md-input-container>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="postalCode" placeholder="Postinumero"/>
                        </md-input-container>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="city" placeholder="Toimipaikka"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col m4">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="phone" placeholder="Puhelin"/>
                            <md-hint>
                                <field-error [form]="applicantForm" field="email" hasError="required">{{'applicant.field.phoneShort' | translation}}</field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m8">
                        <md-input-container class="input-full-width">
                            <input md-input type="text" formControlName="email" placeholder="Sähköpostiosoite"/>
                            <md-hint>
                                <field-error [form]="applicantForm" field="email" hasError="pattern">{{'applicant.field.invalidEmail' | translation}}</field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                </div>
                <div *ngIf="!readonly" class="row form-group">
                    <div class="col m6" *ngIf="showCopyToBilling">
                        <md-checkbox>Kopioi tiedot laskutusosoitteeksi</md-checkbox>
                    </div>
                    <div class="col m6 height-fix-bottom" *ngIf="showRepresentative">
                        <md-checkbox formControlName="representative">Asiaa hoitaa asiamies</md-checkbox>
                    </div>
                    <div class="col m6 height-fix-bottom" *ngIf="showPropertyDeveloper">
                        <md-checkbox formControlName="propertyDeveloper">Hakemuksella on rakennuttaja</md-checkbox>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>
