<div class="row item-bar">
    <div class="item-bar-content">
        <span class="single-line" *ngIf="application.startTime">{{application.uiStartTime}} - {{application.uiEndTime}}</span>
        <span>Tunnisteet:</span>
        <mat-chip-list>
            <mat-chip class="slim-chip" color="accent" selected="true" *ngFor="let tag of application.applicationTags; let i = index;">
                {{['application.tag.type', tag.type] | translation}}
                <button mat-icon-button (click)="remove(i)"><mat-icon>remove_circle_outline</mat-icon></button>
            </mat-chip>
        </mat-chip-list>
        <span class="single-line">
            <mat-chip class="slim-chip chip-outline" color="primary" selected="true">
                Lisää tunniste
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>add_circle_outline</mat-icon></button>
            </mat-chip>

        </span>
    </div>
</div>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item *ngFor="let type of tagTypes" (click)="add(type)">{{['application.tag.type', type] | translation}}</button>
</mat-menu>
