@use '~@angular/material' as mat;

@mixin stored-filter-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  button[inputBoxInput] {
    color: mat.get-color-from-palette($primary, 500);
  }

  .allu-menu-panel .menu-item-text {
    color: mat.get-color-from-palette($allu-primary, 300);
  }

  .allu-menu-panel .allu-menu-item:hover {
    background: mat.get-color-from-palette($allu-primary, 50);
  }

  .allu-menu-panel .allu-menu-item .mat-menu-item:hover {
    background: inherit;
  }
}


