<div class="row">
    <div class="col m6">
        <md-card>
            <md-card-title>Hakemuksen tyyppi</md-card-title>
            <md-card-content>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col m12 type-select">
                            <md-select formControlName="type" class="input-full-width" placeholder="Hakemuksen tyyppi">
                                <md-option *ngFor="let type of applicationTypes" [value]="type">
                                    {{['application.type', type] | translation}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col m12 type-select" *ngIf="multipleKinds">
                            <md-select formControlName="kinds" multiple class="input-full-width" placeholder="Hakemuksen lajit">
                                <md-option *ngFor="let kind of availableKinds" [value]="kind">
                                    {{['application.kind', kind] | translation}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col m12 type-select" *ngIf="!multipleKinds">
                            <md-select formControlName="kinds" class="input-full-width" placeholder="Hakemuksen laji">
                                <md-option *ngFor="let kind of availableKinds" [value]="kind">
                                    {{['application.kind', kind] | translation}}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="col m12 type-select" *ngIf="showSpecifierSelection()">
                            <md-select formControlName="specifiers" multiple placeholder="Työn tarkenne" class="input-full-width">
                                <md-optgroup *ngFor="let kindEntry of availableKindsWithSpecifiers"
                                             [label]="['application.kind', kindEntry.uiKind] | translation">
                                    <md-option *ngFor="let specifierEntry of kindEntry.specifierEntriesSortedByTranslation"
                                               [value]="specifierEntry.key">
                                        {{['application.specifier', specifierEntry.specifier] | translation}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </div>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>
