<div class="row">
    <div class="col m6 loose">
        <md-card>
            <md-card-title>Hakemuksen tyyppi</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m12">
                        <div>
                            <select [ngModel]="category?.categoryTypeName" [disabled]="typeChangeDisabled"
                                    materialize="material_select" (change)="typeSelection($event.target.value)">
                                <option value="" disabled selected>Hakemuksen tyyppi</option>
                                <option *ngFor="let category of applicationCategories" [value]="category.categoryTypeName">{{translations.application.category[category.categoryTypeName]}}</option>
                            </select>
                        </div>
                        <div>
                            <select [ngModel]="applicationType" [disabled]="typeChangeDisabled"
                                    materialize="material_select" [materializeSelectOptions]="typeNames"
                                    (change)="eventSelection($event.target.value)">
                                <option value="" disabled selected>Hakemuksen laji</option>
                                <option *ngFor="let appType of typeNames" [value]="appType">{{translations.application.type[appType]}}</option>
                            </select>
                        </div>
                        <div *ngIf="showSpecifierSelection()">
                            <select [(ngModel)]="specifiers" [disabled]="typeChangeDisabled" materialize="material_select"
                                    multiple [materializeSelectOptions]="specifierNames">
                                <option value="" disabled selected>Työn tarkenne</option>
                                <option *ngFor="let specifier of specifierNames" [value]="specifier">{{translations.application.specifier[specifier]}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>