<div class="row">
    <div class="col m6 loose">
        <md-card>
            <md-card-title>Hakemuksen tyyppi</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m12">
                        <div>
                            <select [ngModel]="type?.typeName" [disabled]="typeChangeDisabled"
                                    materialize="material_select" (change)="typeSelection($event.target.value)">
                                <option value="" disabled selected>Hakemuksen tyyppi</option>
                                <option *ngFor="let type of applicationTypes"
                                        [value]="type.typeName">{{['application.type', type.typeName] | translation}}</option>
                            </select>
                        </div>
                        <div>
                            <select [ngModel]="applicationKind" [disabled]="typeChangeDisabled"
                                    materialize="material_select" [materializeSelectOptions]="kindNames"
                                    (change)="kindSelection($event.target.value)">
                                <option value="" disabled selected>Hakemuksen laji</option>
                                <option *ngFor="let kind of kindNames" [value]="kind">{{['application.kind', kind] | translation}}</option>
                            </select>
                        </div>
                        <div *ngIf="showSpecifierSelection()">
                            <select [(ngModel)]="specifiers" [disabled]="typeChangeDisabled" materialize="material_select"
                                    multiple [materializeSelectOptions]="specifierNames">
                                <option value="" disabled selected>Työn tarkenne</option>
                                <option *ngFor="let specifier of specifierNames" [value]="specifier">{{['application.specifier', specifier] | translation}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>