<md-card>
    <md-card-title>
        <div *ngIf="comment.id === undefined">
            Uusi kommentti
        </div>
        <div *ngIf="comment.id !== undefined">
            {{['comment.type', comment.type] | translation}}
        </div>
    </md-card-title>
    <md-card-content>
        <div *ngIf="edit">
            <div class="row no-left-pad">
                <div class="col m4">
                    <md-select placeholder="Kommentin tyyppi" class="input-full-width" [(ngModel)]="comment.type">
                        <md-option *ngFor="let type of commentTypes" [value]="type">
                            {{['comment.type', type] | translation}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div *ngIf="comment.id !== undefined">
            <div class="save-info">
                <span>{{comment.user.realName}} {{comment.uiCreateTime}}</span>
                <span *ngIf="comment.updateTime">- Päivitetty {{comment.uiUpdateTime}}</span>
            </div>
        </div>
        <div class="row no-left-pad">
            <div class="col s12">
                <md-form-field class="input-full-width" *ngIf="edit">
                    <textarea mdInput mdTextareaAutosize [(ngModel)]="comment.text" id="commentText" placeholder="Kommentit"></textarea>
                </md-form-field>

                <p *ngIf="!edit" class="text-multiline">{{comment.text}}</p>
            </div>
        </div>
        <div class="row" *ngIf="comment.id === undefined">
            <button md-raised-button type="button" color="primary" (click)="save()">TALLENNA</button>
            <button md-raised-button type="button" color="primary" (click)="remove()">PERUUTA</button>
        </div>
        <div class="row" *ngIf="comment.id !== undefined">
            <div *ngIf="edit">
                <button md-raised-button type="button" color="primary" (click)="save()">TALLENNA</button>
                <button md-raised-button type="button" color="primary" (click)="cancel()">PERUUTA</button>
            </div>
            <div *ngIf="!edit">
                <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
                    <button md-raised-button type="button" color="primary" (click)="editComment()">MUOKKAA</button>
                    <button md-raised-button type="button" color="primary" (click)="remove()">POISTA</button>
                </ng-container>
            </div>
        </div>
    </md-card-content>
</md-card>
