<form>
  <mat-form-field class="search-field">
    <mat-label>{{'location.searchAndAddGeometry' | translation}}</mat-label>
    <input matInput type="text"
           [formControl]="searchControl"
           [matAutocomplete]="applicationSearch"/>
    <mat-autocomplete #applicationSearch="matAutocomplete"
                      (optionSelected)="add($event.option)">
      <mat-option *ngFor="let geometryEntry of matchingGeometries"
                  [value]="geometryEntry">
        {{ geometryEntry.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
