<form>
  <div fxLayout="row">
    <div fxFlex="initial">
      <mat-form-field class="search-field">
        <input matInput type="text" [formControl]="searchControl"
               [placeholder]="'location.searchAndAddGeometry' | translation"
               [matAutocomplete]="applicationSearch"/>
        <mat-autocomplete #applicationSearch="matAutocomplete"
                          (optionSelected)="add($event.option)">
          <mat-option *ngFor="let geometryEntry of matchingGeometries"
                      [value]="geometryEntry">
            {{ geometryEntry.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</form>
