<h1 mat-dialog-title>
  {{'bulkApproval.title' | translation}}
</h1>
<div mat-dialog-content>
  <ul class="striped">
    <li *ngIf="approvableEntries.length === 0" class="entry-row">
      <div fxLayout="row" fxLayoutAlign="start center" class="slim">
        <div fxFlex class="text-highlighted">{{'bulkApproval.nothingToApprove' | translation}}</div>
      </div>
    </li>
    <li *ngFor="let approvalEntry of approvableEntries" class="entry-row">
      <bulk-approval-entry [entry]="approvalEntry"></bulk-approval-entry>
    </li>
  </ul>

  <ng-container *ngIf="unapprovableEntries.length">
    <h2 mat-dialog-title>{{'bulkApproval.cannotBeApproved' | translation}}</h2>

    <ul class="striped" *ngIf="data.entries">
      <li *ngFor="let approvalEntry of unapprovableEntries" class="entry-row">
        <bulk-approval-entry [entry]="approvalEntry"></bulk-approval-entry>
      </li>
    </ul>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" color="primary" (click)="cancel()">
    {{'common.button.cancel' | translation}}
  </button>
</div>
