<h1 mat-dialog-title>
  {{'bulkApproval.title' | translation}}
</h1>
<div mat-dialog-content>
  <bulk-approval-entry-list [entries]="approvableEntries"></bulk-approval-entry-list>

  <ng-container *ngIf="unapprovableEntries.length">
    <h2 mat-dialog-title>{{'bulkApproval.cannotBeApproved' | translation}}</h2>

    <bulk-approval-entry-list [entries]="unapprovableEntries"></bulk-approval-entry-list>
  </ng-container>
</div>
<div mat-dialog-actions *ngIf="status$ | async as status">
  <button
    mat-raised-button
    type="button"
    color="primary"
    [disabled]="status==='PENDING'"
    (click)="close()">
    {{'common.button.close' | translation | uppercase}}
  </button>
  <button
    *ngIf="status==='NOT_STARTED' || status==='PENDING'"
    mat-raised-button
    type="button"
    color="primary"
    [disabled]="status==='PENDING'"
    (click)="approve()">
    {{'decision.do' | translation | uppercase}}
  </button>
</div>
