<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="18px"
  class="slim">
  <div fxFlex="0 0 120px" class="text-highlighted">{{entry.applicationId}}</div>
  <div fxFlex="none">{{['application.status', entry.targetState] | translation}}</div>
  <div fxFlex>
    <ng-container *ngIf="entryStatus?.error as error; else blockedReason">
      {{error.title}}: {{error.message}}
    </ng-container>
    <ng-template #blockedReason>
      {{entry.bulkApprovalBlockedReason}}
    </ng-template>
  </div>
  <div fxFlex="none" *ngIf="entryStatus" class="entry-status">
    <mat-progress-spinner *ngIf="entryStatus.status==='PENDING'" diameter="24" mode="indeterminate"></mat-progress-spinner>
    <mat-icon *ngIf="entryStatus.status==='SUCCESS'" class="icon-middle icon-success">check_circle</mat-icon>
    <mat-icon *ngIf="entryStatus.status==='FAIL'" color="warn" class="icon-middle">error</mat-icon>
  </div>
</div>
