<h2 class="mat-card-title">{{'location.stored' | translation}}</h2>
<table class="bordered responsive-table">
  <thead>
  <tr>
    <th></th>
    <th>{{'location.identifier' | translation}}</th>
    <th>{{'location.startTime' | translation}}</th>
    <th>{{'location.endTime' | translation}}</th>
    <th>{{'location.area' | translation}}</th>
    <th>{{'location.cityDistrict' | translation}}</th>
    <th>{{'location.additionalInfo' | translation}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locations | async; let i = index"
      [class.selected]="i===locationState.editIndex" class="clickable row-highlight"
      (click)="editLocation(i)">
    <th>
      <button type="button" *ngIf="!readonly" mat-icon-button (click)="remove(i)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-icon class="icon-middle" *ngIf="location.underpass"
                [matTooltip]="'location.underpass' | translation"
                matTooltipPosition="above">
        call_missed_outgoing
      </mat-icon>
    </th>
    <td>{{location.locationKey}}</td>
    <td>{{location.uiStartTime}}</td>
    <td>{{location.uiEndTime}}</td>
    <td>{{location.effectiveUiArea}}</td>
    <td>{{districtName(location.effectiveCityDistrictId) | async}}</td>
    <td>{{location.info}}</td>
    <td>
      <button
        *ngIf="customerValidityReportingAvailable(location)"
        type="button"
        mat-icon-button
        (click)="reportCustomerValidity(location, i)">
        <mat-icon>event</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
