<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)">
    <div class="row">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
                   [readonly]="readonly" [showCopyToBilling]="true"></customer>
    </div>

    <div class="row">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.contractor"
                  [readonly]="readonly" [showCopyToBilling]="true"
                  [showRepresentative]="true"></customer>
    </div>

    <div class="row">
        <div class="col m12">
        <md-card>
            <md-card-title>Liikennejärjestelyn voimassaolo</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div formGroupName="validityTimes" class="col s6">
                        <div class="col s6">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="Voimassaolon aloitus*"
                                       [mdDatepicker]="startTimePicker"/>
                                <button type="button" [disabled]="readonly" mdSuffix [mdDatepickerToggle]="startTimePicker"></button>
                                <md-hint>
                                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                                        {{'application.trafficArrangement.field.validityStartTimeMissing' | translation}}
                                    </field-error>
                                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                                        {{'application.trafficArrangement.field.validityStartBeforeEnd' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                            <md-datepicker #startTimePicker></md-datepicker>
                        </div>
                        <div class="col s6">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="Voimassaolon lopetus*"
                                       [mdDatepicker]="endTimePicker"/>
                                <button type="button" [disabled]="readonly" mdSuffix [mdDatepickerToggle]="endTimePicker"></button>
                                <md-hint>
                                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                                        {{'application.trafficArrangement.field.validityEndTimeMissing' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                            <md-datepicker #endTimePicker></md-datepicker>
                        </div>
                    </div>
                    <div class="col s3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="text" formControlName="workFinished" placeholder="Työ valmis"
                                   [mdDatepicker]="workFinishedPicker"/>
                            <button type="button" [disabled]="readonly" mdSuffix [mdDatepickerToggle]="workFinishedPicker"></button>
                            <md-hint>
                                <field-error [form]="applicationForm" field="workFinished" hasError="required">
                                    {{'application.trafficArrangement.field.workFinished' | translation}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                        <md-datepicker #workFinishedPicker></md-datepicker>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    </div>

    <div class="row">
        <div class="col m12">
        <md-card>
            <md-card-title>Liikennejärjestelyn tiedot</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m2">
                        <md-checkbox formControlName="pksCard">Pks-kortti</md-checkbox>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col m12">
                        <md-input-container class="input-full-width">
                                <textarea mdInput mdTextareaAutosize formControlName="trafficArrangements"
                                          placeholder="Suoritettavat liikennejärjestelyt"></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <md-button-toggle-group formControlName="trafficArrangementImpedimentType">
                            <md-button-toggle value="NO_IMPEDIMENT">
                                {{'application.trafficArrangementImpedimentType.NO_IMPEDIMENT' | translation}}
                            </md-button-toggle>
                            <md-button-toggle value="INSIGNIFICANT_IMPEDIMENT">
                                {{'application.trafficArrangementImpedimentType.INSIGNIFICANT_IMPEDIMENT' | translation}}
                            </md-button-toggle>
                            <md-button-toggle value="IMPEDIMENT_FOR_HEAVY_TRAFFIC">
                                {{'application.trafficArrangementImpedimentType.IMPEDIMENT_FOR_HEAVY_TRAFFIC' | translation}}
                            </md-button-toggle>
                            <md-button-toggle value="SIGNIFICANT_IMPEDIMENT">
                                {{'application.trafficArrangementImpedimentType.SIGNIFICANT_IMPEDIMENT' | translation}}
                            </md-button-toggle>
                        </md-button-toggle-group>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col m12">
                        <md-input-container class="input-full-width">
                                <textarea mdInput mdTextareaAutosize formControlName="additionalInfo"
                                          placeholder="Lisätiedot"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    </div>

    <div class="row">
        <div class="col m12">
            <pricing-info [form]="applicationForm"></pricing-info>
        </div>
    </div>

    <div class="row" *ngIf="readonly">
        <div class="col m12">
            <location-details [application]="application" [readonly]="readonly"></location-details>
        </div>
    </div>

    <div class="row" *ngIf="showTerms">
        <div class="col s12">
            <terms [form]="applicationForm" [applicationType]="application.typeEnum" [terms]="application.extension.terms" [readonly]="readonly"></terms>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <application-actions
                [readonly]="readonly"
                [applicationId]="application.id"
                [form]="applicationForm"
                [submitPending]="submitPending"></application-actions>
        </div>
    </div>
</form>
