<customer-info-acceptance
  [form]="form"
  [countryCodes]="countryCodes$ | async"
  [oldCustomer]="referenceCustomer$ | async"
  [newCustomer]="newCustomer"
  [readonly]="readonly"
  [hideExisting]="hideExisting"
  (customerChanges)="customerChanges($event)">

  <div class="left-header">
    <h2 mat-dialog-title>
      {{['informationRequest.field', fieldKey] | translation}}
    </h2>
  </div>
  <div class="right-header">
    <div class="info-acceptance-hint">
      {{'customer.suggestion.info' | translation}}
    </div>
  </div>
  <div class="left-controls">
    <form [formGroup]="searchForm">
      <mat-form-field class="input-full-width" *ngIf="!readonly">
        <mat-label>{{'customer.search.type' | translation}}</mat-label>
        <mat-select formControlName="customerType">
          <mat-option *ngFor="let type of customerTypes" [value]="type">
            {{['customer.type', type, 'name'] | translation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field floatLabel="never" class="input-full-width" *ngIf="!readonly">
        <input matInput type="text" formControlName="search"
               [placeholder]="'customer.search.search' | translation"
               [matAutocomplete]="customerSearch"/>
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
        <mat-autocomplete #customerSearch="matAutocomplete" class="multi-line-option">
          <mat-option *ngFor="let customer of matchingCustomers$ | async"
                      [value]="customer.name" (click)="selectReferenceCustomer(customer)">
            <customer-option-content
              [customer]="customer"
              [showRegistryKey]="true"
              [showInvoicingInfo]="true"></customer-option-content>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="!readonly && canBeInvoiceRecipient">
        <mat-checkbox formControlName="useForInvoicing">
          {{'customer.useForInvoicing' | translation}}
        </mat-checkbox>
      </div>
    </form>
  </div>
  <div class="right-controls">
    <p class="acceptance-info" *ngIf="!readonly">
      <button
        *ngIf="showCreateNew | async"
        type="button"
        mat-raised-button
        color="primary"
        (click)="createNewCustomer()">
        {{'customer.createNew' | translation}}
      </button>
    </p>
  </div>
</customer-info-acceptance>

<div class="reference-section" *ngIf="showCustomerReference">
  <form [formGroup]="selectionForm">
    <h2 mat-dialog-title>
      {{'informationRequest.acceptance.otherBillingTitle' | translation}}
    </h2>
    <div class="section-container">
      <div class="section-content">
        <field-select
          #oldValuesSelect
          [id]="'reference-old'"
          [descriptions]="referenceFieldDescriptions"
          [fieldValues]="referenceFieldValues"
          formControlName="oldValues">
        </field-select>
      </div>
      <div class="section-content">
        <field-select
          #newValuesSelect
          [id]="'reference-new'"
          [descriptions]="referenceFieldDescriptions"
          [fieldValues]="referenceComparedValues"
          [comparedValues]="referenceFieldValues"
          formControlName="newValues">
        </field-select>
      </div>
    </div>
  </form>
</div>
