<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)">
    <div class="row">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
                  [readonly]="readonly" [showPropertyDeveloper]="true" [contactRequired]="true"></customer>
    </div>

    <div class="row" *ngIf="hasPropertyDeveloper">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.propertyDeveloper"
                  [readonly]="readonly"></customer>
    </div>

    <div class="row">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.contractor"
                  [readonly]="readonly" [showRepresentative]="true" [contactRequired]="true"></customer>
    </div>

    <div class="row" *ngIf="hasRepresentative">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.representative"
                  [readonly]="readonly"></customer>
    </div>

    <div class="row">
        <div class="col m12">
            <md-card>
                <md-card-title>Aluevuokrauksen voimassaolo</md-card-title>
                <md-card-content>
                    <div class="row form-group">
                        <div formGroupName="validityTimes" class="col s6">
                            <div class="col s6">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="startTime" placeholder="Voimassaolon aloitus*"
                                           [mdDatepicker]="startTimePicker"/>
                                    <md-datepicker-toggle mdSuffix [for]="startTimePicker" [disabled]="readonly"></md-datepicker-toggle>
                                    <md-datepicker #startTimePicker></md-datepicker>
                                    <md-hint>
                                        <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                                            {{'application.common.field.validityStartTimeMissing' | translation}}
                                        </field-error>
                                        <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                                            {{'application.common.field.validityStartBeforeEnd' | translation}}
                                        </field-error>
                                    </md-hint>
                                </md-form-field>
                            </div>
                            <div class="col s6">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="endTime" placeholder="Voimassaolon lopetus*"
                                           [mdDatepicker]="endTimePicker"/>
                                    <md-datepicker-toggle mdSuffix [for]="endTimePicker" [disabled]="readonly"></md-datepicker-toggle>
                                    <md-datepicker #endTimePicker></md-datepicker>
                                    <md-hint>
                                        <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                                            {{'application.common.field.validityEndTimeMissing' | translation}}
                                        </field-error>
                                    </md-hint>
                                </md-form-field>
                            </div>
                        </div>
                        <div class="col s3">
                            <md-form-field class="input-full-width">
                                <input mdInput type="text" formControlName="workFinished" placeholder="Työ valmis"
                                       [mdDatepicker]="workFinishedPicker"/>
                                <md-datepicker-toggle mdSuffix [for]="workFinished" [disabled]="readonly"></md-datepicker-toggle>
                                <md-datepicker #workFinishedPicker></md-datepicker>
                            </md-form-field>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div class="row">
        <div class="col m12">
        <md-card>
            <md-card-title>Aluevuokrauksen tiedot</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m2">
                        <md-checkbox formControlName="pksCard">Pks-kortti</md-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <md-form-field class="input-full-width">
                                <textarea mdInput mdTextareaAutosize formControlName="trafficArrangements"
                                          placeholder="Suoritettavat liikennejärjestelyt"></textarea>
                        </md-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <md-button-toggle-group formControlName="trafficArrangementImpedimentType">
                            <md-button-toggle value="NO_IMPEDIMENT">
                                {{'application.trafficArrangementImpedimentType.NO_IMPEDIMENT' | translation}}
                            </md-button-toggle>
                            <md-button-toggle value="INSIGNIFICANT_IMPEDIMENT">
                                {{'application.trafficArrangementImpedimentType.INSIGNIFICANT_IMPEDIMENT' | translation}}
                            </md-button-toggle>
                            <md-button-toggle value="IMPEDIMENT_FOR_HEAVY_TRAFFIC">
                                {{'application.trafficArrangementImpedimentType.IMPEDIMENT_FOR_HEAVY_TRAFFIC' | translation}}
                            </md-button-toggle>
                            <md-button-toggle value="SIGNIFICANT_IMPEDIMENT">
                                {{'application.trafficArrangementImpedimentType.SIGNIFICANT_IMPEDIMENT' | translation}}
                            </md-button-toggle>
                        </md-button-toggle-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <md-form-field class="input-full-width">
                                <textarea mdInput mdTextareaAutosize formControlName="additionalInfo"
                                          placeholder="Lisätiedot"></textarea>
                        </md-form-field>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    </div>

    <div class="row">
        <div class="col m12">
            <pricing-info [form]="applicationForm"></pricing-info>
        </div>
    </div>

    <div class="row" *ngIf="readonly">
        <div class="col m12">
            <location-details [application]="application" [readonly]="readonly"></location-details>
        </div>
    </div>

    <div class="row" *ngIf="showTerms">
        <div class="col s12">
            <terms [form]="applicationForm" [applicationType]="application.typeEnum" [terms]="application.extension.terms" [readonly]="readonly"></terms>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
        <application-actions
            [readonly]="readonly"
            [applicationId]="application.id"
            [form]="applicationForm"
            [submitPending]="submitPending"></application-actions>
        </div>
    </div>
</form>
