<div class="work-queue-controls">
  <workqueue-filter [handlers]="handlers" [selectedTab]="tab" (onQueryChange)="queryChanged($event)"></workqueue-filter>


  <div class="work-queue-action-buttons">
    <button md-raised-button type="button" color="primary" [disabled]="selectedApplicationIds.length === 0"
            class="in-front" (click)="moveSelectedToSelf()">OMAKSI</button>

    <button md-raised-button type="button" color="primary" [disabled]="selectedApplicationIds.length === 0"
            class="in-front" (click)="openHandlerModal()">SIIRRÄ</button>
  </div>
  <div class="labels-solid labels-end">
    <md-tab-group (selectChange)="tabSelected($event)">
      <md-tab *ngFor="let tab of tabs">
        <template md-tab-label>{{['workqueue.tab', tab] | translation}}</template>
        <workqueue-content
            [applications]="applications"
            (onSortChange)="sortChanged($event)"
            (onSelectChange)="selectionChanged($event)">
        </workqueue-content>
      </md-tab>
    </md-tab-group>
  </div>
</div>
