<div>
  <workqueue-filter [handlers]="handlers" [selectedTab]="tab" (onQueryChange)="queryChanged($event)"></workqueue-filter>

  <div class="row">
    <div class="col s12">
      <button class="waves-effect waves-light btn"
              [disabled]="selectedApplicationIds.length === 0"
              (click)="moveSelectedToSelf()">OMAKSI</button>

      <button class="waves-effect waves-light btn"
              [disabled]="selectedApplicationIds.length === 0"
              (click)="openHandlerModal()">SIIRRÄ</button>
    </div>
  </div>

  <md-tab-group (selectChange)="tabSelected($event)">
      <md-tab *ngFor="let tab of tabs">
        <template md-tab-label>{{tab}}</template>
        <workqueue-content
            [applications]="applications"
            (onSortChange)="sortChanged($event)"
            (onSelectChange)="selectionChanged($event)">
        </workqueue-content>
      </md-tab>
  </md-tab-group>
</div>
