<div [ngSwitch]="recurringType" class="validity-period-container">
  <ng-container *ngSwitchCase="'until'">
    <span><validity-start-time [startTime]="startTime" [recurring]="true"></validity-start-time></span>
    <ng-container *ngIf="endTime">
      <span>–</span>
      <validity-end-time
          [startTime]="startTime"
          [endTime]="endTime"
          [recurringEndTime]="recurringEndTime"></validity-end-time>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'forNow'">
    <span>{{startTime | date:'dd.MM.'}}</span>
    <ng-container *ngIf="endTime">
      <span>–</span>
      <validity-end-time
        [startTime]="startTime"
        [endTime]="endTime"
        [recurringEndTime]="recurringEndTime"></validity-end-time>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <span>{{startTime | date:'shortDate'}}</span>
    <ng-container *ngIf="endTime">
      <span>–</span>
      <validity-end-time
        [startTime]="startTime"
        [endTime]="endTime"
        [recurringEndTime]="recurringEndTime"></validity-end-time>
    </ng-container>
  </ng-container>
</div>

<div class="text-hint" *ngIf="terminationDate">
  {{'application.common.terminatedExpires' | translation}} {{terminationDate | date: 'shortDate'}}
</div>
