@import '../../../assets/colors';
@import '../../../assets/variables';

:host {
  // max-width: 1450px;
  width: 100%;
  // .md-input-underline {
  //   border-top: 1px solid rgba(2, 150, 136, 1);
  // }
  p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  md-card {
    margin: 10px;
    padding: 12px;
  }

  .input-field label {
    top: .5rem;
  }

  input[type=text] {
    height: 2rem;
  }

  .country-select {
    margin-top: 15px;
  }

  .no-padding {
    padding: 0;
  }

  .no-padding-right {
    padding-right: 0;
  }

  .no-padding-left {
    padding-left: 0;
  }

  .buttons {
    margin: 40px 0 6px;
  }

  .height-fix-top {
    margin-top: 1.5rem;
  }

  .height-fix-bottom {
    margin-bottom: 1rem;
  }

  .summary {
    input[type="text"] {
      // color: rgb(22, 150, 136);
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 2px solid rgba(22, 150, 136, 1);
    }

    &.materialize-textarea {
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 2px solid rgba(22, 150, 136, 1);
    }

    input[type="checkbox"]:disabled:checked:after + label:after {
      background-color: rgba(22, 150, 136, 1);
      border-color: rgba(22, 150, 136, 1);
    }

    &.validate {
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 2px solid rgba(22, 150, 136, 1);
    }
  }

  .summary-checkbox {
    color: rgba(22, 150, 136, 1);
  }
  
  .mapcontainer {
    height: 49vh;
    position: relative;
  }

  map {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

workqueue {
  width: 100%;
}

.card-media {
  background-color: #999999;
}

md-card-title {
  padding: 0 .75rem;
}

[md-button] [md-icon] {
  color: rgba(0, 0, 0, 0.8);
}
