:host {
  display: block;
}

:host mat-card ::ng-deep {
  border-radius: 6px;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-content {
    label.info-label {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      padding-top: 9px;
    }

    .info-field {
      padding-top: 3px;
    }

    .col.info-field-group {
      padding-left: 0;
    }

    .input-field-info-text {
      height: 3rem;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-content.bordered {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-footer.footer-min-height {
    min-height: 56px;
  }
}

:host mat-card.mat-mdc-card ::ng-deep {
  .mat-divider {
    position: relative;
  }

  .mat-divider.divider-loose {
    margin: 25px 0;
  }
}

:host(.full-width) ::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    padding: 24px 0;

    .allu-card-title,
    .allu-card-content {
      padding: 0 24px;
    }
  }
}

:host(.slim-card) ::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-content {
      width: 100%;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-content.card-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      & > div {
        padding: 0 10px;
        white-space: nowrap;
      }
    }

    .card-item-align-right {
      margin-left: auto;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card-title {
      white-space: nowrap;
      margin-right: 18px;
      margin-bottom: 0;
    }
  }
}

:host(.allu-card-border-left) mat-card {
  border-left-style: solid;
  border-left-width: 10px;
}

:host(.allu-card-border-right) mat-card {
  border-right-style: solid;
  border-right-width: 10px;
}

:host(.allu-card-border-top) mat-card {
  border-top-style: solid;
  border-top-width: 10px;
}

:host(.allu-card-border-bottom) mat-card {
  border-bottom-style: solid;
  border-bottom-width: 10px;
}
