# These files should have their line endings normalized
*.java    text
*.ts      text
*.js      text
*.css     text
*.xml     text
*.txt     text

# These files should never be normalized
*.png     binary
*.jpg     binary
*.jpeg    binary
*.pdf     binary
