<progressbar [step]="progressStep" [mode]="progressMode"></progressbar>
<div materialize class="row location">
  <div class="col m12">
    <md-card>
      <md-card-title>Sijainti</md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col m12">
            <searchbar (searchUpdated)="searchUpdated($event)">Loading searchbar</searchbar>
            <div class="input-field col m12">
              <input id="info" type="text" class="" [(ngModel)]="locationState.location.info">
              <label for="info">Lisätietoja paikasta</label>
            </div>
            <div class="input-field col m8">
              <select (change)="rentingPlaceSelection($event.target.value)" materialize="material_select" [materializeSelectOptions]="selectOptions">
                <option value="" disabled selected>Vuokrattava paikka</option>
                <option *ngFor="let rent of rentingPlace" [value]="rent.value">{{rent.name}}</option>
              </select>
            </div>
            <div class="input-field col m2">
              <select (change)="sectionSelection($event.target.value)" materialize="material_select" [materializeSelectOptions]="selectOptions">
                <option value="" disabled selected>Lohko(t)</option>
                <option *ngFor="let section of sections" [value]="section.value">{{section.name}}</option>
              </select>
            </div>
            <div class="input-field col m2">
              <input id="area" type="number" class="validate" disabled="true" [(ngModel)]="area">
              <label for="area">Alueen pinta-ala</label>
            </div>
          </div>
          <div class="col m12">
            <div class="mapcontainer">
              <map [draw]="true" [selection]="true" [applicationId]="id"></map>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div class="col m12">
    <md-card>
      <md-card-title>Tallennus</md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col m2">
            <button md-raised-button class="waves-effect waves-light btn" [routerLink]="['/FrontPage']">PERUUTA</button>
          </div>
          <div class="col m4 offset-m6">
            <button md-raised-button class="waves-effect waves-light btn" (click)="save()">{{id ? "YHTEENVETOON" : "PERUSTIEDOT"}}</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
