<mat-card>
    <mat-card-title>
        Muutoshistoria
    </mat-card-title>
    <mat-card-content>
        <table class="bordered responsive-table">
            <thead>
                <tr>
                    <th>Muutettu</th>
                    <th>Muutos</th>
                    <th>Tekijä</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let change of history | async" (click)="showDetails(change)" class="clickable row-highlight">
                    <td class="no-wrap">{{change.uiChangeTime}}</td>
                    <td>
                        <span>{{['history.change.type', change.changeType] | translation}}</span>
                        <span *ngIf="change.newStatus">{{['application.status', change.newStatus] | translation}}</span>
                        <span *ngFor="let fieldChange of change.fieldChanges; let last=last">
                            {{formatter.toFormattedFieldNames(fieldChange).uiFieldName | commaSeparated: last}}
                        </span>
                    </td>
                    <td class="no-wrap">{{handlers.get(change.userId)?.realName}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
