<h2 mat-dialog-title>
    {{['history.change.type', change.changeType] | translation}} - {{change.uiChangeTime}}
</h2>
<mat-dialog-content>
    <div *ngIf="change.changeType === 'CREATED'">
        {{user.realName}} luonut hakemuksen {{change.uiChangeTime}}
    </div>
    <table class="bordered" *ngIf="change.changeType === 'STATUS_CHANGED'">
        Tila vaihdettu {{['application.status', change.newStatus] | translation}}
    </table>
    <div *ngIf="change.changeType === 'CONTENTS_CHANGED'">
        <table class="bordered" *ngIf="fieldChanges.length">
            <thead>
            <tr>
                <th>Kenttä</th>
                <th>Muutos</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fieldChange of fieldChanges">
                <td>{{fieldChange.uiFieldName}}</td>
                <td *ngIf="fieldChange.link">
                    <a [routerLink]="fieldChange.link" (click)="closeModal()">{{fieldChange.definedValue}}</a>
                </td>
                <td *ngIf="!fieldChange.link">
                    <span>{{fieldChange.oldValue}}</span>
                    <span><mat-icon class="icon-middle">arrow_forward</mat-icon></span>
                    <span>{{fieldChange.newValue}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">SULJE</button>
</mat-dialog-actions>


