<h1 mat-dialog-title>
    {{['decision.proposal', proposal] | translation}}
</h1>
<div mat-dialog-content>
    <form [formGroup]="proposalForm">
        <div class="row">
            <div class="col s12">
                <mat-form-field class="input-full-width">
                    <textarea matInput matTextareaAutosize formControlName="comment" placeholder="Perustelut"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="button" color="primary" (click)="confirm()">Tallenna</button>
    <button mat-raised-button type="button" color="primary" (click)="cancel()">Peruuta</button>
</div>
