<ng-container *ngIf="applicationChanges | async as application">
  <div fxLayout="row" fxLayoutGap="18px" class="content-main">
    <div fxFlex="calc(33% - 18px)">
      <div fxLayout="row">
        <div fxFlex>
          <application-basic-info [application]="application"></application-basic-info>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <decision-proposal></decision-proposal>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <allu-card>
            <mat-card-title *ngIf="application.type === 'PLACEMENT_CONTRACT'">
              {{'decision.contractAttachments' | translation}}
            </mat-card-title>
            <mat-card-title  *ngIf="application.type !== 'PLACEMENT_CONTRACT'">
              {{'decision.decisionAttachments' | translation}}
            </mat-card-title>
            <mat-card-content>
              <attachment-thumbnails [attachments]="decisionAttachments | async"></attachment-thumbnails>
            </mat-card-content>
          </allu-card>
        </div>
      </div>
    </div>
    <div fxFlex="calc(66% - 18px)">
      <decision-documents></decision-documents>
    </div>
  </div>
</ng-container>
