@use '@angular/material' as mat;

@mixin progressbar-theme($theme, $success, $basic) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  mat-progress-bar {
    --mdc-linear-progress-track-height: 12px !important;
    --mdc-linear-progress-active-indicator-height: 12px !important;
    background: mat.m2-get-color-from-palette($primary, 50);
    color: mat.m2-get-color-from-palette($primary, 500);

  }

  .active .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($accent, 500)};
  }

  .closed .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($basic, 500)};
  }

  .pending .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($accent, 500)};
  }

  .decision .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($success, 200)};
  }

  .finished .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($success, 500)};
  }

  .cancelled .mdc-linear-progress__bar-inner,
  .rejected .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($warn, 400)};
  }

  .history .mdc-linear-progress__bar-inner {
    --mdc-linear-progress-active-indicator-color: #{mat.m2-get-color-from-palette($basic, 500)};
  }
}
