<mat-toolbar fxLayout="row">
  <div fxFlex="15" class="progress-header">
    <span *ngIf="!existingApplication">{{identifier | uppercase}}</span>
    <a *ngIf="existingApplication" [routerLink]="['/applications', application.id, 'summary']">{{identifier | uppercase}}</a>
    <span *ngIf="status" class="application-status-text">{{['application.status', status] | translation}}</span>
  </div>
  <div fxFlex="85" class="progress-label">
    <div fxLayout="row">
      <div fxFlex class="center-align">
        <p>{{'application.progress.location' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.basicInfo' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.summary' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.handling' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.decision' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.supervision' | translation}}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex class="progress">
        <mat-progress-bar color="accent" [value]="width"></mat-progress-bar>
      </div>
    </div>
  </div>
</mat-toolbar>
