<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="200px" class="progress-header align-with-content">
    <div *ngIf="!existingApplication">{{'application.newApplication' | translation | uppercase}}</div>
    <div *ngIf="existingApplication">
      <mat-select class="input-no-underline"
                  [(ngModel)]="selectedApplication"
                  (onClose)="showSelected()">
        <mat-option *ngFor="let replacement of replacements" [value]="replacement.id">
          {{replacement.applicationId}}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div fxFlex="60" class="progress-label">
    <div fxLayout="row">
      <div fxFlex class="center-align">
        <p>{{'application.progress.location' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.basicInfo' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.summary' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.handling' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.decision' | translation}}</p>
      </div>
      <div fxFlex class="center-align">
        <p>{{'application.progress.supervision' | translation}}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex class="progress">
        <mat-progress-bar color="accent" [value]="width"></mat-progress-bar>
      </div>
    </div>
  </div>
</mat-toolbar>
