<allu-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="flex-start">
      <div fxFlex="50%">
        <h1>
          <span>{{'project.title' | translation | uppercase}} {{project.id}}: {{project.name}} -</span>
          <span>{{['project.active', project.active] | translation}}</span>
        </h1>
      </div>
      <div fxFlex class="project-header-item">
        <div class="item-count">{{activeApplications}}</div>
        <div class="item-description">{{'project.activeApplications' | translation}}</div>
      </div>
      <div fxFlex class="project-header-item">
        <div class="item-count">{{decidedApplications}}</div>
        <div class="item-description">{{'project.decidedApplications' | translation}}</div>
      </div>
      <div fxFlex class="project-header-item">
        <div class="item-count">{{relatedProjects}}</div>
        <div class="item-description">{{'project.relatedProjects' | translation}}</div>
      </div>
    </div>
  </mat-card-content>
</allu-card>
