<allu-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="flex-start">
      <div fxFlex="50%" class="header-main-info">
        <h2 *ngIf="parent" class="project-header-container">
          <mat-icon color="primary" class="icon-sub">arrow_upward</mat-icon>
          <div>{{'project.title' | translation | uppercase}}</div>
          <a [routerLink]="['/projects', parent.id]">{{parent.identifier | uppercase}}</a>
        </h2>
        <h1 class="project-header-container">
          <div>{{'project.title' | translation | uppercase}} {{project.identifier}}</div>
          <div *ngIf="project.name" class="project-header-details">({{project.name}})</div>
          <div class="project-header-details"> - {{['project.active', project.active] | translation}}</div>
        </h1>
      </div>
      <div fxFlex class="project-header-item">
        <div class="item-count">{{activeApplications}}</div>
        <div class="item-description">{{'project.activeApplications' | translation}}</div>
      </div>
      <div fxFlex class="project-header-item">
        <div class="item-count">{{decidedApplications}}</div>
        <div class="item-description">{{'project.decidedApplications' | translation}}</div>
      </div>
      <div fxFlex class="project-header-item">
        <div class="item-count">{{relatedProjects}}</div>
        <div class="item-description">{{'project.relatedProjects.count' | translation}}</div>
      </div>
    </div>
  </mat-card-content>
</allu-card>
