<!DOCTYPE html>
<html>
  <head>
    <title>Aluevuokraukseen liittyvä päätös</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <p>
    Hei
  </p>
  <p>
    Viestin liitteenä on aluevuokraukseen liittyvä päätös ${attachmentName} liitteineen.
    Tutustukaa päätöksen sisältöön huolellisesti ja ottakaa yhteyttä, mikäli teillä on kysyttävää tai huomautettavaa siihen liittyen.
  </p>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://ecv.microsoft.com/zepZlZSdnT">täällä</a>.
  </p>

  <p>
    Terveisin
  </p>

  <#if handlerName??>
  <p>
    ${handlerName}
  </p>
  </#if>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkitilan lupa- ja asiakaspalvelut<br/>
    Yleisten alueiden valvonta ja infraluvat -yksikkö<br/>
    Puh. 09 310 22111<br/>
    luvat@hel.fi<br/>
    <a href="https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/kaduilla-ja-puistoissa-tehtavat-tyot">https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/kaduilla-ja-puistoissa-tehtavat-tyot</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
