<!DOCTYPE html>
<html>
  <head>
    <title>Johtoselvitys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <p>
    Hei
  </p>
  <p>
    Tämän sähköpostiviestin liitteenä on tilaamanne johtoselvitys ${applicationId} liitteineen. Tutustukaa selvityksen sisältöön huolellisesti ja tilatkaa siinä mahdollisesti mainitut kaapelien maastonäytöt.
  </p>
  <p>
    Mikäli teillä on kysyttävää johtoselvitykseen liittyen ottakaa yhteyttä.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://ecv.microsoft.com/zepZlZSdnT">täällä</a>.
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <address>
    Helsingin kaupunki<br>
    Kaupunkiympäristön asukas- ja yrityspalvelut<br>
    Alueiden käyttö ja valvonta<br>
    Johtotietopalvelu<br>
    Puh. 09 310 31940<br>
    johtotietopalvelu@hel.fi<br>
    <a href="https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/johtotiedot">https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/johtotiedot</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
