<!DOCTYPE html>
<html>
  <head>
    <title>Päätös tapahtumasta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  <p>
    Hei,
  </p>

  <p>
    Viestin liitteenä on tapahtumanne maankäyttöön liittyvä vuokrauspäätös
    ${applicationId} liitteineen. Tutustukaa päätöksen sisältöön
    huolellisesti ja ottakaa yhteyttä, mikäli teillä on kysyttävää
    tai huomautettavaa siihen liittyen.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://ecv.microsoft.com/zepZlZSdnT">täällä</a>.
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <#if handlerName??>
  <p>
    ${handlerName}
  </p>
  </#if>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkitilan lupa- ja asiakaspalvelut<br/>
    Kaupunkitilan käyttö ja maanvuokraus –yksikkö<br/>
    Puh. 09 310 22111<br/>
    ulkoilma@hel.fi<br/>
    <a href="https://www.hel.fi/fi/yritykset-ja-tyo/yritykset-ja-yrittajat/tapahtuman-jarjestaminen/tapahtumailmoitukset-ja-luvat">https://www.hel.fi/fi/yritykset-ja-tyo/yritykset-ja-yrittajat/tapahtuman-jarjestaminen/tapahtumailmoitukset-ja-luvat</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
