<!DOCTYPE html>
<html>
  <head>
    <title>Johtoselvitys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <p>
    Hei
  </p>
  <p>
    Tämän sähköpostiviestin liitteenä on tilaamanne johtoselvitys ${applicationId} liitteineen. Tutustukaa selvityksen sisältöön huolellisesti ja tilatkaa siinä mahdollisesti mainitut kaapelien maastonäytöt. Mikäli teillä on kysyttävää johtoselvitykseen liittyen ottakaa yhteyttä.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <address>
    Helsingin kaupunkiympäristön asukas- ja yrityspalvelut<br>
    Alueidenkäyttö ja -valvonta<br>
    Johtotietopalvelu<br>
    Puh. 09 310 31940<br>
    johtotietopalvelu@hel.fi<br>
    www.hel.fi/katuluvat<br>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
