<!DOCTYPE html>
<html>
  <head>
    <title>Sijoitussopimus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <p>
    Viestin liitteenä on sijoitussopimus ${applicationId} liitteineen.
    Mikäli teillä on kysyttävää tai huomautettavaa asiaan liittyen ottakaa yhteyttä.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://ecv.microsoft.com/zepZlZSdnT">täällä</a>.
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkiympäristön asukas- ja yrityspalvelut<br/>
    Alueiden käyttö ja valvonta<br/>
    Puh. 09 310 22111<br/>
    alueidenkaytto@hel.fi<br/>
    <a href="https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/sijoitussopimus">https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/sijoitussopimus</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
