<!DOCTYPE html>
<html>
  <head>
    <title>Päätös irtisanomisesta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <p>
    Viestin liitteenä on irtisanomispäätös liittyen sijoitussopimukseenne ${applicationId}.
    Mikäli teillä on kysyttävää tai huomautettavaa asiaan liittyen ottakaa yhteyttä.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://response.questback.com/helsinginkaupunki/gjnnyxrb0q">täällä</a>.
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkiympäristön asukas- ja yrityspalvelut<br/>
    Alueidenkäyttö<br/>
    Puh. 09 310 22111<br/>
    alueidenkaytto@hel.fi<br/>
    <a href="http://www.hel.fi/luvat/yleisetalueet">www.hel.fi/luvat/yleisetalueet</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
