<!DOCTYPE html>
<html>
  <head>
    <title>Päätös alueenkäytöstä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  <p>
    Hei,
  </p>

  <p>
    Viestin liitteenä on hakemaanne alueenkäyttöön liittyvä vuokrauspäätös
    ${applicationId} liitteineen. Tutustukaa päätöksen sisältöön
    huolellisesti ja ottakaa yhteyttä, mikäli teillä on kysyttävää
    tai huomautettavaa siihen liittyen.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://ecv.microsoft.com/zepZlZSdnT">täällä</a>.
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <#if handlerName??>
  <p>
    ${handlerName}
  </p>
  </#if>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkiympäristön asukas- ja yrityspalvelut<br/>
    Alueiden käyttö ja valvonta<br/>
    Puh. 09 310 22111<br/>
    ulkoilma@hel.fi<br/>
    <a href="https://www.hel.fi/fi/yritykset-ja-tyo/yritykset-ja-yrittajat/yritysten-luvat-ja-tilat">https://www.hel.fi/fi/yritykset-ja-tyo/yritykset-ja-yrittajat/yritysten-luvat-ja-tilat</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
