<!DOCTYPE html>
<html>
  <head>
    <title>Päätös tapahtumasta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
  <p>
    Hei,
  </p>

  <p>
    viestin liitteenä on tapahtumanne maankäyttöön liittyvä sopimus
    ${applicationId} liitteineen. Tutustukaa sopimuksen sisältöön
    huolellisesti ja ottakaa yhteyttä, mikäli teillä on kysyttävää
    tai huomautettavaa siihen liittyen.
  </p>

  <p>
    ${accompanyingMessage}
  </p>

  <#if totalPrice gt 0 >
    <p>
      Lähetämme laskun erikseen.
    </p>
  </#if>

  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://response.questback.com/helsinginkaupunki/i2ridc3ydx">täällä</a>.
  </p>

  <p>
    Ystävällisin terveisin
  </p>

  <p>
    ${handlerName}
  </p>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkiympäristön asukas- ja yrityspalvelut<br/>
    Alueidenkäyttö<br/>
    Puh. 09 310 22111<br/>
    hkr.ulkoilma@hel.fi<br/>
    <a href="http://www.hel.fi/luvat/yleisetalueet">www.hel.fi/luvat/yleisetalueet</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>