<form [formGroup]="searchForm">
  <div *ngIf="barType === 'SIMPLE'" class="col s12">
      <div class="col s12 input-field search-box">
        <i class="material-icons prefix clickable" (click)="showMore()">add</i>
        <input id="address" type="text" value="{{addressSearch}}"
               placeholder="Hae hankkeita osoitteella"
               [autocompletion]="addressSearchResults"
               (onSearchChange)="onAddressSearchChange($event)"
               (onSelection)="searchAddress($event)"/>
      </div>
  </div>

  <div *ngIf="barType === 'BAR'" class="col s12">
    <div class="input-field col s8">
      <input id="address" type="text" value="{{addressSearch}}"
             [autocompletion]="addressSearchResults"
             (onSearchChange)="onAddressSearchChange($event)"
             (onSelection)="searchAddress($event)"/>
      <label for="address">Kirjoita osoite</label>
    </div>

    <div class="input-field col s2">
      <input type="text" id="startDate" formControlName="startDate" materialize="pickadate" [materializeParams]="pickadateParams"/>
      <label for="startDate">Alkupäivämäärä</label>
    </div>
    <div class="input-field col s2">
      <input type="text" id="endDate" formControlName="endDate" materialize="pickadate" [materializeParams]="pickadateParams"/>
      <label for="endDate">Loppupäivämäärä</label>
    </div>
  </div>

  <div *ngIf="barType === 'ADVANCED'">
    <div class="input-field col s12">
      <input id="address" type="text" value="{{addressSearch}}"
             [autocompletion]="addressSearchResults"
             (onSearchChange)="onAddressSearchChange($event)"
             (onSelection)="searchAddress($event)"/>
      <label for="address">Kirjoita osoite</label>
    </div>

    <div class="input-field col s4">
      <input type="text" id="startDate" formControlName="startDate" materialize="pickadate" [materializeParams]="pickadateParams"/>
      <label for="startDate">Alkupäivämäärä</label>
    </div>
    <div class="input-field col s4">
      <input type="text" id="endDate" formControlName="endDate" materialize="pickadate" [materializeParams]="pickadateParams"/>
      <label for="endDate">Loppupäivämäärä</label>
    </div>
  </div>
</form>