@import '../../assets/colors';

:host {
  .input-field {
    label {
      top: 1.3rem;

    }
  }

  p {
    font-size: .8rem;
    margin-bottom: 0;
  }
}

.search-box {
  background: $allu-card-background;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  input[type="text"] {
    margin-bottom: 0;
    border-bottom: none;
  }

  :focus {
    border-bottom: none;
    box-shadow: none;
  }

  .prefix {
    position: absolute;
    width: 3rem;
    top: 0.5rem;
  }

  .prefix.active {
    color: black;
  }
}
