<form [formGroup]="searchForm">
  <div *ngIf="barType === 'SIMPLE'" class="search-box">
    <div class="input-with-addon">
        <button (click)="showMore()" class="input-addon-item addon-btn"><md-icon>subject</md-icon></button>
        <input id="address" type="text" formControlName="address"
               class="input-addon-field last-item"
               placeholder="Hae hankkeita osoitteella"
               [autocompletion]="addressSearchResults"
               (onSearchChange)="onAddressSearchChange($event)"
               (onSelection)="searchAddress($event)"/>
    </div>
  </div>

  <div *ngIf="barType === 'BAR'" class="row">
    <div class="col s8">
      <input-box>
        <input boxInput type="text" formControlName="address"
               placeholder="Hae osoitteella"
               [autocompletion]="addressSearchResults"
               (onSearchChange)="onAddressSearchChange($event)"
               (onSelection)="searchAddress($event)"/>
      </input-box>
    </div>

    <div class="col s2">
      <input-box>
        <input boxInput type="text" formControlName="startDate" placeholder="Alkupäivämäärä"
               materialize="pickadate"
               [materializeParams]="pickadateParams"/>
        <field-error [form]="searchForm" field="startDate" hasError="required">
          {{'application.common.field.validityStartTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
    <div class="col s2">
      <input-box>
        <input boxInput type="text" formControlName="endDate" placeholder="Loppupäivämäärä"
               materialize="pickadate"
               [materializeParams]="pickadateParams"/>
        <field-error [form]="searchForm" field="endDate" hasError="required">
          {{'application.common.field.validityEndTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
  </div>

  <div *ngIf="barType === 'ADVANCED'">
    <div class="col s12">
      <md-input-container class="input-full-width">
        <input mdInput type="text" value="{{addressSearch}}"
               placeholder="Hae osoitteella"
               [autocompletion]="addressSearchResults"
               (onSearchChange)="onAddressSearchChange($event)"
               (onSelection)="searchAddress($event)"/>
      </md-input-container>
    </div>

    <div class="input-field col s4">
      <md-input-container class="input-full-width">
        <input mdInput type="text" formControlName="startDate" placeholder="Alkupäivämäärä"
               materialize="pickadate"
               [materializeParams]="pickadateParams"/>
      </md-input-container>
    </div>
    <div class="input-field col s4">
      <md-input-container class="input-full-width">
        <input mdInput type="text" formControlName="endDate" placeholder="Loppupäivämäärä"
               materialize="pickadate"
               [materializeParams]="pickadateParams"/>
      </md-input-container>
    </div>
  </div>
</form>
