<form [formGroup]="searchForm">
  <div *ngIf="barType === 'SIMPLE'" class="search-box">
    <div class="input-with-addon input-raised">
      <button type="button" (click)="showMore()" class="input-addon-item addon-btn"><md-icon>subject</md-icon></button>
      <input type="text" formControlName="address"
             class="input-addon-field last-item"
             placeholder="Hae osoitteella"
             (keyup.enter)="addressSelected(searchForm.value.address)"
             [mdAutocomplete]="addressSearch"/>
      <md-autocomplete #addressSearch="mdAutocomplete">
        <md-option *ngFor="let address of matchingAddresses | async"
                   [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
          {{ address.uiStreetAddress }}
        </md-option>
      </md-autocomplete>
    </div>
  </div>

  <div *ngIf="barType === 'BAR'" class="row">
    <div class="col s8">
      <input-box class="input-raised">
        <input type="text" formControlName="address"
               inputBoxInput placeholder="Hae osoitteella"
               (keyup.enter)="addressSelected(searchForm.value.address)"
               [mdAutocomplete]="addressSearch"/>
      </input-box>
      <md-autocomplete #addressSearch="mdAutocomplete">
        <md-option *ngFor="let address of matchingAddresses | async"
                   [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
          {{ address.uiStreetAddress }}
        </md-option>
      </md-autocomplete>
    </div>
    <div class="col s2">
      <input-box class="input-raised">
        <input inputBoxInput type="text" formControlName="startDate" placeholder="Alkupäivämäärä" [mdDatepicker]="startDatePicker"/>
        <md-datepicker-toggle mdSuffix [for]="startDatePicker" inputBoxSuffix></md-datepicker-toggle>
        <md-datepicker #startDatePicker></md-datepicker>
        <field-error [form]="searchForm" field="startDate" hasError="required">
          {{'application.common.field.validityStartTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
    <div class="col s2">
      <input-box class="input-raised">
        <input inputBoxInput type="text" formControlName="endDate" placeholder="Loppupäivämäärä" [mdDatepicker]="endDatePicker"/>
        <md-datepicker-toggle mdSuffix [for]="endDatePicker" inputBoxSuffix></md-datepicker-toggle>
        <md-datepicker #endDatePicker></md-datepicker>
        <field-error [form]="searchForm" field="endDate" hasError="required">
          {{'application.common.field.validityEndTimeMissing' | translation}}
        </field-error>
      </input-box>
    </div>
  </div>

  <div *ngIf="barType === 'ADVANCED'">
    <div class="col s12">
      <md-form-field class="input-full-width">
        <input mdInput type="text" formControlName="address"
               placeholder="Hae osoitteella"
               (keyup.enter)="addressSelected(searchForm.value.address)"
               [mdAutocomplete]="addressSearch"/>
        <md-autocomplete #addressSearch="mdAutocomplete">
          <md-option *ngFor="let address of matchingAddresses | async"
                     [value]="address.uiStreetAddress" (click)="addressSelected(address.uiStreetAddress)">
            {{ address.uiStreetAddress }}
          </md-option>
        </md-autocomplete>
      </md-form-field>
    </div>

    <div class="input-field col s6">
      <md-form-field class="input-full-width">
        <input mdInput type="text" formControlName="startDate" placeholder="Alkupäivämäärä"
               [mdDatepicker]="startDatePicker"/>
        <md-datepicker-toggle mdSuffix [for]="startDatePicker" inputBoxSuffix></md-datepicker-toggle>
        <md-datepicker #startDatePicker></md-datepicker>
      </md-form-field>
    </div>
    <div class="input-field col s6">
      <md-form-field class="input-full-width">
        <input mdInput type="text" formControlName="endDate" placeholder="Loppupäivämäärä"
               [mdDatepicker]="endDatePicker"/>
        <md-datepicker-toggle mdSuffix [for]="endDatePicker" inputBoxSuffix></md-datepicker-toggle>
        <md-datepicker #endDatePicker></md-datepicker>
      </md-form-field>
    </div>
  </div>
</form>
