<h1 mat-dialog-title>{{'contact.title' | translation}}</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
  <div mat-dialog-content>
    <div class="row form-group">
      <div class="col m6">
        <mat-form-field class="input-full-width">
          <mat-label>{{'contact.name' | translation}}</mat-label>
          <input matInput type="text" formControlName="name" required/>
          <mat-hint>
            <field-error [form]="contactForm" field="name" hasError="required">{{'common.field.nameMissing' |
              translation}}
            </field-error>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row form-group">
      <div class="col m6">
        <mat-form-field class="input-full-width">
          <mat-label>{{'postalAddress.streetAddress' | translation}}</mat-label>
          <input matInput type="text" formControlName="streetAddress"/>
        </mat-form-field>
      </div>
      <div class="col m3">
        <mat-form-field class="input-full-width">
          <mat-label>{{'postalAddress.postalCode' | translation}}</mat-label>
          <input matInput type="text" formControlName="postalCode"/>
          <mat-hint>
            <field-error [form]="contactForm" field="postalCode" hasError="pattern">{{'common.field.postalCode' |
              translation}}
            </field-error>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col m3">
        <mat-form-field class="input-full-width">
          <mat-label>{{'contact.postalAddress.postalOffice' | translation}}</mat-label>
          <input matInput type="text" formControlName="city"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row form-group">
      <div class="col m6">
        <mat-form-field class="input-full-width">
          <mat-label>{{'emailAddress' | translation}}</mat-label>
          <input matInput type="text" formControlName="email"/>
          <mat-hint>
            <field-error [form]="contactForm" field="email" hasError="email">
              {{'common.field.emailInvalid' | translation}}
            </field-error>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col m6">
        <mat-form-field class="input-full-width">
          <mat-label>{{'phone' | translation}}</mat-label>
          <input matInput type="text" formControlName="phone"/>
          <mat-hint>
            <field-error [form]="contactForm" field="phone" hasError="minlength">{{'contact.field.phoneShort' |
              translation}}
            </field-error>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" [disabled]="!contactForm.valid">{{'common.button.save' | translation | uppercase}}</button>
    <button type="button" mat-raised-button color="primary" (click)="cancel()">{{'common.button.cancel' | translation | uppercase}}</button>
  </div>
</form>
