<div [formGroup]="parentForm">
  <div formArrayName="contacts">
    <ng-container *ngFor="let contact of contacts.controls; let index=index">
      <div class="col m6 loose" *ngIf="contact.value.active">
        <div [formGroupName]="index" class="no-border">
          <allu-card>
            <mat-card-header>
              <mat-card-title>{{'contact.title' | translation}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row form-group">
                <div class="col m6">
                  <mat-form-field class="input-full-width">
                    <mat-label>{{'contact.name' | translation}}</mat-label>
                    <input matInput type="text" formControlName="name" required/>
                    <mat-hint>
                      <field-error [form]="contact" field="name" hasError="required">{{'common.field.nameMissing' |
                        translation}}
                      </field-error>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row form-group">
                <div class="col m6">
                  <mat-form-field class="input-full-width">
                    <mat-label>{{'postalAddress.streetAddress' | translation}}</mat-label>
                    <input matInput type="text" formControlName="streetAddress"/>
                  </mat-form-field>
                </div>
                <div class="col m3">
                  <mat-form-field class="input-full-width">
                    <mat-label>{{'postalAddress.postalCode' | translation}}</mat-label>
                    <input matInput type="text" formControlName="postalCode"/>
                    <mat-hint>
                      <field-error [form]="contact" field="postalCode" hasError="pattern">{{'common.field.postalCode' |
                        translation}}
                      </field-error>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col m3">
                  <mat-form-field class="input-full-width">
                    <mat-label>{{'contact.postalAddress.postalOffice' | translation}}</mat-label>
                    <input matInput type="text" formControlName="city"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="row form-group">
                <div class="col m6">
                  <mat-form-field class="input-full-width">
                    <mat-label>{{'emailAddress' | translation}}</mat-label>
                    <input matInput type="text" formControlName="email"/>
                    <mat-hint>
                      <field-error [form]="contact" field="email" hasError="email">
                        {{'common.field.emailInvalid' | translation}}
                      </field-error>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col m6">
                  <mat-form-field class="input-full-width">
                    <mat-label>{{'phone' | translation}}</mat-label>
                    <input matInput type="text" formControlName="phone"/>
                    <mat-hint>
                      <field-error [form]="contact" field="phone" hasError="minlength">{{'contact.field.phoneShort' |
                        translation}}
                      </field-error>
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row form-group" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
                <div class="col m12">
                  <button mat-raised-button type="button" color="primary" (click)="removeContact(index, contact.value)">
                    {{'common.button.remove' | translation | uppercase}}
                  </button>
                </div>
              </div>
            </mat-card-content>
          </allu-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
