<div class="search-bar">
  <div fxLayout="row" fxFlexAlign="space-between center" class="header-row">
    <div fxFlex>
      <h1>{{'workqueue.title' | translation | uppercase }}</h1>
    </div>
    <div fxFlex="0 1 auto">
      <div fxLayout="row" fxLayoutGap="18px">
          <div fxFlex="none" *ngIf="defaultFilter | async as filter">
            <input-box class="input-box-icon-button">
              <button inputBoxInput
                      class="input-box-content allu-icon-button"
                      (click)="selectFilter(filter)">
                <mat-icon color="primary" class="mat-icon-36">home</mat-icon>
              </button>
            </input-box>
          </div>
        <div fxFlex="0 0 220px"
             fxFlex.lt-md="100%">
          <stored-filter [type]="WORKQUEUE_FILTER"
                         [selectedFilter]="selectedFilter | async"
                         [availableFilters]="availableFilters | async"
                         [filter]="applicationFilter | async"></stored-filter>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="queryForm">
    <div class="row row-slim">
      <div class="col s2">
        <mat-form-field class="input-full-width">
          <mat-label>{{'applicationSearch.type' | translation}}</mat-label>
          <mat-select formControlName="type" [multiple]="true" class="input-full-width">
            <mat-option *ngFor="let type of applicationTypes" [value]="type">
              {{['application.type', type] | translation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2" [hidden]="(tab$ | async)==='OWN'">
        <mat-form-field class="input-full-width">
          <mat-label>{{'applicationSearch.owner' | translation}}</mat-label>
          <mat-select formControlName="owner" [multiple]="true" class="input-full-width">
            <mat-option *ngFor="let owner of owners" [value]="owner.userName">{{owner.realName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2">
        <mat-form-field class="input-full-width">
          <mat-label>{{'applicationSearch.status' | translation}}</mat-label>
          <mat-select formControlName="status" [multiple]="true" class="input-full-width">
            <mat-option *ngFor="let status of applicationStatuses" [value]="status">
              {{['application.status', status] | translation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2">
        <mat-form-field class="input-full-width">
          <mat-label>{{'application.cityDistrict' | translation}}</mat-label>
          <mat-select formControlName="districts" [multiple]="true" class="input-full-width">
            <mat-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col s2">
        <mat-form-field class="input-full-width">
          <mat-label>{{'applicationSearch.startTime' | translation}}</mat-label>
          <input matInput type="text" formControlName="startTime"
                 [matDatepicker]="startTimePicker"/>
          <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
          <mat-datepicker #startTimePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col s2">
        <mat-form-field class="input-full-width">
          <mat-label>{{'applicationSearch.endTime' | translation}}</mat-label>
          <input matInput type="text" formControlName="endTime"
                 [matDatepicker]="endTimePicker"/>
          <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
          <mat-datepicker #endTimePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col s12 item-bar">
        <div class="item-bar-content">
          <span>{{'application.tags' | translation}}:</span>
          <mat-chip-listbox multiple formControlName="tags">
            <mat-chip-option *ngFor="let type of tagTypes" [value]="type">
              {{['application.tag.type', type] | translation}}
            </mat-chip-option>
          </mat-chip-listbox>
        </div>
      </div>
    </div>
  </form>
</div>
