@import '../../assets/colors';

:host {
  background-color: $allu-background;

  .searchresults {
    bottom: 0;
    overflow-y: scroll;
    position: absolute;
    top: 0;
  }

  md-card {
    margin: 10px 0;
  }
}
