<div *ngIf="loading; else areaList">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #areaList>
  <mat-action-list>
    <button type="button"
            mat-list-item
            *ngFor="let userArea of userAreas"
            [ngClass]="{'selected': isSelected(userArea)}"
            (click)="selectArea(userArea)">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" class="menu-row">
        <div fxFlex="none" class="menu-row-header">
          {{userArea?.properties.id}}
        </div>
        <div fxFlex="none" class="menu-row-content">
          <div class="content-item row-details">{{userArea?.properties.aika | date:'short'}}</div>
        </div>
      </div>
    </button>
  </mat-action-list>
  <button
    type="button"
    mat-raised-button
    color="primary"
    class="centered"
    (click)="selectAll()">{{'common.button.addAll' | translation}}</button>
</ng-template>
