@import '../../../assets/colors';

.btn-chip {
  display: inline-block;
  padding: 8px 12px;
  margin: 2px 0px;
  border-radius: 24px;
  font-size: 13px;
  line-height: 16px;
  height: 32px;
  background-color: $allu-chip-dark;
  color: mat-contrast($allu-primary, 500);
  border-width: 0px;
}

.btn-chip.selected {
  background-color: mat-color($allu-accent, 500);
  font-weight: bold;
  letter-spacing: 1.5px;
}