@import '../../../assets/colors';

.btn-chip {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 24px;
  font-size: 13px;
  line-height: 16px;
  height: 32px;
  background-color: $allu-chip-dark;
  color: md-contrast($allu-primary, 500);
  border-width: 0px;
}

.btn-chip.selected {
  background-color: md-color($allu-accent, 500);
}