<div class="main-content">
  <div class="search-bar">
    <h1>HAKU</h1>
    <form [formGroup]="queryForm">
      <div class="row">
        <div class="col m4 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="applicationId"
                   [placeholder]="'applicationSearch.applicationId' | translation"/>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="type" [multiple]="true"
                        [placeholder]="'applicationSearch.type' | translation" class="input-full-width">
              <mat-option *ngFor="let option of applicationTypeStrings" [value]="option">
                {{ ['application.type', option] | translation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="status" [multiple]="true"
                        [placeholder]="'applicationSearch.status' | translation" class="input-full-width">
              <mat-option *ngFor="let option of applicationStatusStrings" [value]="option">
                {{ ['application.status', option] | translation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="districts" [multiple]="true"
                        [placeholder]="'application.cityDistrict' | translation" class="input-full-width">
              <mat-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="handler" [multiple]="true"
                        [placeholder]="'applicationSearch.handler' | translation" class="input-full-width">
              <mat-option *ngFor="let handler of handlers | async" [value]="handler.userName">{{handler.realName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col m4 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="address"
                   [placeholder]="'applicationSearch.address' | translation"/>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="applicant"
                   [placeholder]="'application.applicant' | translation"/>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="contact"
                   [placeholder]="'application.contact' | translation"/>
          </mat-form-field>
        </div>
        <div class="col m2 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="freeText"
                   [placeholder]="'common.freeTextSearch' | translation"/>
          </mat-form-field>
        </div>
        <div class="col m1 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="startTime"
                   [placeholder]="'applicationSearch.startTime' | translation"
                   [matDatepicker]="startTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #startTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col m1 s6">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="endTime"
                   [placeholder]="'applicationSearch.endTime' | translation"
                   [matDatepicker]="endTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #endTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col m12 s12">
          <button (click)="search()" mat-raised-button type="button" color="primary">HAE</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class=" col s12">
      <table class="bordered responsive-table">
        <thead>
        <tr>
          <th sortBy="handler.userName" [currentSort]="sort" (onSortChange)="sortBy($event)">{{'application.handler' |
            translation}}
          </th>
          <th sortBy="name" [currentSort]="sort" (onSortChange)="sortBy($event)">{{'application.name' | translation}}
          </th>
          <th sortBy="type" [currentSort]="sort" (onSortChange)="sortBy($event)">{{'application.type.title' |
            translation}}
          </th>
          <th sortBy="status" [currentSort]="sort" (onSortChange)="sortBy($event)">{{'application.status.title' |
            translation}}
          </th>
          <th>Hanke</th>
          <th sortBy="customers.applicant.customer.name" [currentSort]="sort" (onSortChange)="sortBy($event)">
            {{'application.applicant' | translation}}
          </th>
          <th sortBy="locations.streetAddress" [currentSort]="sort" (onSortChange)="sortBy($event)">
            {{'application.streetAddress' | translation}}
          </th>
          <th sortBy="locations.cityDistrictId" [currentSort]="sort" (onSortChange)="sortBy($event)">
            {{'application.cityDistrict' | translation}}
          </th>
          <th sortBy="creationTime" [currentSort]="sort" (onSortChange)="sortBy($event)">{{'application.creationTime' |
            translation}}
          </th>
          <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">{{'application.startTime' |
            translation}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let application of applications" class="clickable row-highlight"
            (click)="goToSummary(application)">
          <td>{{application.handler?.realName}}</td>
          <td>{{application.name}}</td>
          <td>{{ ['application.type', application.type] | translation }}</td>
          <td>{{ ['application.status', application.status] | translation }}</td>
          <td>
            {{application.project?.name}} <br>
            <span>{{application.project?.id}}</span>
          </td>
          <td>{{application.applicant.customer.name}}</td>
          <td>{{application.firstLocation.postalAddress.streetAddress}}</td>
          <td>{{districtName(application.firstLocation.effectiveCityDistrictId) | async}}</td>
          <td>{{application.uiApplicationCreationTime}}</td>
          <td>{{application.uiStartTime}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
