<md-sidenav-container>
    <md-sidenav mode="side" [opened]="sidenavOpen">
        <div class="sidenav-header flex-container">
            <h1 class="flex-item">Osoitehaku</h1>
            <button class="btn-right" (click)="hideAdvancedSearch()"><md-icon>clear</md-icon></button>
        </div>
        <div class="row">
            <div class="col m12">
                <searchbar *ngIf="sidenavOpen" barType="ADVANCED"></searchbar>
            </div>

            <div class="col m12"><h1>Hakutulokset</h1></div>
            <div class="col m12">
                <application-list>Ladataan hakemuksia</application-list>
            </div>
        </div>
    </md-sidenav>
    <div class="mapcontainer">
        <div *ngIf="!sidenavOpen" class="map-overlay">
            <searchbar barType="SIMPLE" (onShowAdvanced)="showAdvancedSearch()"></searchbar>
        </div>
        <map [zoom]="true" [draw]="true" [selection]="true">Ladataan karttaa</map>
        <div class="map-action-buttons" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
            <button md-fab color="accent" [routerLink]="['/applications/location']"
                    mdTooltip="Uusi hakemus" mdTooltipPosition="above">
                <md-icon>filter_none</md-icon>
            </button>
            <button md-fab color="accent" [routerLink]="['/projects/edit']"
                    mdTooltip="Uusi hanke" mdTooltipPosition="above">
                <md-icon>line_style</md-icon>
            </button>
        </div>
    </div>
</md-sidenav-container>