@import '../../assets/colors';
@import '../../assets/variables';

:host {
  .row {
    margin-bottom: 0;
  }

  .input-field {
    label {
      left: 0;
      top: 1.3rem;
    }
  }
}

application-list {
  position: relative;
  width: 100%;
}

.mapcontainer {
  height: 94vh;
  position: relative;

  .map-overlay {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: $over-map;
    width: 25vw;
  }

  .map-action-buttons {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: $over-map;

    button {
      .material-icons {
        color: mat-contrast($allu-accent, 800);
      }
    }
  }

}

md-sidenav {
  width: 400px;
}

.sidenav-header {
  margin-top: 15px;
}

.btn-right {
  display:inline-block;
  padding: .5em .75em;
  border: 1px solid #dcdcdc;
  flex: 0;
  border-radius: 6px 0 0 6px;
  background-color: mat-color($allu-accent, 500);
  min-width: 60px;
  width: 60px;
  height: 60px;

  .material-icons {
    color: mat-contrast($allu-accent, 800);
  }
}
