@import '../../assets/colors';

:host {
  .row {
    margin-bottom: 0;
  }

  .input-field {
    label {
      left: 0;
      top: 1.3rem;
    }
  }
}

application-list {
  position: relative;
  width: 100%;
}

.mapcontainer {
  height: 100vh;
  position: relative;

  .map-overlay {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: 314159;
    width: 25vw;
  }
}

md-sidenav {
  width: 400px;
}
