<div fxLayout="row wrap" class="history-item">
  <div fxFlex="0 0 15%">
    {{time | date:'short'}}
  </div>
  <div fxFlex="0 0 20%" class="text-highlight">
    {{['history.change.type', type] | translation}}
  </div>
  <div fxFlex="0 0 20%" class="text-highlight">
    <a *ngIf="description.ref; else plainContent" [routerLink]="description.ref">{{description.content}}</a>
    <ng-template #plainContent>{{description.content}}</ng-template>
    <span *ngIf="fieldChanges.length"
          [matBadge]="fieldChanges.length"
          matBadgeOverlap="false"
          matBadgeColor="accent"
          class="allu-badge-center"></span>
  </div>
  <div fxFlex="0 0 20%">
    {{user}}
  </div>
</div>
