<allu-card class="full-width">
  <mat-card-title class="allu-card-title">
    {{'history.title' | translation}}
  </mat-card-title>

  <mat-card-subtitle class="allu-card-title">
    {{'common.time.today' | translation | uppercase}}
  </mat-card-subtitle>
  <mat-card-content>
    <ul class="history-items">
      <li *ngFor="let change of changesToday$ | async" class="allu-card-content">
        <history-item [change]="change"></history-item>
      </li>
    </ul>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-subtitle class="allu-card-title">
    {{'common.time.withinWeek' | translation | uppercase}}
  </mat-card-subtitle>
  <mat-card-content>
    <ul class="history-items">
      <li *ngFor="let change of changesWithinWeek$ | async" class="allu-card-content">
        <history-item [change]="change"></history-item>
      </li>
    </ul>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-subtitle class="allu-card-title">
    {{'common.time.older' | translation | uppercase}}
  </mat-card-subtitle>
  <mat-card-content>
    <ul class="history-items">
      <li *ngFor="let change of olderChanges$ | async" class="allu-card-content">
        <history-item [change]="change"></history-item>
      </li>
    </ul>
  </mat-card-content>
</allu-card>
