@use '@angular/material' as mat;
@mixin history-theme($theme) {
  $primary: map-get($theme, primary);

  ul.history-items {
    li:nth-of-type(odd) .history-item {
      background: mat.get-color-from-palette($primary, 100);
    }

    li:nth-of-type(even) .history-item {
      background: mat.get-color-from-palette($primary, 50);
    }
  }
}
