<allu-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-title fxFlex="auto">
      {{'history.title' | translation}}
    </mat-card-title>
    <mat-slide-toggle
      fxFlex="0 0 auto"
      labelPosition="before"
      [checked]="fieldsVisible$ | async"
      (change)="toggleFieldVisibility($event)">
      {{'history.showFieldChanges' | translation}}
    </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content class="history-items">
    <div class="centered-container" *ngIf="loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <history-item-group
      [changes]="changesToday$ | async"
      [title]="'common.time.today' | translation | uppercase"
      [meta]="meta$ | async"
      [fieldsVisible]="fieldsVisible$ | async">
    </history-item-group>

    <ng-container *ngIf="changesWithinWeek$ | async as changesWithinWeek">
      <ng-container *ngIf="changesWithinWeek.length">
        <mat-divider class="divider-loose divider-primary"></mat-divider>
        <history-item-group
          [changes]="changesWithinWeek"
          [title]="'common.time.withinWeek' | translation | uppercase"
          [meta]="meta$ | async"
          [fieldsVisible]="fieldsVisible$ | async">
        </history-item-group>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="olderChanges$ | async as olderChanges">
      <ng-container *ngIf="olderChanges.length">
        <mat-divider class="divider-loose divider-primary"></mat-divider>
        <history-item-group
          [changes]="olderChanges"
          [title]="'common.time.older' | translation | uppercase"
          [meta]="meta$ | async"
          [fieldsVisible]="fieldsVisible$ | async">
        </history-item-group>
      </ng-container>
    </ng-container>
  </mat-card-content>
</allu-card>
