@import '../../../assets/colors';

// deep makes styles available for child components
:host /deep/ {
  background-color: $allu-background;
  padding-top: 10px;

  .input-field {
    textarea.materialize-textarea {
      padding-bottom: 0;
      padding-top: 4px;
    }

    textarea.textarea {
      padding-bottom: 42px;
      padding-top: 4px;
    }

    label {
      top: .5rem;
    }
  }

  .country-select {
    margin-top: 15px;
  }

  .no-padding {
    padding: 0;
  }

  .buttons {
    margin: 40px 0 11px;
  }

  .height-fix-top {
    height: 3rem;
    margin-top: 26px;
  }

  .height-fix-bottom {
    margin-bottom: 5px;
  }

  .mapcontainer {
    height: 49vh;
    position: relative;
  }

  input[type="text"] {
    border-bottom: 2px solid $allu-field-border-ok;
    color: $allu-field-text-ok;
  }

  .materialize-textarea {
    border-bottom: 2px solid $allu-field-border-ok;
    color: $allu-field-text-ok;
  }

  input[type="checkbox"]:disabled:checked:after + label:after {
    background-color: $allu-field-border-ok;
    border-color: $allu-field-border-ok;
  }

  .validate {
    border-bottom: 2px solid $allu-field-border-ok;
    color: $allu-field-text-ok;
  }

  .summary-checkbox {
    color: $allu-field-border-ok;
  }
}
