<div class="main-content work-queue-controls">
  <supervision-workqueue-filter></supervision-workqueue-filter>

  <div class="row">
    <div class="col s12">
      <div class="labels-solid labels-end">
        <mat-tab-group (selectChange)="tabSelected($event)">
          <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>{{['workqueue.tab', tab] | translation}}</ng-template>
            <supervision-workqueue-content></supervision-workqueue-content>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
