<div class="main-content">
  <div fxLayout="row" class="action-bar-loose">
    <div fxFlex>
      <a mat-raised-button type="button" color="primary" [routerLink]="['new']">{{'common.button.new' | translation | uppercase}}</a>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <table class="bordered responsive-table">
        <thead>
        <tr>
          <th></th>
          <th>{{'name' | translation}}</th>
          <th>{{'user.applicationTypes' | translation}}</th>
          <th>{{'attachment.fixedAreas' | translation}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of attachmentRows" class="clickable row-highlight"
            (click)="goToDetails($event.target.cellIndex, row)">
          <td>
            <button mat-icon-button type="button" color="primary" (click)="remove(row)">
              <mat-icon>clear</mat-icon>
            </button>
          </td>
          <td>{{row.content.name}}</td>
          <td>{{translateArray('application.type', row.content.applicationTypes) | commaSeparated}}</td>
          <td>{{areaName(row.content.fixedLocationId) | async}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
