<div class="mat-elevation-z8 data-table data-table-with-paging">
  <div class="loading-shade" *ngIf="dataSource.loading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort [trackBy]="trackById">
    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef class="mat-cell-selection">
        <div>
          <mat-checkbox
            [checked]="(someSelected$ | async) && (allSelected$ | async)"
            [indeterminate]="(someSelected$ | async) && !(allSelected$ | async)"
            (change)="checkAll()"></mat-checkbox>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-cell-selection">
        <mat-checkbox
          [checked]="selected(row.id) | async"
          (change)="checkSingle(row.id)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner.userName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.owner' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.owner?.realName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="applicationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.applicationId' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a class="row-details-link" [routerLink]="['/applications', row.id, 'summary']">
          {{row.applicationId}}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.type.title' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['application.type', row.type] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.status.title' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['application.status', row.status] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="project.identifier">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>{{'project.title' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a *ngIf="row.project" class="row-details-link" [routerLink]="['/projects', row.project.id]">
          {{row.project.identifier}}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customers.applicant.customer.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.applicant' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.applicant.customer?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locations.address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.streetAddress' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locations.cityDistrictId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.cityDistrict' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{districtName(row.firstLocation.effectiveCityDistrictId) | async}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="receivedTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'applicationSearch.receivedTime' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.receivedTime | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.startTime' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.startTime | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ownerNotification">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.changes' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button
                type="button"
                color="accent"
                *ngIf="row.ownerNotification"
                (click)="showChanges(row.id)">
          {{'common.button.show' | translation | uppercase}}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="latestComment">
      <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayoutAlign="start center"
             class="details-cell details-cell-text"
             *ngIf="row.latestComment">
          <button
            mat-icon-button
            type="button"
            color="primary"
            (click)="showComments(row.id)">
            <mat-icon [matBadge]="row.nrOfComments">chat_bubble_outline</mat-icon>
          </button>
          <div fxFlex
               class="text-italic comment-content">
            {{row.latestComment}}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="18px"
             class="details-cell"
             *ngIf="row.applicationTags?.length">
          <div fxFlex>
            <mat-chip-list>
              <mat-chip *ngFor="let tag of row.applicationTags"
                        [selected]="tagSelected(tag.type) | async"
                        class="accent-chip slim-chip"
                        color="accent">
                {{['application.tag.type', tag.type] | translation}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i = dataIndex;"
             class="content-row"
             [class.row-highlight]="highlight(i)"
             (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave()"></mat-row>

    <mat-row *matRowDef="let row; columns: ['latestComment', 'tags']; let i = dataIndex;"
             class="details-row details-row-last" [class.row-highlight]="highlight(i)"
             (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave()"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<!--For modal entries -->
<router-outlet></router-outlet>
