.content-pdf {
  height: 100%;
}

.content-placeholder {
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.cannot-show *:not(:first-child) {
  padding-left: 4px;
}

.pdf-view-content {
  height: 100%;
  background: white;
  border: 1px solid #dcdcdc;
  text-align: center;
}
