<mat-card>
  <mat-card-title>
    <div *ngIf="comment.id === undefined">
      Uusi kommentti
    </div>
    <div *ngIf="comment.id !== undefined">
      {{['comment.type', comment.type] | translation}}
    </div>
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="edit">
      <div class="row no-left-pad">
        <div class="col m4">
          <mat-form-field class="input-full-width">
            <mat-select placeholder="Kommentin tyyppi" class="input-full-width" [(ngModel)]="comment.type">
              <mat-option *ngFor="let type of commentTypes" [value]="type">
                {{['comment.type', type] | translation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="comment.id !== undefined">
      <div class="save-info">
        <span>{{comment.user.realName}} {{comment.uiCreateTime}}</span>
        <span *ngIf="comment.updateTime">- Päivitetty {{comment.uiUpdateTime}}</span>
      </div>
    </div>
    <div class="row no-left-pad">
      <div class="col s12">
        <mat-form-field class="input-full-width" *ngIf="edit">
          <textarea matInput matTextareaAutosize [(ngModel)]="comment.text" id="commentText"
                    placeholder="Kommentit"></textarea>
        </mat-form-field>

        <p *ngIf="!edit" class="text-multiline">{{comment.text}}</p>
      </div>
    </div>
    <div class="row" *ngIf="comment.id === undefined">
      <button mat-raised-button type="button" color="primary" (click)="save()">TALLENNA</button>
      <button mat-raised-button type="button" color="primary" (click)="remove()">PERUUTA</button>
    </div>
    <div class="row" *ngIf="canEdit">
      <div *ngIf="edit">
        <button mat-raised-button type="button" color="primary" (click)="save()">TALLENNA</button>
        <button mat-raised-button type="button" color="primary" (click)="cancel()">PERUUTA</button>
      </div>
      <div *ngIf="!edit">
        <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
          <button mat-raised-button type="button" color="primary" (click)="editComment()">MUOKKAA</button>
          <button mat-raised-button type="button" color="primary" (click)="remove()">POISTA</button>
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>
