<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-title>
      <div *ngIf="form.value.id === undefined">
        {{'comment.newComment' | translation}}
      </div>
      <div *ngIf="form.value.id !== undefined">
        {{['comment.type', form.value.type] | translation}}
      </div>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="form.enabled">
        <div class="row no-left-pad">
          <div class="col m4">
            <mat-form-field class="input-full-width">
              <mat-select [placeholder]="'comment.commentType' | translation" class="input-full-width" formControlName="type">
                <mat-option *ngFor="let type of commentTypes" [value]="type">
                  {{['comment.type', type] | translation}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div *ngIf="form.value.id !== undefined">
        <div class="save-info">
          <span>{{form.value.user.realName}} {{form.value.createTime | date:'shortDate'}}</span>
          <span *ngIf="form.value.updateTime">- {{'comment.updated' | translation}} {{form.value.updateTime | date:'shortDate'}}</span>
        </div>
      </div>
      <div class="row no-left-pad">
        <div class="col s12">
          <mat-form-field class="input-full-width" *ngIf="form.enabled">
            <textarea matInput matTextareaAutosize formControlName="text" id="commentText"
                      [placeholder]="'comment.comments' | translation"></textarea>
          </mat-form-field>

          <p *ngIf="form.disabled" class="text-multiline">{{form.value.text}}</p>
        </div>
      </div>
      <div class="row" *ngIf="form.value.id === undefined">
        <button mat-raised-button type="button" color="primary" (click)="save()">{{'common.button.save' | translation}}</button>
        <button mat-raised-button type="button" color="primary" (click)="remove()">{{'common.button.cancel' | translation}}</button>
      </div>
      <div class="row" *ngIf="canEdit">
        <div *ngIf="form.enabled">
          <button mat-raised-button type="button" color="primary" (click)="save()">{{'common.button.save' | translation}}</button>
          <button mat-raised-button type="button" color="primary" (click)="cancel()">{{'common.button.cancel' | translation}}</button>
        </div>
        <div *ngIf="form.disabled">
          <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
            <button mat-raised-button type="button" color="primary" (click)="editComment()">{{'common.button.edit' | translation}}</button>
            <button mat-raised-button type="button" color="primary" (click)="remove()">{{'common.button.remove' | translation}}</button>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
