<div class="" style="background: whitesmoke; padding-top:10px;">
  <md-content layout-padding layout-wrap style="">
    <div class="" style="width: 40%;">
      <md-card style="padding-right:100px;">
        <md-card-title>Hakemuksen tyyppi</md-card-title>
        <md-card-content>
          <md-input-container>
            <label class="md-input-placeholder md-float" for="type">Valitse hakemuksen tyyppi</label>
            <br>
            <select style="width: 100%;" class="" name="type" [(ngModel)]="application.type">
              <option value="Muu">Muu</option>
              <option value="Ulkoilmatapahtuma">Ulkoilmatapahtuma</option>
            </select>
          </md-input-container>
        </md-card-content>
      </md-card>
    </div>

    <div style="display:flex; flex-direction: row;">
      <md-card class="demo-card demo-basic" style="padding-right:100px; flex:50;">
        <md-card-title>Hakija</md-card-title>
        <md-card-content>
          <md-input class="demo-full-width" placeholder="Yritys" style="width:50%;">
          </md-input>

          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 80%;"><md-input placeholder="Yrityksen nimi" [(ngModel)]="application.applicant.companyName" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Y-tunnus" [(ngModel)]="application.applicant.businessID" style="width: 100%"></md-input></td>
          </tr></table>
          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 80%;"><md-input placeholder="Hakijan nimi" [(ngModel)]="application.applicant.name" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Hekilötunnus" [(ngModel)]="application.applicant.social" style="width: 100%"></md-input></td>
          </tr></table>
          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 60%;"><md-input placeholder="Osoite" [(ngModel)]="application.applicant.address" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Postinumero" [(ngModel)]="application.applicant.postalCode" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Toimipaikka" [(ngModel)]="application.applicant.city" style="width: 100%"></md-input></td>
          </tr></table>
          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 40%;"><md-input placeholder="Puhelin" [(ngModel)]="application.applicant.phone" style="width: 100%"></md-input></td>
            <td style="width: 60%;"><md-input placeholder="Sähköpostiosoite" [(ngModel)]="application.applicant.email" style="width: 100%"></md-input></td>
          </tr></table>
        </md-card-content>
      </md-card>
      <md-card class="demo-card demo-basic" style="padding-right:100px; flex:50;">
        <md-card-title>Yhteyshenkilö</md-card-title>
        <md-card-content>
          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 80%;"><md-input placeholder="Yhteyshenkilön nimi" [(ngModel)]="application.contact.name" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Henkilötunnus" [(ngModel)]="application.contact.social" style="width: 100%"></md-input></td>
          </tr></table>
          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 60%;"><md-input placeholder="Osoite" [(ngModel)]="application.contact.address" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Postinumero" [(ngModel)]="application.contact.postalCode" style="width: 100%"></md-input></td>
            <td style="width: 20%;"><md-input placeholder="Toimipaikka" [(ngModel)]="application.contact.city" style="width: 100%"></md-input></td>
          </tr></table>
          <table style="width: 100%;" cellspacing="0"><tr>
            <td style="width: 40%;"><md-input placeholder="Puhelin" [(ngModel)]="application.contact.phone" style="width: 100%"></md-input></td>
            <td style="width: 40%;"><md-input placeholder="Sähköpostiosoite" [(ngModel)]="application.contact.email" style="width: 100%"></md-input></td>
          </tr></table>
        </md-card-content>
      </md-card>
    </div>
    <div style="display:flex; flex-direction: column;">
      <md-card style="padding-right:100px;">
        <md-card-title>Laskutusosoite</md-card-title>
        <md-card-content style="display:flex; flex-direction: row;">
          <div class="" style="flex: 60;">
            <md-input-container>
              <label class="md-input-placeholder md-float" for="billing">Valitse laskutustapa</label>
              <br>
              <select style="width: 43.8%;" class="" name="billing" [(ngModel)]="application.billing.type">
                <option value="Muu">Muu</option>
                <option value="Paperilasku">Paperilasku</option>
                <option value="Verkkolasku">Verkkolasku</option>
              </select>
            </md-input-container>
            <table style="width: 73%;" cellspacing="0"><tr>
              <td style="width: 60%;"><md-input placeholder="Osoite" [(ngModel)]="application.billing.address" style="width: 100%"></md-input></td>
              <td style="width: 20%;"><md-input placeholder="Postinumero" [(ngModel)]="application.billing.postalCode" style="width: 100%"></md-input></td>
              <td style="width: 20%;"><md-input placeholder="Toimipaikka" [(ngModel)]="application.billing.city" style="width: 100%"></md-input></td>
            </tr></table>
          </div>
          <div class="" style="flex: 40;">
            <md-input disabled placeholder="Työnumero" [(ngModel)]="application.billing.workNumber"></md-input>
            <br>
            <md-input disabled placeholder="Laskutusviite" [(ngModel)]="application.billing.reference"></md-input>
          </div>

        </md-card-content>
      </md-card>
    </div>
    <div style="display:flex; flex-direction: column;">
      <md-card style="padding-right:100px;">
        <md-card-title>Tapahtuman tiedot</md-card-title>
        <md-card-content style="display:flex; flex-direction: row;">
          <div class="" style="flex: 60;">
            <md-input style="width: 73%;" placeholder="Tapahtuman nimi" [(ngModel)]="application.title"></md-input>
            <md-input style="width: 73%;" placeholder="Tapahtuman luonne" [(ngModel)]="application.type"></md-input>
            <br>
            <md-input-container>
              <label for="description">Tapahtuman kuvaus</label>
              <br>
              <textarea style="width: 73%;" placeholder="Tapahtuman kuvaus" [(ngModel)]="application.description" name="description" rows="8"></textarea>
            </md-input-container>
          </div>
          <div class="" style="flex: 40;">
            <md-input placeholder="Alkupäivämäärä" [(ngModel)]="application.startDate"></md-input>
            <br>
            <md-input placeholder="Loppupäivämäärä" [(ngModel)]="application.endDate"></md-input>
            <br>
            <md-input-container>
              <label>Myynti- tai mainostoiminta</label>
              <br>
              <md-radio-button>Tapahtuma ei sisällä myynti- tai mainostoimintaa</md-radio-button>
              <md-radio-button>Tapahtuma sisältää myynti- tai mainostoimintaa</md-radio-button>
            </md-input-container>
          </div>

        </md-card-content>
      </md-card>
    </div>
    <div style="display:flex; flex-direction: column;">
      <md-card style="padding-right:100px;">
        <md-card-title>Rakenteet</md-card-title>
        <md-card-content style="display:flex; flex-direction: row;">
          <div class="" style="flex: 60;">
            <table style="width: 73%;" cellspacing="0"><tr>
              <td style="width: 30%;"><md-checkbox>Tapahtuma ei sisällä rakenteita</md-checkbox></td>
              <td style="width: 30%;"><md-input placeholder="Pinta-ala (m2)" [(ngModel)]="application.structure.size" style="width: 100%"></md-input></td>
            </tr></table>
            <md-input-container>
              <label for="structureDescription">Rakenteiden kuvaus</label>
              <br>
              <textarea style="width: 73%;" placeholder="Tapahtuman kuvaus" [(ngModel)]="application.structure.description" name="structureDescription" rows="8"></textarea>
            </md-input-container>
          </div>
          <div class="" style="flex: 40;">
            <md-checkbox>Tapahtuma vaatii erillisiä rakennus- tai purkupäiviä:</md-checkbox>
            <md-input placeholder="Alkupäivämäärä" [(ngModel)]="application.structure.startDate"></md-input>
            <br>
            <md-input placeholder="Loppupäivämäärä" [(ngModel)]="application.structure.endDate"></md-input>
          </div>

        </md-card-content>
      </md-card>
    </div>
    <md-card style="padding-right:100px;">
      <md-card-title>Liitteet ja tallennus</md-card-title>
      <md-card-content style="display:flex; flex-direction: row;">
        <div class="" style="flex: 80;">
          <button md-raised-button style="margin-left: 10px;" (click)="save(application)" >LISÄÄ LIITE</button>
        </div>
        <div class="" style="flex: 20;">
          <button md-raised-button style="margin-left: 10px;" [routerLink]="['/Applications/Location']">TALLENNA</button>
          <button md-raised-button disabled style="margin-left: 10px;" (click)="save(application)" >SIJAINTIIN</button>

        </div>

      </md-card-content>
    </md-card>

  </md-content>

</div>
