<form [formGroup]="eventForm">
    <div class="col m12 loose">
        <md-card>
            <md-card-title>Tapahtuman tiedot</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m6">
                        <div class="input-field col m12">
                            <input id="eventName" type="text" [class.summary]="name" formControlName="name" [readonly]="readonly">
                            <label for="eventName">{{ meta?.getUiName('name') }}</label>
                            <field-error [form]="eventForm" field="name" hasError="required">{{translations.application.field.nameMissing}}</field-error>
                            <field-error [form]="eventForm" field="name" hasError="minlength">{{translations.application.field.nameShort}}</field-error>
                        </div>
                        <div class="input-field col m12">
                            <textarea id="eventDescription" class="materialize-textarea" formControlName="description" [readonly]="readonly"></textarea>
                            <label for="eventDescription">{{ meta?.getUiName('description') }}</label>
                            <field-error [form]="eventForm" field="description" hasError="required">
                                {{translations.application.outdoorEvent.field.descriptionMissing}}
                            </field-error>
                        </div>
                        <div class="input-field col m12">
                            <input id="eventUrl" type="text" formControlName="url" [readonly]="readonly">
                            <label for="eventUrl">{{ meta?.getUiName('url') }}</label>
                        </div>
                    </div>
                    <div class="col m6 no-padding">
                        <div formGroupName="eventTimes">
                            <div class="input-field col m12">
                                <input id="eventStartTime"
                                       formControlName="startTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text" [readonly]="readonly"/>
                                <label for="eventStartTime">{{ meta?.getUiName('eventStartTime') }}</label>
                                <field-error [form]="eventForm.get('eventTimes')" field="startTime" hasError="required">
                                    {{translations.application.outdoorEvent.field.eventStartTimeMissing}}
                                </field-error>
                            </div>
                            <div class="input-field col m12">
                                <input id="eventEndTime"
                                       formControlName="endTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text" [readonly]="readonly"/>
                                <label for="eventEndTime">{{ meta?.getUiName('eventEndTime') }}</label>
                                <field-error [form]="eventForm.get('eventTimes')" field="endTime" hasError="required">
                                    {{translations.application.outdoorEvent.field.eventEndTimeMissing}}
                                </field-error>
                            </div>
                            <field-error [form]="eventForm" field="eventTimes" hasError="startBeforeEnd">
                                {{translations.application.outdoorEvent.field.startBeforeEnd}}
                            </field-error>
                        </div>
                        <div class="input-field col m12">
                            <textarea id="eventTimeExceptions" class="materialize-textarea" formControlName="timeExceptions" [readonly]="readonly"></textarea>
                            <label for="eventTimeExceptions">{{ meta?.getUiName('timeExceptions') }}</label>
                        </div>
                        <div class="input-field col m3">
                            <input id="eventAttendees" type="number"  formControlName="attendees" [readonly]="readonly">
                            <label for="eventAttendees">{{ meta?.getUiName('attendees') }}</label>
                        </div>
                        <div class="input-field col m9">
                            <input id="eventEntryFee" type="number"  formControlName="entryFee" [readonly]="readonly">
                            <label for="eventEntryFee">{{ meta?.getUiName('entryFee') }}</label>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Rakenteet</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m6 no-padding">
                        <div class="col m6 height-fix-top">
                            <input type="checkbox" class="filled-in" id="structureIncluded" [checked]="eventForm.value.structureArea" [readonly]="readonly"/>
                            <label for="structureIncluded">Tapahtuma sisältää rakenteita</label>
                        </div>
                        <div class="input-field col m6">
                            <input id="structureArea" type="number"  step="any" formControlName="structureArea" [readonly]="readonly">
                            <label for="structureArea">{{ meta?.getUiName('structureArea') }}</label>
                        </div>
                        <div class="input-field col m12">
                <textarea id="structureDescription" class="materialize-textarea textarea"
                          formControlName="structureDescription" [readonly]="readonly"></textarea>
                            <label for="structureDescription">{{ meta?.getUiName('structureDescription') }}</label>
                        </div>

                    </div>
                    <div class="col m6 no-padding">
                        <div class="col m12 height-fix-top height-fix-bottom">
                            <input type="checkbox" class="filled-in" id="structureBuildDate"
                                   [checked]="eventForm.value.structureTimes.startTime || eventForm.value.structureTimes.endTime" [readonly]="readonly"/>
                            <label for="structureBuildDate">Tapahtuma vaatii erillisiä rakennus- tai purkupäiviä</label>
                        </div>

                        <div formGroupName="structureTimes">
                            <div class="input-field col m12">
                                <input id="structureStartTime"
                                       formControlName="startTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text" [readonly]="readonly"/>
                                <label for="structureStartTime">{{ meta?.getUiName('structureStartTime') }}</label>
                                <field-error [form]="eventForm.get('structureTimes')" field="startTime" hasError="required">
                                    {{translations.application.outdoorEvent.field.structureStartTimeMissing}}
                                </field-error>
                            </div>
                            <div class="input-field col m12">
                                <input id="structureEndTime"
                                       formControlName="endTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text" [readonly]="readonly"/>
                                <label for="structureEndTime">{{ meta?.getUiName('structureEndTime') }}</label>
                                <field-error [form]="eventForm.get('structureTimes')" field="endTime" hasError="required">
                                    {{translations.application.outdoorEvent.field.structureEndTimeMissing}}
                                </field-error>
                            </div>
                            <field-error [form]="eventForm" field="structureTimes" hasError="startBeforeEnd">
                                {{translations.application.outdoorEvent.field.startBeforeEnd}}
                            </field-error>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Hinnoitteluperusteet</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m6">
                        <div class="col m12">
                            <select materialize="material_select"
                                    formControlName="nature" (change)="eventNatureChange($event.target.value)">
                                <option value="" disabled selected>{{ meta?.getUiName('nature') }}</option>
                                <option *ngFor="let nature of eventNatures" [value]="nature.value">{{nature.name}}</option>
                                <field-error [form]="eventForm" field="nature" hasError="required">
                                    {{translations.application.outdoorEvent.field.natureMissing}}
                                </field-error>
                            </select>
                        </div>
                        <div class="col m12 height-fix-bottom" *ngIf="eventForm.value.nature === 'PUBLIC_FREE'">
                            <input type="checkbox" class="filled-in" id="noPrice" formControlName="noPrice"
                                   (change)="noPriceChange($event.target.value)" [readonly]="readonly"/>
                            <label for="noPrice">Korvauksetta</label>
                        </div>
                        <div class="col m12" *ngIf="eventForm.value.noPrice">
                            <select materialize="material_select" [materializeSelectOptions]="noPriceReasons"
                                    formControlName="noPriceReason">
                                <option value="" disabled selected>{{ meta?.getUiName('noPriceReason') }}</option>
                                <option *ngFor="let reason of noPriceReasons" [value]="reason.value">{{reason.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col m6 no-padding">
                        <div class="col m12 height-fix-bottom">
                            <input type="checkbox" class="filled-in" id="pricingEcoCompass" formControlName="ecoCompass" [readonly]="readonly"/>
                            <label for="pricingEcoCompass">{{ meta?.getUiName('ecoCompass') }}</label>
                        </div>
                        <div class="col m12 height-fix-bottom" *ngIf="eventForm.value.noPrice">
                            <input type="checkbox" class="filled-in" id="pricingSalesActivity" formControlName="salesActivity" [readonly]="readonly"/>
                            <label for="pricingSalesActivity">{{ meta?.getUiName('salesOrPromotionThemeless') }}</label>
                        </div>
                        <div class="col m12 height-fix-bottom" *ngIf="eventForm.value.noPrice">
                            <input type="checkbox" class="filled-in" id="includesHeavyStructure" formControlName="heavyStructure" [readonly]="readonly"/>
                            <label for="includesHeavyStructure">{{ meta?.getUiName('heavyStructure') }}</label>
                        </div>
                    </div>
                    <div class="col m12">
                        <div class="col m12">
                            <label for="price">Hinta</label>
                            <div id="price">-</div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <location-details *ngIf="readonly" [applicationId]="applicationId" [location]="location" [readonly]="readonly"></location-details>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Myyntitoiminta</md-card-title>
            <md-card-content>
                <div class="row">
                    <div class="col m6 no-padding">
                        <div class="col m12 height-fix-bottom">
                            <input type="checkbox" class="filled-in" id="salesMarketing" [checked]="eventForm.value.marketingProviders" [readonly]="readonly"/>
                            <label for="salesMarketing">Tapahtuma sisältää myynti- tai mainostoimintaa</label>
                        </div>
                        <div class="input-field col m12">
                            <textarea id="salesMarketingDetails" class="materialize-textarea"
                                      formControlName="marketingProviders" [readonly]="readonly"></textarea>
                            <label for="salesMarketingDetails">{{ meta?.getUiName('salesOrPromotionDescription') }}</label>
                        </div>
                    </div>
                    <div class="col m6 no-padding">
                        <div class="col m12 height-fix-bottom">
                            <input type="checkbox" class="filled-in" id="salesFood" formControlName="foodSales" [readonly]="readonly"/>
                            <label for="salesFood">{{ meta?.getUiName('foodSales') }}</label>
                        </div>
                        <div class="input-field col m12">
                            <textarea id="salesFoodProviders" class="materialize-textarea" formControlName="foodProviders" [readonly]="readonly"></textarea>
                            <label for="salesFoodProviders">{{ meta?.getUiName('foodProviders') }}</label>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>