<div fxLayout="row wrap" fxLayoutGap="12px">
  <div fxFlex="0 0 none">
    {{change.changeTime | date:'short'}}
  </div>
  <div fxFlex="0 0 calc(60% - 12px)" class="text-primary">
    <ng-container *ngIf="change.changeSpecifier; else changeTypeInfo">
      <div [ngSwitch]="change.changeType">
        <ng-container *ngSwitchCase="'ATTACHMENT_ADDED'">
          {{'history.change.typeWithSpecifier.ATTACHMENT_ADDED' | translation:{attachmentName: change.changeSpecifier} }}
        </ng-container>
        <ng-container *ngSwitchCase="'ATTACHMENT_REMOVED'">
          {{'history.change.typeWithSpecifier.ATTACHMENT_REMOVED' | translation:{attachmentName: change.changeSpecifier} }}
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{['history.change.typeWithSpecifier', change.changeType, change.changeSpecifier] | translation}}
        </ng-container>
      </div>
    </ng-container>
    <ng-template #changeTypeInfo>
      {{['history.change.type', change.changeType] | translation}}
    </ng-template>
    <ng-container *ngIf="description">
      <ng-container *ngIf="description.single; else newItem">
        <history-item-description [changeItem]="description.single"></history-item-description>
      </ng-container>
      <ng-template #newItem>
        <history-item-description *ngIf="description.new" [changeItem]="description.new"></history-item-description>
      </ng-template>
    </ng-container>

    <span *ngIf="showFieldChangeCount"
          [matBadge]="fieldChangeCount"
          matBadgeOverlap="false"
          matBadgeColor="accent"
          class="allu-badge-center"></span>
  </div>
  <div fxFlex="0 0 calc(20% - 12px)">
    {{change.user?.realName}}
  </div>
</div>
