@import '../../assets/colors';

:host {
  md-toolbar {
    background-color: $allu-secondary-nav;
    color: $allu-text-white;
  }

  .progress {
    background-color: #9b9b9b;
    
    .determinate {
      background-color: #1de9b6;
    }
  }

  p {
    font-size: .8rem;
    margin-bottom: 0;
  }
}
