/* -----------------------------------------------------
   GLOBAL / TYPOGRAPHY
   ----------------------------------------------------- */
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-family: Arial, sans-serif;
  color: #222;
}

h1, h2, h3 {
  font-size: 11pt;
}

h3 {
  margin-left: 25pt;
}

h3.ml-0 {
  margin-left: 0;
}

h1.fs-16 {
  font-size: 16pt;
}

p, li {
  font-size: 10pt;
}

p.small {
  font-size: 8pt;
}

h1.underlined, h2.underlined {
  text-decoration: underline;
}

div.indented {
  display: inline-block;
  vertical-align: top;
  margin-left: 100pt;
}

div.indented-charge-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 40pt;
  width: 600pt;
}

p.bolded {
  font-weight: bold;
}

p.indented {
  display: block;
  vertical-align: top;
  margin-left: 50pt;
}

p.signature {
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-top: 3em;
  margin-bottom: 4em;
}

img {
  width: 100%;
}

img.checkbox {
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 5px;
}

hr {
  width: 100%;
  margin-bottom: 5px;
}

section.justify {
  /*max-width: 480pt;*/
  /*margin-left: 40pt;*/
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.35;
}


/* -----------------------------------------------------
   UTILITY CLASSES
   ----------------------------------------------------- */
.new-page {
  page-break-before: always;
}

.avoid-pb {
  page-break-inside: avoid;
  break-inside: avoid;
}

.children-avoid-pb > * {
  page-break-inside: avoid;
}

.padded-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10pt;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-5 {
  padding-bottom: 5pt;
}

.pb-10 {
  padding-bottom: 10pt;
}

.mb-0 {
  margin-bottom: 0;
}

.indent-50 {
  display: block;
  vertical-align: top;
  margin-left: 50pt;
}


/* -----------------------------------------------------
   LISTS
   ----------------------------------------------------- */
.body ol.numbered-list, ul.bulleted-list {
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.body ul.align-with-p {
  margin-left: 50pt;
  padding-left: 0.8em;
}

.body ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

.body ul.mt-0, .body li.mt-0 {
  margin-top: 0;
}

.body li {
  margin-top: 10pt;
}


/* -----------------------------------------------------
   TABLES
   ----------------------------------------------------- */
.area-table, .area-table tr, .area-table th, .area-table td {
  border: 0.5px solid black;
  border-collapse: collapse;
  padding: 3px;
  font-size: 7pt;
  text-align: center;
  page-break-inside: avoid;
}

.area-table {
  width: 100%;
}

.contact-table {
  width: auto;
  border-collapse: collapse;
  font-size: 10pt;
  display: block;
}

.contact-table, .contact-table tr, .contact-table td {
  border: none;
  padding: 1pt;
  vertical-align: top;
  word-wrap: break-word;
  white-space: pre-line;
  page-break-inside: avoid;
}

tr.finished {
  background-color: #c6cbd3;
}

tr.unfinished {
  background-color: white;
}

tr.fat-border {
  border-top: 1px solid black;
}

tr.thin-border {
  border-top: 0.5px solid black;
}

td.info {
  text-align: left;
}


/* -----------------------------------------------------
   HEADER
   ----------------------------------------------------- */
.header {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding: 10px 0;
  float: left;
  width: 95%;
}

.header div {
  display: inline-block;
  vertical-align: top;
}

.header p {
  margin: 0.1em;
}

.header .logo {
  width: 13%;
  float: left;
  padding-right: 10pt;
}

.header .department {
  width: 36%;
  float: left;
}

.header .half-right {
  width: 49%;
  float: right;
}

.header .half-right h1 {
  display: inline;
  float: left;
  margin: 0.1em;
}

.header .half-right .page {
  margin: 0.1em;
  display: inline;
  float: right;
  font-style: normal;
  position: fixed;
  top: 40px;
  right: 0;
  font-size: 9pt;
}

.header .half-right .id {
  clear: both;
  display: block;
}

.header .half-right .id table {
  width: 100%;
  border-style: none;
}

.header .half-right .id table td {
  padding: 0;
}

.header .half-right .id table td.c1 {
  width: 35%;
  font-size: 8pt;
}

.header .half-right .id table td.c2 {
  font-size: 8pt;
}


/* -----------------------------------------------------
   BODY LAYOUT
   ----------------------------------------------------- */
.body .unboxed {
  margin-bottom: 10pt;
}

.body .boxed {
  border: solid black thin;
  padding: 0 10pt;
  margin: 14pt 0;
}

.body h1, .body h2, .body p {
  margin-bottom: 0;
  margin-top: 0;
}

.body p.space-above {
  margin-top: 10pt;
}

.body .space-below {
  margin-bottom: 10pt;
}

.body hr {
  border-style: none;
  margin-bottom: 0;
}

.body hr.signature {
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-top: 1em;
}

.body .half-left {
  display: inline-block;
  vertical-align: top;
  width: 46%;
}

.body .half-right {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  margin-left: 5pt;
}

.body .threecols-left {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 25%;
}

.body .threecols-center {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 45%;
}

.body .threecols-right {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.body .charge-info {
  margin-top: 10pt;
  font-size: 10pt;
  width: 95%;
  display: table;
}

.body .charge-info .row {
  display: table-row;
}

.body .charge-info .c1, .body .charge-info .c2, .body .charge-info .c3, .body .charge-info .c4 {
  display: table-cell;
}

.body .charge-info .c1 {
  width: 50%;
}

.body .charge-info .c1 .explanation {
  margin-left: 5pt;
  font-size: 8pt;
  float: none;
}

.body .charge-info .c1 .up-arrow {
  display: block;
  float: left;
  border-bottom: 1pt dashed;
  border-left: 1pt dashed;
  height: 5pt;
  padding-left: 1em;
  margin: 0 0.5em;
}

.body .charge-info .c2, .body .charge-info .c3 {
  width: 15%;
}

.body .charge-info .c4 {
  text-align: right;
  width: 20%;
}

.body .charge-info .sum-row {
  display: table-row;
}

.body .charge-info .sum-row .c1, .body .charge-info .sum-row .c2, .body .charge-info .sum-row .c3, .body .charge-info .sum-row .c4 {
  border-top: 1.5pt solid;
}


/* -----------------------------------------------------
   FOOTER
   ----------------------------------------------------- */
.footer {
  padding-bottom: 30px;
  width: 100%;
}

.footer div {
  width: 15%;
  display: block;
  float: left;
}

.footer div.visit {
  width: 24%;
}

.footer div.contact {
  width: 24%;
}

.footer div.logo {
  width: 13%;
  float: right;
}

.footer div h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
}

.footer div p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
}

.bottom {
  border-color: white;
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom: white;
  padding-bottom: 20px;
}
