<div fxLayout="row" fxLayoutAlign="start center" class="slim">
  <div fxFlex="auto">
    <h4 class="mat-option-header">{{customer.name}}</h4>
    <div class="mat-option-line" *ngIf="showRegistryKey">{{customer.registryKey}}</div>
    <div class="mat-option-line" *ngIf="customer.postalAddress as postalAddress">
      {{postalAddress.uiAddress}}
    </div>
    <div class="mat-option-line" *ngIf="showInvoicingInfo && customer.sapCustomerNumber">
      {{customer.sapCustomerNumber}}
    </div>
  </div>
  <div fxFlex="none">
    <mat-icon *ngIf="customer.invoicingOnly"
              [matTooltip]="'customer.invoicingOnly' | translation"
              class="mat-icon-18">attach_money</mat-icon>
  </div>
</div>
