<div class="row valign-wrapper" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
  <div class="col s6 valign">
    <a mat-raised-button type="button" color="primary"
       routerLink="/projects/edit" [queryParams]="{parentProject: project.id}">UUSI</a>
    <button mat-raised-button type="button" color="primary" (click)="remove()">POISTA</button>
  </div>
  <div class="col s6 valign-wrapper">
    <div class="col s2 valign input-field-label">Liitä hanke:</div>
    <div class="col s10">
      <mat-form-field class="input-full-width">
        <input matInput type="text" [readonly]="readonly"
               [autocompletion]="matchingProjects"
               minTermLength="1"
               nameField="idWithName"
               (onSearchChange)="onIdentifierSearchChange($event)"
               (onSelection)="add($event)" placeholder="Hankkeen tunnus"/>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class=" col s12">
    <table class="bordered responsive-table header">
      <thead>
      <tr>
        <th>
          <mat-checkbox [(ngModel)]="allSelected" (click)="checkAll()"></mat-checkbox>
        </th>
        <th>Lisääjä</th>
        <th sortBy="id" [currentSort]="sort" (onSortChange)="sortBy($event)">Tunnus</th>
        <th sortBy="ownerName" [currentSort]="sort" (onSortChange)="sortBy($event)">Omistaja</th>
        <th sortBy="active" [currentSort]="sort" (onSortChange)="sortBy($event)">Tila</th>
        <th>Kaupunginosa</th>
        <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Alku</th>
        <th sortBy="endTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Loppu</th>
        <th>Suhde</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of sortedProjectRows" class="clickable row-highlight"
          (click)="goToInfo($event.target.cellIndex, row)">
        <td>
          <mat-checkbox [ngModel]="row.selected" (change)="checkSingle(row)"></mat-checkbox>
        </td>
        <td>-</td>
        <td>{{row.content.id}} <br></td>
        <td>{{row.content.ownerName}}</td>
        <td>
          <span *ngIf="row.content.active">Aktiivinen</span>
          <span *ngIf="!row.content.active">Inaktiivinen</span>
        </td>
        <td>{{districtNames(row.content.cityDistricts) | async | commaSeparated}}</td>
        <td>{{ row.content.startTime | date:'shortDate' }}</td>
        <td>{{ row.content.endTime | date:'shortDate' }}</td>
        <td>
          <i *ngIf="isChild(row.content.parentId)" class="material-icons">arrow_downward</i>
          <i *ngIf="!isChild(row.content.parentId)" class="material-icons">arrow_upward</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
