<div fxLayout="row" fxLayoutAlign="space-between center" class="item-bar">
  <div fxFlex>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="tags align-with-content">
      <div fxFlex="initial">
          {{'application.tags' | translation}}:
      </div>
      <div fxFlex="initial">
        <mat-chip-set>
          <mat-chip
            highlighted
            (removed)="remove(tag)"
            *ngFor="let tag of tags | async; let i = index;">
            {{['application.tag.type', tag.type] | translation}}
            <button matChipRemove type="button" *ngIf="canBeRemoved(tag.type) | async">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <div *availableTo="MODIFY_ROLES" fxFlex="initial">
            <mat-chip *ngIf="(availableTagCount | async)" [matMenuTriggerFor]="menu">
              {{'application.tag.add' | translation}}
              <button matChipRemove type="button" [matMenuTriggerFor]="menu">
                  <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-chip>
          </div>
        </mat-chip-set>
      </div>
    </div>
  </div>
</div>
<mat-menu x-position="before" #menu="matMenu">
  <button *ngFor="let type of availableTagTypes | async"
          type="button"
          mat-menu-item
          (click)="add(type)">
    {{['application.tag.type', type] | translation}}
  </button>
</mat-menu>
