@import '../../../../assets/colors';

.single-line {
    white-space: nowrap;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  height: 30px;
}

.application-info {
  min-width: 200px;
}

.tags > div {
  margin: 0 0 0 8px;
}

.tags[fxLayout="row"] {
  margin-bottom: 0;
}
