<ng-container *ngIf="defaultAttachments$ | async as defaultAttachments">
  <allu-card *ngIf="defaultAttachments?.length > 0">
    <mat-card-header>
      <mat-card-title>{{['attachment.selectionTitle', attachmentType] | translation}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isAllowedToEdit">
        <div *ngFor="let attachment of defaultAttachments"
             class="default-attachment-row"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="8px">
          <mat-checkbox
            class="default-attachment-checkbox"
            fxFlex
            [checked]="isSelected(attachment)"
            (change)="onToggle(attachment, $event.checked)"
            [disabled]="!isAllowedToEdit">
            <span class="default-attachment-label">{{ attachment.name }}</span>
            <button
              mat-icon-button
              type="button"
              class="default-attachment-download"
              (click)="$event.preventDefault(); $event.stopPropagation(); download(attachment)">
              <mat-icon>file_download</mat-icon>
            </button>
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </allu-card>
</ng-container>
