<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="18px">
  <div fxFlex="auto">
    <h1>{{'project.relatedProjects.title' | translation}}</h1>
  </div>
  <div fxFlex="none">
    <project-select
      [matchingProjects]="matchingProjects$ | async"
      (searchChange)="projectSelectSearchChange($event)"
      (selectedChange)="addChild($event)">
    </project-select>
  </div>
</div>

<related-project-list
  [projects]="childProjects$ | async"
  [loading]="childProjectsLoading$ | async"
  (remove)="removeChild($event)">
</related-project-list>
