<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>
<button (click)="subscribe()">Subscribe</button>
<button (click)="unsubscribe()">Unsubscribe</button>


<ul>
  <!--li *ngFor="#item of nameListService.getItems()" [class.selected]="item.active === true">{{item.name}}, {{item.active}}</li -->
  <li *ngFor="#item of nameItems" [class.selected]="item.active === true">{{item.name}}, {{item.active}}</li>
</ul>
