@import '../../../assets/colors';

:host {
  md-toolbar {
    background-color: $allu-secondary-nav;
    color: $allu-text-white;
    margin-bottom: 0px;
  }

  .progress {
    background-color: #9b9b9b;
    
    .determinate {
      background-color: #1de9b6;
    }
  }

  p {
    font-size: .8rem;
    margin-bottom: 0;
  }
}

.application-status-text {
  font-size: 16px;
}
