@import '../../../assets/colors';

:host {
  md-toolbar {
    background: md-color($allu-primary, 50);
    color: md-color($allu-primary, 500);
    margin-bottom: 0px;
  }

  .progress-label p {
    color: md-color($allu-primary, 300);
    font-weight: bold;
  }

  .progress {
    background-color: md-color($allu-accent, 50);

    .determinate {
      background-color: md-color($allu-accent, A100);
    }
  }

  p {
    font-size: .8rem;
    margin-bottom: 0;
  }
}

.application-status-text {
  font-size: 16px;
  white-space: nowrap;
}
