@import '../../assets/colors';

:host {
  max-width: 1450px;
  width: 100%;
  map {
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

workqueue {
  float: left;
  width: 20%;
}
