@import '../../assets/colors';

:host {
  .row {
    margin-bottom: 0;
  }

  .input-field {
    label {
      left: 0;
      top: 1.3rem;
    }
  }
}

application-list {
  bottom: 0;
  // height: 90vh;
  left: 0;
  position: absolute;
  top: 114px;
  width: 18.2vw;
}

map {
  bottom: 0;
  left: 18.2vw;
  position: absolute;
  top: 114px;
  width: 81.8vw;
}
