@import '../../assets/colors';

:host {
  .row {
    margin-bottom: 0;
  }
}

locationsearch {
  bottom: 0;
  height: 94vh;
  left: 0;
  position: absolute;
  top: 50px;
  width: 20vw;

  .searchbox {
    position: relative;
  }

  .searchinput {
    position: absolute;
  }

  .searchresults {
    bottom: 0;
    overflow-y: scroll;
    position: absolute;
    top: 120px;
  }
}

map {
  bottom: 0;
  left: 20vw;
  position: absolute;
  top: 50px;
  width: 80vw;
}
