
<div>
  <h1>TYÖJONO</h1>

  <div class="row">
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen tyyppi</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen tyyppi</label>
    </div>
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen käsittelijä</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen käsittelijä</label>
    </div>
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen tila</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen tila</label>
    </div>
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Kaupunginosa</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Kaupunginosa</label>
    </div>
    <div class="input-field col s2">
      <label for="startDate">Alkupäivämäärä</label>
      <input id="startDate"
      [(ngModel)]="startDate"
      materialize="pickadate"
      [materializeParams]="[{selectMonths: true, selectYears: 15}]"
      type="text" />
    </div>
    <div class="input-field col s2">
      <input id="endDate"
      [(ngModel)]="endDate"
      materialize="pickadate"
      [materializeParams]="[{selectMonths: true, selectYears: 15}]"
      type="text" />
      <label for="endDate">Loppupäivämäärä</label>
    </div>
    <div class="col s3">
      <input type="checkbox" class="filled-in" id="own-applications"/>
      <label for="own-applications">Näytä vain omat hakemuksesi</label>
    </div>
    <div class="col s3">
      <div class="switch">
        <label>
          <input type="checkbox">
          <span class="lever"></span>
          Näytä kalenterissa
        </label>
      </div>
    </div>
</div>

<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-teal btn-flat"><i class="material-icons">check_box_outline_blank</i><i class="material-icons">arrow_drop_down</i></a>
    <a class="waves-effect waves-teal btn-flat"><i class="material-icons">refresh</i></a>
    <button (click)="console.log('asdf')" class="waves-effect waves-light btn">OMAKSI</button>
    <button (click)="console.log('asdf')" class="waves-effect waves-light btn">SIIRRÄ</button>
    <button (click)="console.log('asdf')" class="waves-effect waves-light btn">TALLENNA</button>
    <button (click)="console.log('asdf')" class="waves-effect waves-light btn">LAUSUNTO</button>
  </div>
  <div class=" col s12">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th></th>
          <th>Käsittelijä<i class="material-icons">arrow_drop_down</i></th>
          <th>Nimi</th>
          <th>Hanke</th>
          <th>Tyyppi<i class="material-icons">arrow_drop_down</i></th>
          <th>Tila<i class="material-icons">arrow_drop_down</i></th>
          <th>Hakija</th>
          <th>Katuosoite</th>
          <th>Kaupunginosa</th>
          <th>Saapunut</th>
          <th>Aloitus<i class="material-icons">arrow_drop_down</i></th>
          <th>Lisätietoja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applicationsQueue">
          <td>
            <input type="checkbox" class="filled-in" id="{{application.id}}" />
            <label [attr.for]="application.id"></label>
          </td>
          <td>{{application.handler}}</td>
          <td>{{application.name}}</td>
          <td>
            {{application.project.name}} <br>
            <span>{{application.project.id}}</span>
          </td>
          <td>{{application.type}}</td>
          <td>{{application.status}}</td>
          <td>
            {{application.applicant.organization.name}}<br>
            <span>Isaksson Harry</span>
          </td>
          <td>{{application.location.postalAddress.streetAddress}}</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
