
<div>
  <h1>TYÖJONO</h1>

  <div class="row">
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen tyyppi</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen tyyppi</label>
    </div>
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen käsittelijä</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen käsittelijä</label>
    </div>
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen tila</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen tila</label>
    </div>
    <div class="input-field col s2">
      <select [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Kaupunginosa</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Kaupunginosa</label>
    </div>
    <div class="input-field col s2">
      <label for="startDate">Alkupäivämäärä</label>
      <input id="startDate"
      [(ngModel)]="startDate"
      materialize="pickadate"
      [materializeParams]="[{selectMonths: true, selectYears: 15}]"
      type="text" />
    </div>
    <div class="input-field col s2">
      <input id="endDate"
      [(ngModel)]="endDate"
      materialize="pickadate"
      [materializeParams]="[{selectMonths: true, selectYears: 15}]"
      type="text" />
      <label for="endDate">Loppupäivämäärä</label>
    </div>


  <md-content layout="row" layout-wrap layout-align="center start">
    <md-card (click)="jobClick(job)" *ngFor="let job of applicationsQueue" style="margin-bottom: 10px;">
      <md-card-title>{{job.title}}</md-card-title>
      <md-card-subtitle>{{job.type}}</md-card-subtitle>
      <md-card-content>
        <p>{{job.name}}</p>
        <p>{{job.time}}</p>
      </md-card-content>
    </md-card>
  </md-content>
</div>

<div class="row">
  <div class=" col s12">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th></th>
          <th>Käsittelijä</th>
          <th>Nimi</th>
          <th>Hanke</th>
          <th>Tyyppi</th>
          <th>Tila</th>
          <th>Hakija</th>
          <th>Katuosoite</th>
          <th>Kaupunginosa</th>
          <th>Saapunut</th>
          <th>Aloitus</th>
          <th>Lisätietoja</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" class="filled-in" id="application-id" checked="checked" />
            <label for="application-id"></label>
          </td>
          <td></td>
          <td>Esimerkkitapahtuma</td>
          <td>
            KP1201258 <br>
            <span>72022</span>
          </td>
          <td>Ulkoilmatapahtuma</td>
          <td>Uusi hakemus</td>
          <td>
            Esimerkkiyritys Oy <br>
            <span>Isaksson Harry</span>
          </td>
          <td>Narinkkatori, D-lohko</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="filled-in" id="application-id-2" />
            <label for="application-id-2"></label>
          </td>
          <td>Mari-Liis</td>
          <td>SAPP</td>
          <td>
            KP1201258 <br>
            <span>72022</span>
          </td>
          <td>Ulkoilmatapahtuma</td>
          <td>Uusi hakemus</td>
          <td>
            Esimerkkiyritys Oy <br>
            <span>Isaksson Harry</span>
          </td>
          <td>Narinkkatori, D-lohko</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="filled-in" id="application-id-3" />
            <label for="application-id-3"></label>
          </td>
          <td>Minna</td>
          <td>Tapahtuma 3</td>
          <td>
            KP1201258 <br>
            <span>72022</span>
          </td>
          <td>Ulkoilmatapahtuma</td>
          <td>Uusi hakemus</td>
          <td>
            Esimerkkiyritys Oy <br>
            <span>Isaksson Harry</span>
          </td>
          <td>Narinkkatori, D-lohko</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="filled-in" id="application-id-4" />
            <label for="application-id-4"></label>
          </td>
          <td>Minna</td>
          <td>Mestarit laivalla</td>
          <td>
            KP1201258 <br>
            <span>72022</span>
          </td>
          <td>Ulkoilmatapahtuma</td>
          <td>Uusi hakemus</td>
          <td>
            Esimerkkiyritys Oy <br>
            <span>Isaksson Harry</span>
          </td>
          <td>Narinkkatori, D-lohko</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="filled-in" id="application-id-5" />
            <label for="application-id-5"></label>
          </td>
          <td>Kasper</td>
          <td>Speden Spelit</td>
          <td>
            KP1201258 <br>
            <span>72022</span>
          </td>
          <td>Ulkoilmatapahtuma</td>
          <td>Uusi hakemus</td>
          <td>
            Esimerkkiyritys Oy <br>
            <span>Isaksson Harry</span>
          </td>
          <td>Narinkkatori, D-lohko</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="filled-in" id="application-id-6" />
            <label for="application-id-6"></label>
          </td>
          <td>Mari-Liis</td>
          <td>Viskifestivaali</td>
          <td>
            KP1201258 <br>
            <span>72022</span>
          </td>
          <td>Ulkoilmatapahtuma</td>
          <td>Uusi hakemus</td>
          <td>
            Esimerkkiyritys Oy <br>
            <span>Isaksson Harry</span>
          </td>
          <td>Narinkkatori, D-lohko</td>
          <td>Kamppi</td>
          <td>18.05.2016</td>
          <td>24.6.2016</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
