@import "oval.theme";

.oval-18 {
  height: 18px;
  width: 18px;
  font-size: 18px;
  line-height: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}
