<div class="col m12 loose">
    <md-card>
        <md-card-title>Tallennus</md-card-title>
        <md-card-content>
            <div class="row">
                <div *ngIf="!isSummary">
                    <div class="col m2 offset-m10">
                        <button type="submit" md-raised-button class="waves-effect waves-light btn"
                                [disabled]="submitPending || !formValid">YHTEENVETOON</button>
                    </div>
                </div>

                <div *ngIf="isSummary">
                    <div class="col m2">
                        <button md-raised-button class="waves-effect waves-light btn" [routerLink]="['/applications', applicationId, 'info']">MUOKKAA</button>
                    </div>
                    <div class="col m4 offset-m6">
                        <button md-raised-button class="waves-effect waves-light btn" [routerLink]="['/']">ETUSIVULLE</button>
                        <button md-raised-button class="waves-effect waves-light btn" [disabled]="true">TYÖJONOON</button>
                        <button md-raised-button class="waves-effect waves-light btn" [routerLink]="['/decision', applicationId]">PÄÄTTÄMISEEN</button>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>