<mat-card>
    <mat-card-title>Toiminnot</mat-card-title>
    <mat-card-content>
        <div class="button-row">
            <div class="left-aligned" *ngIf="readonly">
                <div *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
                    <button mat-raised-button type="button" color="primary" [routerLink]="['/applications', applicationId, 'edit']">
                        MUOKKAA
                    </button>
                    <button mat-raised-button type="button" color="primary" (click)="copyApplicationAsNew()">
                        KOPIOI UUDEKSI
                    </button>
                    <button *ngIf="showDelete" mat-raised-button type="button" color="primary" (click)="delete()">
                        POISTA
                    </button>
                </div>
            </div>
            <div class="right-aligned">
                <div *ngIf="!readonly">
                    <button type="submit" mat-raised-button color="primary"
                            [disabled]="submitPending || !form.valid">YHTEENVETOON</button>
                </div>
                <div *ngIf="readonly">
                    <button mat-raised-button type="button" color="primary" [routerLink]="['/']">
                        ETUSIVULLE
                    </button>
                    <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
                        <button *ngIf="showCancel" mat-raised-button type="button" color="primary" (click)="cancel()">
                            PERU
                        </button>
                        <button *ngIf="showHandling" mat-raised-button type="button" color="primary" (click)="moveToHandling()">
                            KÄSITTELYYN
                        </button>
                        <button *ngIf="showDecision" mat-raised-button type="button" color="primary" (click)="toDecisionmaking()">
                            PÄÄTTÄMISEEN
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
