<progressbar [step]="progressStep" [application]="application"></progressbar>
<tagbar [application]="application" [readonly]="readonly" (onTagChange)="onTagChange($event)"></tagbar>
<div class="row application">
  <div class="col s1">
    <sidebar *ngIf="application.id === undefined" [items]="['BASIC_INFO', 'ATTACHMENTS']"></sidebar>
    <sidebar *ngIf="application.id !== undefined" [items]="['BASIC_INFO', 'ATTACHMENTS', 'COMMENTS']"></sidebar>
  </div>
  <div class="col s11">
    <router-outlet></router-outlet>
  </div>
</div>
