
<md-card>
    <md-card-title>Tallennus</md-card-title>
    <md-card-content>
        <div class="button-row">
            <div class="left-aligned">
                <div *ngIf="readonly">
                    <button md-raised-button type="button" color="primary" [routerLink]="['/applications', applicationId, 'edit']">MUOKKAA</button>
                    <button md-raised-button type="button" color="primary" (click)="copyApplicationAsNew()">KOPIOI UUDEKSI</button>
                    <button *ngIf="showDelete" md-raised-button type="button" color="primary" (click)="delete()">POISTA</button>
                </div>
            </div>
            <div class="right-aligned">
                <div *ngIf="!readonly">
                    <button type="submit" md-raised-button color="primary"
                            [disabled]="submitPending || !form.valid">YHTEENVETOON</button>
                </div>
                <div *ngIf="readonly">
                    <button *ngIf="showCancel" md-raised-button type="button" color="primary" (click)="cancel()">PERU</button>
                    <button md-raised-button type="button" color="primary" [routerLink]="['/']">ETUSIVULLE</button>
                    <button *ngIf="showHandling" md-raised-button type="button" color="primary" (click)="moveToHandling()">KÄSITTELYYN</button>
                    <button *ngIf="showDecision" md-raised-button type="button" color="primary" (click)="toDecisionmaking()">PÄÄTTÄMISEEN</button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
