<allu-card>
  <mat-card-title>
    <div fxLayout="row">
      <div fxFlex="auto">
        <ng-container *ngIf="summary.updateWithoutRequest; else fullRequest">
          {{'informationRequest.summary.request.customerReportedChange' | translation}}
        </ng-container>
        <ng-template #fullRequest>
          {{'informationRequest.summary.request.title' | translation}}
        </ng-template>
      </div>
      <div fxFlex="none">
        <information-request-status [status]="summary.status"></information-request-status>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content *ngIf="!summary.updateWithoutRequest">
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex>
        <div>
          <mat-form-field class="input-full-width">
            <input
              matInput
              type="text"
              [ngModel]="summary.creationTime | date: 'short'"
              [disabled]="true"
              [placeholder]="'informationRequest.summary.request.created' | translation"/>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input
              matInput
              type="text"
              [ngModel]="summary.creator"
              [disabled]="true"
              [placeholder]="'informationRequest.summary.request.creator' | translation"/>
          </mat-form-field>
        </div>
        <div></div>
      </div>
      <div fxFlex>
          <information-request-summary-fields
            [columns]="['fieldKey', 'description']"
            [fields]="summary.requestedFields"
          ></information-request-summary-fields>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="showInformationRequest">
      <div fxFlex="none">
        <button mat-raised-button type="button" color="primary" (click)="cancelInformationRequest()">
          {{'application.button.cancelInformationRequest' | translation | uppercase}}
        </button>
        <button mat-raised-button type="button" color="primary"  [routerLink]="'information_request'">
          {{'common.button.show' | translation | uppercase}}
        </button>
      </div>
    </div>
  </mat-card-actions>
</allu-card>
