<allu-card>
  <mat-card-title>
    <ng-container *ngIf="summary.updateWithoutRequest; else fullRequest">
      {{'informationRequest.summary.response.changeReport' | translation}}
    </ng-container>
    <ng-template #fullRequest>
      {{'informationRequest.summary.response.title' | translation}}
    </ng-template>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex>
        <div>
          <mat-form-field class="input-full-width">
            <input
              matInput
              type="text"
              [ngModel]="summary.responseReceived | date: 'short'"
              [disabled]="true"
              [placeholder]="'informationRequest.summary.response.received' | translation"/>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input
              matInput
              type="text"
              [ngModel]="summary.creator"
              [disabled]="true"
              [placeholder]="'informationRequest.summary.response.creator' | translation"/>
          </mat-form-field>
        </div>
        <div></div>
      </div>
      <div fxFlex>
        <information-request-summary-fields
          type="response"
          [columns]="['fieldKey']"
          [fields]="summary.responseFields"
        ></information-request-summary-fields>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center" *ngIf="summary.status === 'RESPONSE_RECEIVED'">
      <div fxFlex="none">
        <button mat-raised-button type="button" color="primary" [routerLink]="'pending_info'">
          {{'informationRequest.summary.response.show' | translation | uppercase}}
        </button>
      </div>
    </div>
  </mat-card-actions>
</allu-card>

