<allu-card>
  <mat-card-title>
    <div fxLayout="row">
      <div fxFlex="auto">
        {{'informationRequest.summary.request.title' | translation}}
      </div>
      <div fxFlex="none">
        <information-request-status [status]="summary.status"></information-request-status>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex>
        <div>
          <mat-form-field class="input-full-width">
            <input
              matInput
              type="text"
              [ngModel]="summary.creationTime | date: 'shortDate'"
              [disabled]="true"
              [placeholder]="'informationRequest.summary.request.created' | translation"/>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input
              matInput
              type="text"
              [ngModel]="summary.creator"
              [disabled]="true"
              [placeholder]="'informationRequest.summary.request.creator' | translation"/>
          </mat-form-field>
        </div>
        <div></div>
      </div>
      <div fxFlex>
          <information-request-summary-fields
            [columns]="['fieldKey', 'description']"
            [fields]="summary.requestedFields"
          ></information-request-summary-fields>
      </div>
    </div>
  </mat-card-content>
</allu-card>
