@use '@angular/material' as mat;
@mixin information-request-status-theme($theme, $success, $basic) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  information-request-status,
  information-request-status .mat-toolbar {
    background: mat.get-color-from-palette($primary, 50);
    color: mat.get-color-from-palette($primary, 500);
  }

  .connection.connection-active {
    border-color: mat.get-color-from-palette($accent, 500);
  }

  .connection.connection-closed {
    border-color: map-get($basic, 500);
  }
}
