:host .mat-mdc-header-row,
:host .mat-mdc-row {
  border-bottom-width: 0;
  border-style: none;
}

:host .mat-mdc-header-row {
  min-height: 1em;
  margin-bottom: 4px;
  line-height: 1em;

  .mat-mdc-header-cell {
    font-weight: 400;
  }
}

:host .mat-mdc-row {
  background: #f1f7fc;
  margin-bottom: 4px;
  min-height: 38px;
}

.mat-column-fieldKey {
  max-width: 200px;
}
