// ----- Based on Angular Material 2 -----

// Typography
$mat-body-font-size-base: rem(1.400) !default;
$mat-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

$map-spinner: 401;
$map-controls: 402;
