// ----- Based on Angular Material 2 -----

// Typography
$mat-body-font-size-base: 1.4rem !default;
$mat-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

$map-spinner: 701;
$map-controls: 702;
$bottom-bar-z: 703;
