@mixin allu-common-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  h1, h2 {
    color: mat-color($primary, 500);
  }

  .text-highlighted {
    color: mat-color($primary, 500);
  }

  .text-primary {
    color: mat-color($primary, 500);
  }
}
