.mat-form-field.form-field-100 {
  width: 100%
}

.mat-form-field.form-field-50 {
  width: 50%;
}

.mat-form-field.form-field-33 {
  width: 33%;
}

.mat-form-field.form-field-dense .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
