.mat-icon.mat-icon-48 {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

.mat-icon.mat-icon-36 {
  font-size: 36px;
  height: 36px;
  width: 36px;
}

.mat-icon.mat-icon-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

mat-icon.mat-icon-14 {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.mat-mdc-icon-button .mat-icon.mat-icon-18 {
  line-height: 18px;
}

.mat-mdc-icon-button .mat-icon.mat-icon-48 {
  line-height: 48px;
}

.mat-mdc-menu-item .mat-icon.icon-prefix {
  margin-right: 2px;
}

.mat-icon.icon-sub,
.mat-mdc-option .mat-icon.icon-sub {
  vertical-align: sub;
}

.mat-icon.icon-middle {
  vertical-align: middle;
}
