@mixin allu-icons-theme($theme, $gray, $success) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $disabled-text: map-get($foreground, disabled-text);

  mat-icon.info-icon-gray {
    color: $gray;
  }

  mat-icon.icon-success {
    color: map-get($success, 500);
  }

  .mat-mdc-icon-button[disabled][disabled] {
    color: $disabled-text;
  }
}
