[fxLayout="row"] {
  margin-bottom: 5px;
}

[fxLayout="row"].inner-row {
  margin-bottom: 0;
}

[fxFlex].loose {
  padding: 0 0.75rem;
}

[fxFlex] button.mat-raised-button:not(:first-of-type) {
  margin-left: 8px;
}
