[fxLayout="row"] {
  margin-bottom: 5px;
}

[fxFlex].loose {
  padding: 0 0.75rem;
}

.spaced-out [ng-reflect-flex]:not(:first-child):not(:last-child)  {
  padding: 0 0.75rem;
}

.spaced-out [ng-reflect-flex]:first-child {
  padding-right: 0.75rem;
}

.spaced-out [ng-reflect-flex]:last-child {
  padding-left: 0.75rem;
}
