@import 'variables';
@import 'colors';
@import 'modal';
@import 'map';
@import "inputs";
@import "buttons";
@import "nav/nav";
@import '../feature/common/auto-completion/auto-completion-list.component.theme';

// Theme components
@include angular-material-theme($allu-theme);
@include auto-completion-list-theme($allu-theme);
@include placeholder-text();
@include nav-theme($allu-theme);

// Reset
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

// To allow content to fill all space
html, body{
  height: 100%;
  min-height: 100%;
  background: $allu-background;
}

// Box-sizing border-box
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

// Set up a default font and some padding to provide breathing room
body {
  font-family: $md-font-family;
  font-size: $md-body-font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

table {
  background-color: mat-contrast($allu-primary, 500);
}

tr.row-highlight:hover {
  background-color: mat-color($allu-primary, 100) !important;
}

button:focus {
  background: transparent;
}

.on-map {
  position: absolute;
  z-index: 100;
}

.map-button {
  height: 35px;
  text-align: center;
  width: 35px;
}

.select-wrapper {
  .dropdown-content {
    z-index: 9999;
  }
}

.row  {
  .loose {
    margin: 10px 0px;
  }
}

.row.loose {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

i.icon-middle {
  vertical-align: middle;
}


.material-icons.mat-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.material-icons.mat-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

button.btn-huge {
  width: 165px;
  height: 165px;

  .mat-icon {
    padding: 0;
    width: 165px;
    height: 165px;
    font-size: 10rem;
    line-height: 165px;
  }
}


.col.col-centered {
  text-align: center;
}

md-dialog-container {
  background: white;
  overflow: visible !important;
}

/* To override annoying yellow autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.form-group {
  padding: 5px 0px;
  margin-bottom: 0px;

  .ng-invalid.ng-dirty label.mat-input-placeholder,
  .ng-invalid.ng-touched label.mat-input-placeholder {
    color: mat-color($allu-warn, 500);
  }

  .form-group-label {
    font-weight: bold;
  }
}

label.mat-checkbox-layout,
.mat-input-element:disabled,
.mat-select-disabled .mat-select-value,
.select-wrapper input.select-dropdown:disabled {
  color: $black-50-opacity;
}


.input-field-label {
  font-weight: bold;
}

.row .input-field-checkbox {
  min-height: 3rem;
  height: 3rem;
  margin-top: 26px;
  margin-bottom: 5px;
}

.row.no-left-pad .col {
  padding: 0 0.75rem 0 0;
  label {
    left: 0;
  }
}

md-card {
  background: $allu-card-background;
}

md-card-content {
  label.info-label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: $allu-text-black;
    padding-top: 9px;
  }

  .info-field {
    padding-top: 3px;
  }

  .col.info-field-group {
    padding-left: 0;
  }

  .input-field-info-text {
    height: 3rem;
  }
}

.button-group {
  display: inline;
  margin-left: 3px;
  margin-right: 3px;

  [type="button"] {
    float: left;
    box-shadow: none;
  }

  [type="button"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right: 1px solid mat-color($allu-primary, 600);
  }

  [type="button"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left: 1px solid mat-color($allu-primary, 600);
  }

  [type="button"]:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: 1px solid mat-color($allu-primary, 600);
    border-right: 1px solid mat-color($allu-primary, 600);
  }
}

ul.card-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.slim-card {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  .card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    div {
      padding: 0 10px;
      white-space: nowrap;
    }
  }

  i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }

  .card-item-align-right {
    margin-left: auto;
  }
}

.col.loose {
  margin: 5px 0;
}

.item-bar {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 64px;
  background-color: mat-contrast($allu-primary, 500);
  color: mat-color($allu-primary, 500);

  .item-bar-content {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 64px;
    width: 100%;
    padding: 10px 0px;
  }

  .item-bar-content > span {
    padding: 0 5px;
  }
}

.text-faint {
  color: mat-contrast($allu-primary, 100);
}

.allu-chip {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-accent {
  @extend .allu-chip;
  color: mat-contrast($allu-accent, 800);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
  @extend .allu-chip;
  color: mat-contrast($allu-primary, 500);
}

.mat-chip:not(.mat-basic-chip).slim-chip {
  padding: 0px 12px;
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary.chip-outline {
  color: mat-color($allu-primary, 500);
  background-color: transparent;
  border: 2px solid mat-color($allu-primary, 500);
}

.input-full-width {
  width: 100%;
}

.select-wrapper input.select-dropdown,
.mat-select-trigger {
  height: 2.5rem !important;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

input.real-file-input {
  display: none;
}

.file-drop-zone {
  display: inline-block;
  border: 2px dashed mat-color($allu-primary, 200);
  border-radius: 6px;
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.file-over-drop-zone {
  border-color: mat-color($allu-primary, 500);
}

.file-download-card {
  display: inline-flex;
  border: 2px solid mat-color($allu-primary, 200);
  border-radius: 6px;
  padding: 10px 30px;
  color: mat-color($allu-primary, 500);

  span {
    vertical-align: middle;
    font-weight: bold;
    line-height: 40px;
  }
}
