@import 'variables';
@import 'colors';

// Reset
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

// To allow content to fill all space
html, body{
  height: 100%;
  min-height: 100%;
  background: $allu-background;
}

// Box-sizing border-box
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

// Set up a default font and some padding to provide breathing room
body {
  font-family: $md-font-family;
  font-size: $md-body-font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

button {
  background-color: md-color($app-blue, 500);
  border-style: none;
  color: rgba(255,255,255,0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: md-color($app-blue, 400);
}

tr.row-highlight:hover {
  background-color: md-color($app-blue, 50) !important;
}

.on-map {
  position: absolute;
  z-index: 100;
}

.map-button {
  height: 35px;
  text-align: center;
  width: 35px;
}

.select-wrapper {
  .dropdown-content {
    z-index: 9999;
  }
}

md-toolbar {
  &.row {
    margin-bottom: 0;
  }
}

.row  {
  .loose {
    margin: 10px 0px;
  }
}

.clickable {
  cursor: pointer;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

i.icon-middle {
  vertical-align: middle;
}

md-dialog-container {
  background: white;
  overflow: visible !important;
}

/* To override annoying yellow autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.form-group {
  padding: 5px 0px;
  margin-bottom: 0px;

  .input-field {
    .ng-invalid.ng-dirty, .ng-invalid.ng-touched {
      border-bottom: 2px solid $allu-field-error;
      box-shadow: none;
    }

    .ng-invalid.ng-dirty ~ label,
    .ng-invalid.ng-touched ~label {
      color: $allu-field-error;
    }
  }

  .form-group-label {
    font-weight: bold;
  }
}

md-card {
  background: $allu-card-background;
}

md-card-content {
  label.info-label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: $allu-text-black;
    padding-top: 9px;
  }

  .info-field {
    padding-top: 3px;
  }

  .col.info-field-group {
    padding-left: 0;
  }
}