@import 'colors';

input[type="radio"]:not(:checked).leaflet-control-layers-selector,
input[type="radio"]:checked.leaflet-control-layers-selector,
input[type="checkbox"]:not(:checked).leaflet-control-layers-selector,
input[type="checkbox"]:checked.leaflet-control-layers-selector {
  left: 0;
  opacity: 1;
  position: relative;
}

.map {
  height: 100%;
}

h1.popup-header {
  font-size: 15px;
  line-height: 20px;
  border-bottom: 2px solid $allu-field-border-ok;
}