@use '~@angular/material' as mat;

@mixin modal-theme($theme) {
  $primary: map-get($theme, primary);

  h1.mat-dialog-title {
    color: mat.get-color-from-palette($primary, 500);
  }
}

.mat-dialog-actions button {
  margin: 0 5px;
}