@use '@angular/material' as mat;

@mixin modal-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-mdc-dialog-container {
    --mdc-dialog-subhead-color: #{mat.m2-get-color-from-palette($primary, 500)};
  }
}

.mat-mdc-dialog-actions button {
  margin: 0 5px;
}