<div *ngIf="project$ | async as project">
  <div fxLayout="row">
    <div fxFlex>
      <h2 class="allu-header">
        <span>{{project.customer?.name}}</span>
        <span *ngIf="project.startTime">{{project.startTime | date:'shortDate'}}</span>
        <span *ngIf="project.endTime"> - {{project.endTime | date:'shortDate'}}</span>
      </h2>
    </div>
    <div fxFlex></div>
  </div>

  <div fxLayout="row" fxLayoutGap="18px">
    <div fxFlex="calc(50% - 18px)">
      <project-info [project]="project"
                    [cityDistricts]="districts$ | async">
      </project-info>
    </div>
    <div fxFlex="calc(50% - 18px)">
      <div class="mapcontainer">
        <map [zoom]="true" [projectId]="project.id" role="LOCATION">Loading map</map>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <allu-card>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="0 0 50%" class="preview-card">
              <h2 class="preview-header">
                {{'comment.title' | translation}}
              </h2>
              <comment-preview-list
                [comments]="comments$ | async"
                [commentLink]="['/projects', project.id, 'comments']">
              </comment-preview-list>
            </div>
            <div fxFlex="0 0 50%" class="preview-card"></div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <project-applications [projectId]="project.id"></project-applications>
</div>
