<div *ngIf="project$ | async as project">
  <div class="row">
    <div class="col m6">
      <allu-card>
        <mat-card-title>Hankkeen perustiedot</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col m6 info-field-group">
              <div>
                <label class="info-label">Arvioitu aloitus</label>
                <div *ngIf="!project.startTime">-</div>
                <div *ngIf="project.startTime" class="info-field">{{project.startTime | date:'shortDate'}}</div>
              </div>
              <div>
                <label class="info-label">Arvioitu päättyminen</label>
                <div *ngIf="!project.endTime">-</div>
                <div *ngIf="project.endTime" class="info-field">{{project.endTime | date:'shortDate'}}</div>
              </div>
              <div>
                <label class="info-label">Asiakkaan tyonro/viite</label>
                <div class="info-field">{{project.customerReference}}</div>
              </div>
            </div>
            <div class="col m6 info-field-group">
              <div>
                <label class="info-label">Hankkeen omistaja ja yhteyshenkilö</label>
                <div class="info-field">{{project.ownerName}}, {{project.contactName}}</div>
              </div>
              <div>
                <label class="info-label">Puhelinnumero</label>
                <div class="info-field">{{project.phone}}</div>
              </div>
              <div>
                <label class="info-label">Sähköpostiosoite</label>
                <div class="info-field"><a href="mailto:{{project.email}}">{{project.email}}</a></div>
              </div>
            </div>
            <div class="col m12 info-field-group">
              <div>
                <label class="info-label">Kaupunginosa(t)</label>
                <div class="info-field">{{districts$ | async | commaSeparated}}</div>
              </div>
            </div>
            <div class="col m12 info-field-group">
              <div>
                <label class="info-label">Lisätietoja</label>
                <div class="info-field">{{project.additionalInfo}}</div>
              </div>
            </div>
          </div>
          <div class="row" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
            <div class="col m12">
              <button mat-raised-button type="button" color="primary"
                      [routerLink]="['/projects', project.id, 'edit']">
                MUOKKAA
              </button>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
    <div class="col m6">
      <div class="mapcontainer">
        <map [zoom]="true" [projectId]="project.id" role="LOCATION">Loading map</map>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6">
      <allu-card>
        <mat-card-title>Historia</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan.
        </mat-card-content>
      </allu-card>
    </div>
    <div class="col m6">
      <allu-card>
        <mat-card-title>Sisäiset kommentit</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan.
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <project-applications [projectId]="project.id"></project-applications>
</div>
