<div class="row">
<div class="col s12 searchinput">
  <div class="input-field col s8">
    <input id="streetAddress" type="text"
           (keyup.enter)="notifySearchUpdated()"
           (blur)="notifySearchUpdated()"
           [(ngModel)]="search">
    <label for="streetAddress">Kirjoita osoite</label>
  </div>

  <div class="input-field col s2">
    <input id="startDate"
           materialize="pickadate"
           [materializeParams]="pickadateParams"
           type="text"
           [(ngModel)]="startDate"/>
    <label for="startDate">Alkupäivämäärä</label>
  </div>

  <div class="input-field col s2">
    <input id="endDate"
           materialize="pickadate"
           [materializeParams]="pickadateParams"
           type="text"
           [(ngModel)]="endDate"/>
    <label for="endDate">Loppupäivämäärä</label>
  </div>
  </div>
</div>
