<div [formGroup]="contactsForm">
    <div formArrayName="contacts" class="col m6 loose no-border">
        <div *ngFor="let contact of contactsForm.controls.contacts.controls; let index=index">
            <div [formGroupName]="index" class="no-border">
                <md-card>
                    <md-card-title>{{headerText}}</md-card-title>
                    <md-card-content>
                        <div class="row form-group">
                            <div class="input-field col m12">
                                <input id="contactName" type="text" formControlName="name" [readonly]="readonly">
                                <label for="contactName">{{ meta?.getUiName('contact.contactName') }}*</label>
                                <field-error [form]="contact" field="name" hasError="required">{{translations.contact.field.nameMissing}}</field-error>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="input-field col m6">
                                <input id="contactStreetAddress" type="text" formControlName="streetAddress" [readonly]="readonly">
                                <label for="contactStreetAddress">{{ meta?.getUiName('contact.address') }}</label>
                            </div>
                            <div class="input-field col m3">
                                <input id="contactPostalCode" type="text" formControlName="postalCode" [readonly]="readonly">
                                <label for="contactPostalCode">{{ meta?.getUiName('contact.postalCode') }}</label>
                            </div>
                            <div class="input-field col m3">
                                <input id="contactCity" type="text" formControlName="city" [readonly]="readonly">
                                <label for="contactCity">{{ meta?.getUiName('contact.postOffice') }}</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="input-field col m4">
                                <input id="contactPhone" type="text" formControlName="phone" [readonly]="readonly">
                                <label for="contactPhone">{{ meta?.getUiName('contact.phoneNumber') }}</label>
                                <field-error [form]="contact" field="phone" hasError="minlength">{{translations.contact.field.phoneShort}}</field-error>
                            </div>
                            <div class="input-field col m8">
                                <input id="contactEmail" type="text" formControlName="email" [readonly]="readonly">
                                <label for="contactEmail">{{ meta?.getUiName('contact.email') }}</label>
                                <field-error [form]="contact" field="email" hasError="pattern">{{translations.contact.field.emailInvalid}}</field-error>
                            </div>
                        </div>
                        <div *ngIf="!readonly" class="row form-group">
                            <div class="buttons col m12">
                                <button *ngIf="saveToRegistry" md-raised-button class="waves-effect waves-light btn"
                                        (click)="saveToRegistry(contactList[0])">TALLENNA REKISTERIIN</button>
                                <button *ngIf="addNew" md-raised-button
                                        class="waves-effect waves-light btn" (click)="newContact(contactList[0])">UUSI YHTEYSHENKILÖ</button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>