<div [formGroup]="form">
    <div formArrayName="contacts">
        <div *ngFor="let contact of contacts.controls; let index=index" class="col m6 contact-card">
            <div [formGroupName]="index" class="no-border">
                <md-card>
                    <md-card-title>
                        {{['contact.role', customerRoleType, 'title'] | translation}}
                        <button md-icon-button type="button" class="align-with-text"
                                *ngIf="canBeEdited(contact.value)"
                                (click)="edit(contact.value.id, index)">
                            <md-icon>mode_edit</md-icon>
                        </button>
                        <button md-icon-button type="button" class="align-with-text"
                                *ngIf="canBeRemoved()"
                                (click)="remove(index)">
                            <md-icon>clear</md-icon>
                        </button>
                    </md-card-title>
                    <md-card-content>
                        <div class="row form-group">
                            <div class="col m6">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="name"
                                           placeholder="Yhteyshenkilön nimi*"
                                           [mdAutocomplete]="nameSearch" (keyup)="resetContactIfExisting(index)"/>
                                    <md-autocomplete #nameSearch="mdAutocomplete">
                                        <md-option *ngFor="let contact of matchingContacts | async"
                                                   [value]="contact.name" (click)="contactSelected(contact, index)">
                                            {{ contact.name }}
                                        </md-option>
                                    </md-autocomplete>
                                    <md-hint>
                                        <field-error [form]="contact" field="name" hasError="required">{{'contact.field.nameMissing' | translation}}</field-error>
                                    </md-hint>
                                </md-form-field>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col m6">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="streetAddress" placeholder="Katuosoite"/>
                                </md-form-field>
                            </div>
                            <div class="col m3">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="postalCode" placeholder="Postinumero"/>
                                    <md-hint>
                                        <field-error [form]="contact" field="postalCode" hasError="pattern">{{'common.field.postalCode' | translation}}</field-error>
                                    </md-hint>
                                </md-form-field>
                            </div>
                            <div class="col m3">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="city" placeholder="Toimipaikka"/>
                                </md-form-field>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col m6">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="email" placeholder="Sähköpostiosoite"/>
                                    <md-hint>
                                        <field-error [form]="contact" field="email" hasError="pattern">{{'common.field.emailInvalid' | translation}}</field-error>
                                    </md-hint>
                                </md-form-field>
                            </div>
                            <div class="col m6">
                                <md-form-field class="input-full-width">
                                    <input mdInput type="text" formControlName="phone" placeholder="Puhelin"/>
                                    <md-hint>
                                        <field-error [form]="contact" field="phone" hasError="minlength">{{'contact.field.phoneShort' | translation}}</field-error>
                                    </md-hint>
                                </md-form-field>
                            </div>
                        </div>
                        <div class="row form-group" *ngIf="showOrderer" id="orderer">
                            <div class="col m12">
                                <md-radio-button name="orderer" [checked]="isOrderer(index)" [disabled]="readonly" (change)="selectOrderer(index)">
                                    Hakemuksen tilaaja
                                </md-radio-button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
