<div [formGroup]="contactsForm">
    <div formArrayName="contacts" class="col m6 loose no-border">
        <div *ngFor="let contact of contactsForm.controls.contacts.controls; let index=index">
            <div [formGroupName]="index" class="no-border">
                <md-card>
                    <md-card-title>{{headerText}}</md-card-title>
                    <md-card-content>
                        <div class="row form-group">
                            <div class="input-field col m12">
                                <input id="{{formName}}-contactName" type="text" formControlName="name">
                                <label for="{{formName}}-contactName">Yhteyshenkilön nimi*</label>
                                <field-error [form]="contact" field="name" hasError="required">{{translations.contact.field.nameMissing}}</field-error>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="input-field col m6">
                                <input id="{{formName}}-contactStreetAddress" type="text" formControlName="streetAddress">
                                <label for="{{formName}}-contactStreetAddress">Henkilötunnus</label>
                            </div>
                            <div class="input-field col m3">
                                <input id="{{formName}}-contactPostalCode" type="text" formControlName="postalCode">
                                <label for="{{formName}}-contactPostalCode">Postinumero</label>
                            </div>
                            <div class="input-field col m3">
                                <input id="{{formName}}-contactCity" type="text" formControlName="city">
                                <label for="{{formName}}-contactCity">Toimipaikka</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="input-field col m4">
                                <input id="{{formName}}-contactPhone" type="text" formControlName="phone">
                                <label for="{{formName}}-contactPhone">Puhelin</label>
                                <field-error [form]="contact" field="phone" hasError="minlength">{{translations.contact.field.phoneShort}}</field-error>
                            </div>
                            <div class="input-field col m8">
                                <input id="{{formName}}-contactEmail" type="text" formControlName="email">
                                <label for="{{formName}}-contactEmail">Sähköpostiosoite</label>
                                <field-error [form]="contact" field="email" hasError="pattern">{{translations.contact.field.emailInvalid}}</field-error>
                            </div>
                        </div>
                        <div *ngIf="!readonly" class="row form-group">
                            <div class="buttons col m12">
                                <button *ngIf="saveToRegistry" class="waves-effect waves-light btn"
                                        (click)="saveToRegistry(contactList[0])">TALLENNA REKISTERIIN</button>
                                <button *ngIf="addNew" md-raised-button
                                        class="waves-effect waves-light btn" (click)="newContact(contactList[0])">UUSI YHTEYSHENKILÖ</button>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>