<div class="main-content">
  <div fxLayout="row" class="action-bar-loose">
    <div fxFlex>
      <button mat-raised-button type="button" color="primary" (click)="newUser()">{{'externalUser.addNew' | translation}}</button>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <table class="bordered responsive-table">
        <thead>
        <tr>
          <th>{{'user.username' | translation}}</th>
          <th>{{'name' | translation}}</th>
          <th>{{'externalUser.email' | translation}}</th>
          <th>{{'user.lastLogin' | translation}}</th>
          <th>{{'user.roles' | translation}}</th>
          <th>{{'externalUser.expirationTime' | translation}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | async" class="clickable row-highlight"
            (click)="onSelect(user)">
          <td>{{user.username}}</td>
          <td>{{user.name}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.uiLastLogin}}</td>
          <td>
                        <span *ngFor="let role of user.uiAssignedRoles; let last=last">
                            {{['externalUser.role', role] | translation | commaSeparated: last}}
                        </span>
          <td>{{user.uiExpirationTime}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
