:host {
  display: block;
}

:host ::ng-deep {
  .mat-selection-list .mat-list-option,
  .mat-list-base .mat-list-item {
    font-size: 14px;
    min-height: 38px;
    height: auto;
    position: relative;

    .mat-list-item-content {
      height: auto;
      min-height: 38px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .mat-list-text {
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  .mat-selection-list .mat-list-option.map-container {
    height: 200px;

    .mat-list-item-content {
      padding-right: 0;

      .mat-list-text {
        padding-left: 0;
      }
    }
  }

  .mat-selection-list .mat-list-option:not(:last-of-type),
  .mat-list .mat-list-item:not(:last-of-type) {
    margin-bottom: 2px;
  }

  .mat-selection-list .mat-list-option .mat-list-item-content {
    padding-left: 8px;
  }
}

:host ::ng-deep .mat-pseudo-checkbox {
  width: 8px;
  height: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
}

:host ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  visibility: visible;
}

:host ::ng-deep .mat-pseudo-checkbox-checked::after {
  width: 0;
  height: 0;
  visibility: hidden;
  border-left: none;
}

.value-change {
  font-weight: 500;
}
