<div class="acceptance-content" *ngIf="!customerRemoved; else removedTemplate">
  <customer-acceptance
    [parentForm]="parentForm"
    [oldCustomer]="oldCustomerWithContacts?.customer"
    [newCustomer]="newCustomerWithContacts?.customer"
    [readonly]="readonly"
    [fieldKey]="fieldKey"
    [canBeInvoiceRecipient]="canBeInvoiceRecipient"
    [hideExisting]="hideExisting"></customer-acceptance>

  <contacts-acceptance
    [parentForm]="parentForm"
    [newContacts]="newCustomerWithContacts?.contacts"
    [oldContacts]="effectiveOldCustomerWithContacts?.contacts"
    [readonly]="readonly"
    [fieldKey]="fieldKey"
    [hideExisting]="hideExisting"></contacts-acceptance>
</div>

<ng-template #removedTemplate>
  <removed-customer-acceptance
    [customer]="effectiveOldCustomerWithContacts?.customer"
    [fieldKey]="fieldKey"
    (keep)="keepCustomer()"
    (remove)="acceptRemoval()">
  </removed-customer-acceptance>
</ng-template>
