<div class="acceptance-content" *ngIf="!customerRemoved; else removedTemplate">
  <customer-acceptance
    [parentForm]="parentForm"
    [oldCustomer]="oldCustomerWithContacts?.customer"
    [newCustomer]="newCustomerWithContacts?.customer"
    [readonly]="readonly"
    [fieldKey]="fieldKey"
    [canBeInvoiceRecipient]="canBeInvoiceRecipient"
    [hideExisting]="hideExisting"></customer-acceptance>

  <contacts-acceptance
    [parentForm]="parentForm"
    [newContacts]="newCustomerWithContacts?.contacts"
    [readonly]="readonly"
    [fieldKey]="fieldKey"
    [hideExisting]="hideExisting"></contacts-acceptance>
</div>

<ng-template #removedTemplate>
  <div class="removal-acceptance info-acceptance">
    <div class="section-container">
      <div class="section-content">
        <h2 mat-dialog-title>
          {{['informationRequest.field', fieldKey] | translation}}
        </h2>
      </div>
    </div>
    <div class="section-container removal-choices">
      <div class="section-content removal-choice"
           [class.selected]="removalAccepted === false"
           (click)="keepCustomer()">
        <mat-radio-button [checked]="removalAccepted === false" disableRipple>
          {{'informationRequest.acceptance.keepCustomer' | translation}}
        </mat-radio-button>
        <div class="customer-details" *ngIf="effectiveOldCustomerWithContacts?.customer as customer">
          <div class="detail-row">
            <span class="detail-label">{{'customer.type.' + customer.type + '.nameLabel' | translation}}</span>
            <span class="detail-value">{{customer.name}}</span>
          </div>
          <div class="detail-row" *ngIf="customer.registryKey">
            <span class="detail-label">{{'customer.type.' + customer.type + '.id' | translation}}</span>
            <span class="detail-value">{{customer.registryKey}}</span>
          </div>
        </div>
      </div>
      <div class="section-content removal-choice"
           [class.selected]="removalAccepted === true"
           (click)="acceptRemoval()">
        <mat-radio-button [checked]="removalAccepted === true" disableRipple>
          {{'informationRequest.acceptance.customerRemoved' | translation}}
        </mat-radio-button>
        <div class="removal-warning">
          <mat-icon color="accent" class="mat-icon-18">warning</mat-icon>
          <span>{{'informationRequest.acceptance.customerRemovedDescription' | translation}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
