<div class="acceptance-content">
  <customer-acceptance
    [parentForm]="parentForm"
    [oldCustomer]="oldCustomerWithContacts?.customer"
    [newCustomer]="newCustomerWithContacts?.customer"
    [readonly]="readonly"
    [fieldKey]="fieldKey"
    [canBeInvoiceRecipient]="canBeInvoiceRecipient"></customer-acceptance>

  <contacts-acceptance
    [parentForm]="parentForm"
    [newContacts]="newCustomerWithContacts?.contacts"
    [readonly]="readonly"
    [fieldKey]="fieldKey"></contacts-acceptance>
</div>
