<form [formGroup]="form">
  <div class="field-group-options" *ngIf="displayedFields.length">
    <label>{{'informationRequest.acceptance.noChange' | translation}}</label>
    <label>{{'informationRequest.acceptance.change' | translation}}</label>
  </div>
  <ul>
    <li *ngIf="displayedFields.length === 0" class="label-row text-primary">
      {{'informationRequest.acceptance.noChanges' | translation}}
    </li>
    <li *ngFor="let fieldName of displayedFields">
      <field-acceptance
        [formControlName]="fieldName"
        [label]="fieldLabels[fieldName]"
        [oldValue]="oldValues[fieldName]"
        [newValue]="newValues[fieldName]"></field-acceptance>
    </li>
  </ul>
</form>
