.acceptance-content > *:not(:first-child) {
  margin-top: 15px;
}

.acceptance-info-header > .mat-mdc-dialog-title {
  margin: 0;
}

.info-bordered {
  display: block;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.info-section {
  margin-bottom: 14px;
}
