<h1 mat-dialog-title *ngIf="!readonly">{{'informationRequest.acceptance.title' | translation}}</h1>
<h1 mat-dialog-title *ngIf="readonly">{{'informationRequest.acceptance.readonlyTitle' | translation}}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div *ngFor="let field of updatedFields">
      <div [ngSwitch]="field">
        <kind-acceptance
          *ngSwitchCase="'CLIENT_APPLICATION_KIND'"
          [parentForm]="form"
          [applicationType]="oldInfo.type"
          [oldValues]="oldInfo?.kindsWithSpecifiers"
          [newValues]="newInfo?.clientApplicationData.clientApplicationKind"
          [readonly]="readonly">
        </kind-acceptance>

        <div *ngSwitchCase="'APPLICATION_KIND'">
          <!-- Placeholder -->
        </div>

        <customer-with-contacts-acceptance
          *ngSwitchCase="'CUSTOMER'"
          [parentForm]="form"
          [oldCustomerWithContacts]="oldInfo?.applicant"
          [newCustomerWithContacts]="newInfo?.clientApplicationData?.customer"
          [readonly]="readonly"></customer-with-contacts-acceptance>

        <ng-container *ngSwitchCase="'INVOICING_CUSTOMER'">
          <invoice-customer-acceptance
            *ngIf="(useCustomerForInvoicing$ | async) === undefined"
            [parentForm]="form"
            [newCustomer]="newInfo?.clientApplicationData?.invoicingCustomer"
            [readonly]="readonly"></invoice-customer-acceptance>
        </ng-container>

        <div *ngSwitchCase="'GEOMETRY'">
          <!-- Placeholder -->
        </div>

        <div *ngSwitchCase="'POSTAL_ADDRESS'">
          <!-- Placeholder -->
        </div>

        <div *ngSwitchCase="'ATTACHMENT'">
          <!-- Placeholder -->
        </div>

        <div *ngSwitchDefault>
          <!-- Placeholder -->
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button *ngIf="!readonly" type="submit" mat-raised-button color="primary" [disabled]="submitDisabled | async">
      {{'common.button.save' | translation}}
    </button>
    <button *ngIf="!readonly" type="button" mat-raised-button color="primary" (click)="cancel()">
      {{'common.button.cancel' | translation}}
    </button>
    <button *ngIf="readonly" type="button" mat-raised-button color="primary" (click)="cancel()">
      {{'informationRequest.acceptance.close' | translation}}
    </button>
  </div>
</form>
