<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <div class="row">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
              [readonly]="readonly" [showRepresentative]="true" [contactRequired]="!hasRepresentative"></customer>
  </div>

  <div class="row" *ngIf="hasRepresentative">
    <customer [parentForm]="applicationForm" [customerWithContacts]="application.representative"
              roleType="REPRESENTATIVE" [readonly]="readonly"></customer>
  </div>

  <div class="row">
    <div class="col m12">
      <mat-card>
        <mat-card-title>Tapahtuman tiedot</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div class="col m6">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="name" placeholder="Tapahtuman nimi*"/>
                <mat-hint>
                  <field-error [form]="applicationForm" field="name" hasError="required">
                    {{'application.field.nameMissing' | translation}}
                  </field-error>
                  <field-error [form]="applicationForm" field="name" hasError="minlength">
                    {{'application.field.nameShort' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
            <div formGroupName="eventTimes">
              <div class="col m3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" placeholder="Tapahtuman alkupäivämäärä*"
                         [matDatepicker]="startTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('eventTimes')" field="startTime" hasError="required">
                      {{'application.event.field.eventStartTimeMissing' | translation}}
                    </field-error>
                    <field-error [form]="applicationForm" field="eventTimes" hasError="startBeforeEnd">
                      {{'application.event.field.startBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col m3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime" placeholder="Tapahtuman loppupäivämäärä*"
                         [matDatepicker]="endTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="endTimePicker" [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('eventTimes')" field="endTime" hasError="required">
                      {{'application.event.field.eventEndTimeMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize formControlName="description"
                          placeholder="Tapahtuman kuvaus*"></textarea>
                <mat-hint>
                  <field-error [form]="applicationForm" field="description" hasError="required">
                    {{'application.event.field.descriptionMissing' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize formControlName="timeExceptions"
                          placeholder="Tapahtuma-ajan poikkeukset"></textarea>
              </mat-form-field>
            </div>
            <div class="col m6">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="url" placeholder="Tapahtuman www-sivu"/>
              </mat-form-field>
            </div>
            <div class="col m3">
              <mat-form-field class="input-full-width">
                <input matInput type="number" formControlName="attendees"
                       step="1" min="0" placeholder="Yleisömäärä"/>
                <mat-hint>
                  <field-error [form]="applicationForm" field="attendees" hasError="greaterThanOrEqual">
                    {{'application.event.field.attendeesGreaterThanOrEqual' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col m3">
              <mat-form-field class="input-full-width">
                <input matInput type="number" formControlName="entryFee"
                       step="any" min="0" placeholder="Osallistumismaksu, jos urheilutapahtuma"/>
                <mat-hint>
                  <field-error [form]="applicationForm" field="entryFee" hasError="greaterThanOrEqual">
                    {{'application.event.field.eventEntryFeeThanOrEqual' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <mat-card>
        <mat-card-title>Rakenteet</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col m3 input-field-checkbox">
              <mat-checkbox #structureArea [disabled]="readonly" [checked]="applicationForm.value.structureArea">
                Tapahtuma sisältää rakenteita
              </mat-checkbox>
            </div>
            <div class="col m3" [hidden]="!structureArea.checked">
              <mat-form-field class="input-full-width">
                <input matInput type="number" formControlName="structureArea" step="any" min="0"
                       placeholder="Rakenteiden kokonaisneliömäärä"/>
                <mat-hint>
                  <field-error [form]="applicationForm" field="structureArea" hasError="greaterThanOrEqual">
                    {{'application.event.field.structureAreaGreaterThanOrEqual' | translation}}
                  </field-error>
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col m12" [hidden]="!structureArea.checked">
              <mat-form-field class="input-full-width">
                            <textarea matInput matTextareaAutosize formControlName="structureDescription"
                                      placeholder="Rakenteiden kuvaus"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col m3 input-field-checkbox">
              <mat-checkbox #structureTimes [disabled]="readonly"
                            [checked]="applicationForm.get('structureTimes').value.startTime || applicationForm.get('structureTimes').value.endTime">
                Tapahtuma vaatii erillisiä rakennus- tai purkupäiviä
              </mat-checkbox>
            </div>

            <div formGroupName="structureTimes" [hidden]="!structureTimes.checked">
              <div class="col m3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" placeholder="Rakennuspäivämäärä"
                         [matDatepicker]="structureStartTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="structureStartTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #structureStartTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm" field="structureTimes" hasError="startBeforeEnd">
                      {{'application.event.field.startBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col m3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime" placeholder="Purkupäivämäärä"
                         [matDatepicker]="structureEndTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="structureEndTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #structureEndTimePicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <pricing-info [form]="applicationForm" [kind]="application.uiKind"></pricing-info>
    </div>
  </div>

  <div class="row" *ngIf="readonly">
    <div class="col m12">
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <mat-card>
        <mat-card-title>Myyntitoiminta</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div class="col m12 input-field-checkbox">
              <mat-checkbox #marketingProviders [disabled]="readonly"
                            [checked]="applicationForm.value.marketingProviders">
                Tapahtuma sisältää myynti- tai mainostoimintaa
              </mat-checkbox>
            </div>
            <div class="col m12" [hidden]="!marketingProviders.checked">
              <mat-form-field class="input-full-width">
                                <textarea matInput matTextareaAutosize formControlName="marketingProviders"
                                          placeholder="Myynti- tai mainostoiminnan kuvaus"></textarea>
              </mat-form-field>
            </div>
            <div class="col m12 input-field-checkbox">
              <mat-checkbox #foodSales formControlName="foodSales">Tapahtuma sisältää elintarvikemyyntiä tai tarjoilua
              </mat-checkbox>
            </div>
            <div class="col m12" [hidden]="!foodSales.checked">
              <mat-form-field class="input-full-width">
                                <textarea matInput matTextareaAutosize formControlName="foodProviders"
                                          placeholder="Tapahtuma sisältää elintarvikemyyntiä tai tarjoilua"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row" *ngIf="showTerms">
    <div class="col s12">
      <terms [form]="applicationForm"
             [applicationType]="application.typeEnum"
             [terms]="application.extension.terms"
             [readonly]="readonly"></terms>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <application-actions
        [readonly]="readonly"
        [form]="applicationForm"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
