version: '3.5'

services:
  allu_database:
    build: ./roles/database_build/files/database_docker/
    image: allu_database
    container_name: allu-database
    volumes:
      - ./roles/database/files/database_docker/local_development_conf/dev-add-report.sql:/docker-entrypoint-initdb.d/dev-add-report.sql
    environment:
      # Postgres demands that default user postgres password is defined
      POSTGRES_PASSWORD: postgres
    ports:
      # <Port exposed> : < PostgreSQL Port running inside container>
      - "5432:5432"
  allu-node:
    build: ./roles/database_build/files/database_docker/elasticsearch/
    image: allu_elasticsearch
    container_name: allu-elasticsearch
    environment:
      node.name: allu-node
      cluster.name: allu-cluster
      xpack.security.enabled: "false"
    ports:
      # <Port exposed> : < Elasticsearch Ports running inside container>
      - "9200:9200"
      - "9300:9300"
  allu-reporting-database:
    build: ./roles/reporting_database_build/files/reporting_database_docker/
    image: allu_database
    container_name: allu-reporting-database
    environment:
      # Postgres demands that default user postgres password is defined
      POSTGRES_PASSWORD: postgres
    ports:
      # <Port exposed> : < PostgreSQL Port running inside container>
      - "5433:5432"