<div>
    <div class="search-bar">
        <h1>HAKU</h1>
        <form [formGroup]="queryForm">
            <div class="row">
                <div class="col m3">
                    <md-input-container class="input-full-width">
                        <input md-input type="text" formControlName="ownerName" placeholder="Hankkeen omistaja"/>
                    </md-input-container>
                </div>
                <div class="col m2">
                    <md-input-container class="input-full-width">
                        <input md-input type="text" formControlName="id" placeholder="Hankkeen tunnus"/>
                    </md-input-container>
                </div>
                <div class="col m2">
                    <select formControlName="districts" materialize="material_select" multiple>
                        <option value="" disabled selected>Kaupunginosa</option>
                        <option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}</option>
                    </select>
                </div>
                <div class="col m1">
                    <md-input-container class="input-full-width">
                        <input md-input type="text" formControlName="startTime" placeholder="Alkupvm"
                               materialize="pickadate"
                               [materializeParams]="pickadateParams"/>
                    </md-input-container>
                </div>
                <div class="col m1">
                    <md-input-container class="input-full-width">
                        <input md-input type="text" formControlName="endTime" placeholder="Loppupvm"
                               materialize="pickadate"
                               [materializeParams]="pickadateParams"/>
                    </md-input-container>
                </div>
                <div class="col m3">
                    <md-input-container class="input-full-width">
                        <input md-input type="text" formControlName="creator" placeholder="Hankkeen lisääjä"/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col m3">
                    <md-checkbox formControlName="onlyActive">Vain aktiiviset</md-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col m12 s12">
                    <button (click)="search()" md-raised-button type="button" color="primary">HAE</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s2 push-s10">
                <button md-raised-button type="button" color="primary" [routerLink]="['/projects/edit']">UUSI HANKE</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col s12">
            <table class="bordered responsive-table">
                <thead>
                <tr>
                    <th>Lisääjä</th>
                    <th sortBy="id" [currentSort]="sort" (onSortChange)="sortBy($event)">Tunnus</th>
                    <th sortBy="ownerName" [currentSort]="sort" (onSortChange)="sortBy($event)">Omistaja</th>
                    <th>Aktiivinen</th>
                    <th>Kaupunginosa</th>
                    <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Alku</th>
                    <th sortBy="endTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Loppu</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects" class="clickable row-highlight"
                    (click)="goToSummary(project)">
                    <td>-</td>
                    <td>{{project.id}}</td>
                    <td>{{project.ownerName}}</td>
                    <td>
                        <span *ngIf="project.active">AKTIIVINEN</span>
                        <span *ngIf="!project.active">INAKTIIVINEN</span>
                    </td>
                    <td>{{districtNames(project.cityDistricts) | async | commaSeparated}}</td>
                    <td>{{project.startTime | date:format}}</td>
                    <td>{{project.endTime | date:format}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
