<div>
    <div class=" search-bar">
        <h1>HAKU</h1>
        <form [formGroup]="queryForm">
            <div class="row">
                <div class="input-field col m3">
                    <input id="ownerName" type="text" formControlName="ownerName">
                    <label for="ownerName">Hankkeen omistaja</label>
                </div>
                <div class="input-field col m2">
                    <input id="projectId" type="text" formControlName="id">
                    <label for="projectId">Hankkeen tunnus</label>
                </div>
                <div class="input-field col m2">
                    <select id="district" formControlName="district" materialize="material_select">
                        <option value="" selected disabled>Kaupunginosa</option>
                    </select>
                    <label for="district">Kaupunginosa</label>
                </div>
                <div class="input-field col m1">
                    <label for="startDate">Alkupvm</label>
                    <input id="startDate"
                           formControlName="startTime"
                           materialize="pickadate"
                           [materializeParams]="pickadateParams"
                           type="text"/>
                </div>
                <div class="input-field col m1">
                    <input id="endDate"
                           formControlName="endTime"
                           materialize="pickadate"
                           [materializeParams]="pickadateParams"
                           type="text"/>
                    <label for="endDate">Loppupvm</label>
                </div>
                <div class="input-field col m3">
                  <input id="creator" type="text" formControlName="creator">
                  <label for="creator">Hankkeen lisääjä</label>
                </div>
                <div class="input-field col input-field-checkbox m3">
                    <input type="checkbox" class="filled-in" id="onlyActive" formControlName="onlyActive"/>
                    <label for="onlyActive">Vain aktiiviset</label>
                </div>
                <div class="col m12 s12">
                    <button (click)="search()" class="waves-effect waves-light btn">HAE</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s2 push-s10">
                <a type="button" class="waves-effect waves-light btn" [routerLink]="['/projects/edit']">UUSI HANKE</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col s12">
            <table class="striped responsive-table header">
                <thead>
                <tr>
                    <th>Lisääjä</th>
                    <th sortBy="id" [currentSort]="sort" (onSortChange)="sortBy($event)">Tunnus</th>
                    <th sortBy="ownerName" [currentSort]="sort" (onSortChange)="sortBy($event)">Omistaja</th>
                    <th>Aktiivinen</th>
                    <th>Kaupunginosa</th>
                    <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Alku</th>
                    <th sortBy="endTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Loppu</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects" class="clickable row-highlight"
                    (click)="goToSummary(project)">
                    <td>-</td>
                    <td>{{project.id}}</td>
                    <td>{{project.ownerName}}</td>
                    <td>
                        <span *ngIf="project.active">AKTIIVINEN</span>
                        <span *ngIf="!project.active">INAKTIIVINEN</span>
                    </td>
                    <td>ei tuettuna</td>
                    <td>{{project.startTime | date:format}}</td>
                    <td>{{project.endTime | date:format}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
