<form [formGroup]="form">
    <mat-card>
        <mat-card-title>Hinnoitteluperusteet</mat-card-title>
        <mat-card-content>
            <div class="row form-group" *ngIf="kind==='OUTDOOREVENT'">
                <div class="col m6 no-padding">
                    <div class="row row-slim">
                        <div class="col m12">
                            <mat-form-field class="input-full-width">
                                <mat-select formControlName="nature" placeholder="{{'application.event.nature.placeholder' | translation}}" required
                                            class="input-full-width" (change)="eventNatureChange($event.value)">
                                    <mat-option *ngFor="let nature of eventNatures" [value]="nature">
                                        {{['application.event.nature', nature] | translation}}
                                    </mat-option>
                                </mat-select>
                                <field-error [form]="form" field="nature" hasError="required">
                                    {{'application.event.field.natureMissing' | translation}}
                                </field-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col m12 input-field-checkbox">
                                <mat-checkbox formControlName="ecoCompass">{{'application.pricing.ecoCompass' | translation}}</mat-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" [hidden]="form.value.nature !== 'PUBLIC_FREE'">
                                <mat-checkbox formControlName="notBillable">{{'application.pricing.notBillable' | translation}}</mat-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="form.value.notBillable">
                                <mat-checkbox formControlName="salesActivity">{{'application.pricing.salesActivity' | translation}}</mat-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="form.value.notBillable">
                                <mat-checkbox formControlName="heavyStructure">{{'application.pricing.heavyStructure' | translation}}</mat-checkbox>
                            </div>
                        </div>
                        <div class="col m12" *ngIf="form.value.notBillable">
                            <mat-form-field class="input-full-width">
                                <input matInput type="text" formControlName="notBillableReason"
                                       placeholder="{{'application.pricing.notBillableReason' | translation}}" [matAutocomplete]="notBillableReason"/>
                                <mat-autocomplete #notBillableReason="matAutocomplete">
                                    <mat-option *ngFor="let reason of matchingReasons | async" [value]="reason">
                                        {{reason}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" *ngIf="kind==='BRIDGE_BANNER'">
                <div class="col m6 no-padding">
                    <div class="col m12">
                        <mat-checkbox formControlName="commercial">{{'application.pricing.commercial' | translation}}</mat-checkbox>
                    </div>
                </div>
                <div *ngIf="kind==='PROMOTION_OR_SALES'" class="col m6 no-padding">
                    <div class="col m12">
                        <mat-checkbox formControlName="largeSalesArea">{{'application.pricing.largeSalesArea' | translation}}</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col m3">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="calculatedPrice" placeholder="{{'application.pricing.calculatedPrice' | translation}}"/>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
