<form [formGroup]="form">
    <mat-card>
        <mat-card-title>Hinnoitteluperusteet</mat-card-title>
        <mat-card-content>
            <div class="row form-group" *ngIf="kind==='OUTDOOREVENT'">
                <div class="col m6 no-padding">
                    <div class="row row-slim">
                        <div class="col m12">
                            <mat-form-field class="input-full-width">
                                <mat-select formControlName="nature" placeholder="Tapahtuman luonne*" class="input-full-width"
                                           (change)="eventNatureChange($event.value)">
                                    <mat-option *ngFor="let nature of eventNatures" [value]="nature">
                                        {{['application.event.nature', nature] | translation}}
                                    </mat-option>
                                </mat-select>
                                <field-error [form]="form" field="nature" hasError="required">
                                    {{'application.event.field.natureMissing' | translation}}
                                </field-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col m12 input-field-checkbox">
                                <mat-checkbox formControlName="ecoCompass">Hakijalla Ekokompassi tapahtuma -sertifikaatti (-30 %)</mat-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" [hidden]="form.value.nature !== 'PUBLIC_FREE'">
                                <mat-checkbox formControlName="noPrice" (change)="noPriceChange($event.checked)">
                                    Korvauksetta
                                </mat-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="form.value.noPrice">
                                <mat-checkbox formControlName="salesActivity">Tapahtuma sisältää kaupallista toimintaa (+50%)</mat-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="form.value.noPrice">
                                <mat-checkbox formControlName="heavyStructure">Urheilutapahtuma sisältää raskaita rakenteita tai osallistujille maksullinen (+50 %)</mat-checkbox>
                            </div>
                        </div>
                        <div class="col m12" *ngIf="form.value.noPrice">
                            <mat-form-field class="input-full-width">
                                <mat-select formControlName="noPriceReason" placeholder="Peruste korvauksettomuudelle" class="input-full-width">
                                    <mat-option *ngFor="let reason of noPriceReasons" [value]="reason">
                                        {{['application.event.noPriceReason', reason] | translation}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" *ngIf="kind==='BRIDGE_BANNER'">
                <div class="col m6 no-padding">
                    <div class="col m12">
                        <mat-checkbox formControlName="commercial">Kaupallinen</mat-checkbox>
                    </div>
                </div>
                <div *ngIf="kind==='PROMOTION_OR_SALES'" class="col m6 no-padding">
                    <div class="col m12">
                        <mat-checkbox formControlName="largeSalesArea">Iso myyntialue (0,8 m x 3,0 m)</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col m3">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="calculatedPrice" placeholder="Hinta"/>
                    </mat-form-field>
                </div>
                <div class="col m3">
                    <mat-form-field class="input-full-width">
                        <input matInput type="number" formControlName="priceOverride" placeholder="Käsittelijän asettama hinta"/>
                        <mat-hint>
                            <field-error [form]="form" field="priceOverride" hasError="greaterThanOrEqual">
                                {{'application.common.field.priceOverrideGreaterThanOrEqual' | translation}}
                            </field-error>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col m3">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="priceOverrideReason" placeholder="Peruste poikkeavaan hintaan"/>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
