<form [formGroup]="form">
    <md-card>
        <md-card-title>Hinnoitteluperusteet</md-card-title>
        <md-card-content>
            <div class="row form-group" *ngIf="kind==='OUTDOOREVENT'">
                <div class="col m6 no-padding">
                    <div class="row row-slim">
                        <div class="col m12">
                            <md-select formControlName="nature" placeholder="Tapahtuman luonne*" class="input-full-width"
                                       (change)="eventNatureChange($event.value)">
                                <md-option *ngFor="let nature of eventNatures" [value]="nature">
                                    {{['application.event.nature', nature] | translation}}
                                </md-option>
                            </md-select>
                            <field-error [form]="form" field="nature" hasError="required">
                                {{'application.event.field.natureMissing' | translation}}
                            </field-error>
                        </div>
                        <div class="row">
                            <div class="col m12 input-field-checkbox">
                                <md-checkbox formControlName="ecoCompass">Hakijalla Ekokompassi tapahtuma -sertifikaatti (-30 %)</md-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" [hidden]="form.value.nature !== 'PUBLIC_FREE'">
                                <md-checkbox formControlName="noPrice" (change)="noPriceChange($event.checked)">
                                    Korvauksetta
                                </md-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="form.value.noPrice">
                                <md-checkbox formControlName="salesActivity">Tapahtuma sisältää kaupallista toimintaa (+50%)</md-checkbox>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="form.value.noPrice">
                                <md-checkbox formControlName="heavyStructure">Urheilutapahtuma sisältää raskaita rakenteita tai osallistujille maksullinen (+50 %)</md-checkbox>
                            </div>
                        </div>
                        <div class="col m12" *ngIf="form.value.noPrice">
                            <md-select formControlName="noPriceReason" placeholder="Peruste korvauksettomuudelle" class="input-full-width">
                                <md-option *ngFor="let reason of noPriceReasons" [value]="reason">
                                    {{['application.event.noPriceReason', reason] | translation}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" *ngIf="kind==='BRIDGE_BANNER'">
                <div class="col m6 no-padding">
                    <div class="col m12">
                        <md-checkbox formControlName="commercial">Kaupallinen</md-checkbox>
                    </div>
                </div>
                <div *ngIf="kind==='PROMOTION_OR_SALES'" class="col m6 no-padding">
                    <div class="col m12">
                        <md-checkbox formControlName="largeSalesArea">Iso myyntialue (0,8 m x 3,0 m)</md-checkbox>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col m3">
                    <md-input-container class="input-full-width">
                        <input mdInput type="text" formControlName="calculatedPrice" placeholder="Hinta"/>
                    </md-input-container>
                </div>
                <div class="col m3">
                    <md-input-container class="input-full-width">
                        <input mdInput type="number" formControlName="priceOverride" placeholder="Käsittelijän asettama hinta"/>
                        <md-hint>
                            <field-error [form]="form" field="priceOverride" hasError="greaterThanOrEqual">
                                {{'application.common.field.priceOverrideGreaterThanOrEqual' | translation}}
                            </field-error>
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="col m3">
                    <md-input-container class="input-full-width">
                        <input mdInput type="text" formControlName="priceOverrideReason" placeholder="Peruste poikkeavaan hintaan"/>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
    </md-card>
</form>