<progressbar [step]="progressStep" [application]="application"></progressbar>
<div materialize class="row application">
  <div class="col m6 loose">
    <md-card>
      <md-card-title>Hakemuksen tyyppi</md-card-title>
      <md-card-content>
          <div class="row">
            <div class="col s12">
              <select [(ngModel)]="type" [disabled]="typeChangeDisabled"
                      materialize="material_select" [materializeSelectOptions]="selectOptions"
                      (change)="typeSelection($event.target.value)">
                <option value="" disabled selected>Valitse hakemuksen tyyppi</option>
                <option *ngFor="let applicationType of applicationTypes" [value]="applicationType.value">{{applicationType.name}}</option>
              </select>
            </div>
          </div>
      </md-card-content>
    </md-card>
  </div>
  <div class="col m6 loose" *ngIf="type">
    <md-card>
      <md-card-title>Tapahtuman tyyppi</md-card-title>
      <md-card-content>
          <div class="row">
            <div class="col m12">
              <select [(ngModel)]="subtype" [disabled]="typeChangeDisabled"
                      materialize="material_select" [materializeSelectOptions]="subtypes"
                      (change)="eventSelection($event.target.value)">
                <option value="" disabled selected>Valitse tapahtuman tyyppi</option>
                <option *ngFor="let subtype of subtypes" [value]="subtype.value">{{subtype.name}}</option>
              </select>
            </div>
          </div>
      </md-card-content>
    </md-card>
  </div>
  <router-outlet></router-outlet>
</div>
