@import '../../assets/colors';

:host {
  .application {
    background-color: $allu-background;
  }

  .input-field label {
    top: .5rem;
  }

  input[type=text] {
    height: 2rem;
  }

  .no-padding-right {
    padding-right: 0;
  }

  .no-padding-left {
    padding-left: 0;
  }
}

.input-field label {
  top: .5rem;
}

md-card-title {
  padding: 0 .75rem;
}
