<progressbar [step]="progressStep" [mode]="progressMode"></progressbar>
<div materialize class="row application">
  <div class="col m6 loose">
    <md-card>
      <md-card-title>Hakemuksen tyyppi</md-card-title>
      <md-card-content>
          <div class="row">
            <div class="col s12">
              <select (change)="typeSelection($event.target.value)" materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="type">
                <option value="" disabled selected>Valitse hakemuksen tyyppi</option>
                <option *ngFor="let applicationType of applications" [value]="applicationType.value">{{applicationType.name}}</option>
              </select>
            </div>
          </div>
      </md-card-content>
    </md-card>
  </div>
  <div class="col m6 loose" *ngIf="subtypes">
    <md-card>
      <md-card-title>Tapahtuman tyyppi</md-card-title>
      <md-card-content>
          <div class="row">
            <div class="col m12">
              <select (change)="eventSelection($event.target.value)" materialize="material_select" [materializeSelectOptions]="subtypes" [(ngModel)]="subtype">
                <option value="" disabled selected>Valitse tapahtuman tyyppi</option>
                <option *ngFor="let type of subtypes" [value]="type.value">{{type.name}}</option>
              </select>
            </div>
          </div>
      </md-card-content>
    </md-card>
  </div>
  <router-outlet></router-outlet>
</div>
