:host {
  ul.charge-basis-entries {
    margin-top: 0;
  }

  li.charge-basis-entry:first-of-type {
    margin-top: 0;
  }

  .charge-basis-entry .entry-content {
    min-height: 42px;
    padding: 4px 0px;
  }
}
