:host {
  ul.charge-basis-entries {
    margin-top: 0;
  }

  li.charge-basis-entry-container:first-of-type {
    margin-top: 0;
  }
}

.header-row .mat-mdc-card-subtitle {
  margin: 12px 0;
}

.header-row {
  padding: 0 24px;
}

h2.invoicing-period {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 5px 120px;
}

h2:first-of-type.invoicing-period {
  margin: 0 0 5px 120px;
}
