<allu-card class="full-width">
  <mat-card-title class="allu-card-title">
    <div fxLayout="row">
      <div fxFlex>
        {{'chargeBasis.title' | translation}}
        <button *ngIf="changesAllowed" type="button" mat-icon-button (click)="newEntry()" class="align-with-text">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content class="bordered">
    <ul class="charge-basis-entries">
      <li *ngFor="let entry of chargeBasisEntries$ | async; let i=index;" class="charge-basis-entry">
        <charge-basis-entry
          [entry]="entry"
          [changesAllowed]="changesAllowed"
          (onEdit)="editEntry($event)"
          (onRemove)="removeEntry(entry.id)"></charge-basis-entry>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="95px"></div>
      <div fxFlex="15" fxFlexOffset="70" class="text-highlighted">
        {{'chargeBasis.totalPrice' | translation}}: {{calculatedPrice}} €
      </div>
    </div>
  </mat-card-footer>
</allu-card>
