<form [formGroup]="form">
  <mat-card>
    <mat-card-title>Hinnoitteluperusteet</mat-card-title>
    <mat-card-content>
      <div class="row form-group" *ngIf="kind==='OUTDOOREVENT'">
        <div class="col m6 no-padding">
          <div class="row row-slim">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <mat-select formControlName="nature"
                            placeholder="{{'application.event.nature.placeholder' | translation}}"
                            required class="input-full-width">
                  <mat-option *ngFor="let nature of eventNatures" [value]="nature">
                    {{['application.event.nature', nature] | translation}}
                  </mat-option>
                </mat-select>
                <field-error [form]="form" field="nature" hasError="required">
                  {{'application.event.field.natureMissing' | translation}}
                </field-error>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col m12 input-field-checkbox">
                <mat-checkbox formControlName="ecoCompass">{{'application.pricing.ecoCompass' | translation}}
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group" *ngIf="kind==='PROMOTION_OR_SALES'">
        <div class="col m6 no-padding">
          <div class="col m12">
            <mat-checkbox formControlName="largeSalesArea">{{'application.pricing.largeSalesArea' | translation}}
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col m3">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="calculatedPrice"
                   placeholder="{{'application.pricing.calculatedPrice' | translation}}"/>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
