<form [formGroup]="form">
  <mat-card>
    <mat-card-title>
      {{'application.pricingBasis' | translation}}
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap>
        <div fxFlex="100%" *ngIf="kind==='OUTDOOREVENT'">
          <div fxLayout="row">
            <div fxFlex="0 0 25%">
              <mat-form-field class="input-full-width">
                <mat-select formControlName="nature"
                            placeholder="{{'application.event.nature.placeholder' | translation}}"
                            [required]="required(form.get('nature'))"
                            class="input-full-width">
                  <mat-option *ngFor="let nature of eventNatures" [value]="nature">
                    {{['application.event.nature', nature] | translation}}
                  </mat-option>
                </mat-select>
                <field-error [form]="form" field="nature" hasError="required">
                  {{'application.event.field.natureMissing' | translation}}
                </field-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="0 0 50%">
              <mat-checkbox class="input-field-checkbox" formControlName="ecoCompass">
                {{'application.pricing.ecoCompass' | translation}}
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div fxFlex="100%" *ngIf="kind==='PROMOTION_OR_SALES'">
          <div fxLayout="row">
            <div fxFlex="0 0 50%">
              <mat-checkbox class="input-field-checkbox" formControlName="largeSalesArea">
                {{'application.pricing.largeSalesArea' | translation}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
