<progressbar [step]="progressStep" [application]="application"></progressbar>
<div class="row location">
  <application-type (onTypeChange)="onApplicationTypeChange($event)"
                    (onKindChange)="onApplicationKindChange($event)"
                    (onSpecifierChange)="onApplicationSpecifierChange($event)"></application-type>
</div>
<div *ngIf="typeSelected" materialize class="row location">
  <div class="col m12">
    <md-card>
      <md-card-title>Sijainti</md-card-title>
      <md-card-content>
        <div class="row">
          <searchbar [addressSearch]="application.location.postalAddress.streetAddress"
                     [startDate]="application.startTime" [endDate]="application.endTime"
                     (searchUpdated)="searchUpdated($event)">Loading searchbar</searchbar>
          <div class="col m12">
            <div class="input-field col m12">
              <input id="info" type="text" class="" [(ngModel)]="application.location.info">
              <label for="info">Lisätietoja paikasta</label>
            </div>
            <div *ngIf="editedItemCount > 0" class="input-field col m10">
              Kiinteää aluetta ei voi valita, mikäli kartalle on piirretty
            </div>
            <div *ngIf="editedItemCount === 0">
              <div class="input-field col m8">
              <select [(ngModel)]="selectedArea" materialize="material_select" [materializeSelectOptions]="areas"
                  [disabled]="editedItemCount > 0">
                <option value="">Ei tapahtuma-aluetta</option>
                <option *ngFor="let area of areas" [value]="area">{{area}}</option>
              </select>
              </div>
              <div class="input-field col m2">
                <div *ngIf="!noSections()">
                  <select [(ngModel)]="selectedFxs" materialize="material_select"
                          [materializeSelectOptions]="sections" multiple>
                    <option value="" disabled>Ei lohkoa</option>
                    <option *ngFor="let section of sections" [value]="section.id">{{section.section}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-field col m2">
              <input id="area" type="number" class="validate" disabled="true" [(ngModel)]="application.location.uiArea">
              <label for="area">Alueen pinta-ala</label>
            </div>
          </div>
          <div class="col m12">
            <div class="mapcontainer">
              <map [draw]="true" [edit]="selectedFixedLocations.length === 0" [selection]="true"
                   [applicationId]="application.id" (editedItemCountChanged)="editedItemCountChanged($event)"></map>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div class="col m12">
    <md-card>
      <md-card-title>Tallennus</md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col m2">
            <button class="waves-effect waves-light btn" [routerLink]="['/home']">PERUUTA</button>
          </div>
          <div class="col m4 offset-m6">
            <button class="waves-effect waves-light btn" (click)="save()">{{id ? "YHTEENVETOON" : "PERUSTIEDOT"}}</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
