<md-card>
    <md-card-title>Tallennetut alueet</md-card-title>
    <md-card-content>
        <table class="bordered responsive-table">
            <thead>
            <tr>
                <th></th>
                <th>Tunniste</th>
                <th>Aloitus</th>
                <th>Lopetus</th>
                <th>Alue</th>
                <th>Kaupunginosa</th>
                <th>Lisätiedot</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let location of locations | async; let i = index"
                [class.selected]="i===locationState.editIndex" class="clickable row-highlight"
                (click)="editLocation(i)">
                <th><button type="button" *ngIf="!readonly" md-icon-button (click)="remove()"><md-icon>clear</md-icon></button></th>
                <td>{{location.locationKey}}</td>
                <td>{{location.uiStartTime}}</td>
                <td>{{location.uiEndTime}}</td>
                <td>{{location.effectiveUiArea}}</td>
                <td>{{districtName(location.effectiveCityDistrictId) | async}}</td>
                <td>{{location.info}}</td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>