<div materialize class="row">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm.value)">
    <applicant [applicationForm]="applicationForm" [applicant]="application.applicant" [readonly]="readonly"></applicant>

    <contact [applicationForm]="applicationForm" [contactList]="application.contactList"
             [readonly]="readonly" [addNew]="true" [saveToRegistry]="true"></contact>

    <event-details [applicationForm]="applicationForm" [location]="application.location" [readonly]="readonly"></event-details>

    <application-actions
        [isSummary]="readonly"
        [applicationId]="application.id"
        [form]="applicationForm"
        [submitPending]="submitPending"></application-actions>
  </form>
</div>
