<div materialize class="row">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm.value)">
    <applicant [applicationForm]="applicationForm" [applicant]="application.applicant"
               [readonly]="readonly" [showCopyToBilling]="true" [showRepresentative]="true"
               [contactList]="application.contactList" [addNew]="true"></applicant>

    <event-details [applicationForm]="applicationForm" [application]="application" [readonly]="readonly"></event-details>

    <div class="col s12" *ngIf="showTerms">
      <terms [form]="applicationForm" [applicationType]="application.typeEnum" [terms]="application.extension.terms" [readonly]="readonly"></terms>
    </div>

    <div class="col s12">
      <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
    </div>

    <application-actions
        [readonly]="readonly"
        [applicationId]="application.id"
        [form]="applicationForm"
        [submitPending]="submitPending"></application-actions>
  </form>
</div>
