<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)">
    <div class="row">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
                  [readonly]="readonly" [showCopyToBilling]="true" [showRepresentative]="true"></customer>
    </div>

    <div class="row" *ngIf="hasRepresentative">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.representative" [readonly]="readonly"></customer>
    </div>

    <div class="row">
        <div class="col m12">
        <md-card>
            <md-card-title>Sijoitussopimuksen tiedot</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <input mdInput type="text" formControlName="diaryNumber" placeholder="Diaarinumero"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="row form-group">
                    <div formGroupName="validityTimes">
                        <div class="col s3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="Voimassaolon aloitus*"
                                       [mdDatepicker]="startTimePicker"/>
                                <button type="button" [disabled]="readonly" mdSuffix [mdDatepickerToggle]="startTimePicker"></button>
                                <md-hint>
                                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                                        {{'application.common.field.validityStartTimeMissing' | translation}}
                                    </field-error>
                                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                                        {{'application.common.field.validityStartBeforeEnd' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                            <md-datepicker #startTimePicker></md-datepicker>
                        </div>
                        <div class="col s3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="Voimassaolon lopetus*"
                                       [mdDatepicker]="endTimePicker"/>
                                <button type="button" [disabled]="readonly" mdSuffix [mdDatepickerToggle]="endTimePicker"></button>
                                <md-hint>
                                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                                        {{'application.common.field.validityEndTimeMissing' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                            <md-datepicker #endTimePicker></md-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col m12">
                        <md-input-container class="input-full-width">
                            <textarea mdInput mdTextareaAutosize formControlName="additionalInfo" placeholder="Työn kuvaus"></textarea>
                        </md-input-container>
                    </div>
                    <div class="col m12">
                        <md-input-container class="input-full-width">
                            <textarea mdInput mdTextareaAutosize formControlName="generalTerms" placeholder="Yleiset ehdot"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    </div>

    <div class="row">
        <div class="col m12">
            <pricing-info [form]="applicationForm"></pricing-info>
        </div>
    </div>

    <div class="row" *ngIf="readonly">
        <div class="col m12">
            <location-details [application]="application" [readonly]="readonly"></location-details>
        </div>
    </div>

    <div class="row" *ngIf="showTerms">
        <div class="col s12">
            <terms [form]="applicationForm" [applicationType]="application.typeEnum" [terms]="application.extension.terms" [readonly]="readonly"></terms>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <application-actions
                [readonly]="readonly"
                [applicationId]="application.id"
                [form]="applicationForm"
                [submitPending]="submitPending"></application-actions>
        </div>
    </div>
</form>
