<form [formGroup]="form">
    <md-card>
        <md-card-title>Ehdot</md-card-title>
        <md-card-content>
            <div class="row">
                <div *ngIf="!readonly" class="col s6">
                    <md-select class="input-full-width" placeholder="Vakiotekstit" (change)="addDefaultText(index, $event.value)">
                        <md-option *ngFor="let defaultText of defaultTexts" [value]="defaultText.text">
                            {{defaultText.text}}
                        </md-option>
                    </md-select>
                </div>
                <div *ngIf="!readonly" class="col s4">
                    <button md-raised-button type="button" color="primary" (click)="editDefaultTexts()">MUOKKAA</button>
                </div>
                <div class="col s12">
                    <md-form-field class="input-full-width">
                        <textarea mdInput mdTextareaAutosize formControlName="terms" placeholder="Hakemuksen ehdot"></textarea>
                    </md-form-field>
                </div>
            </div>
        </md-card-content>
    </md-card>
</form>
