<div class="col m12">
  <md-card>
    <md-card-title>Liitteet</md-card-title>
    <md-card-content>
      <div class="row">
        <div class="col m4">
          Liite
        </div>
        <div class="col m8">
          Kuvaus
        </div>
      </div>
      <div class="row" *ngFor="let item of attachments; let i = index;">
        <div class="col m4">
          {{ item.name }}
        </div>
        <div class="col m6">
          <input id="fileDescription" [disabled]='readonly' type="text" [(ngModel)]="item.description">
        </div>
        <div class="col m1">
          <button md-raised-button class="waves-effect waves-light btn" [disabled]='readonly' (click)="removeAttachment(i)">POISTA</button>
        </div>
        <div class="col m1">
          <button md-raised-button class="waves-effect waves-light btn" [disabled]="!item.id" (click)="download(i)">LATAA</button>
        </div>
      </div>
      <div class="row">
        <div class="col m1 offset-m11">
          <div class="fixedInputButton">
            <button md-raised-button class="waves-effect waves-light btn" [disabled]='readonly' (click)="realFileInput.click()">VALITSE</button>
            <input #realFileInput type="file" file-select (attachmentsSelected)="attachmentsSelected($event)" multiple />
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
