<h1 class="content-header">Liitteet</h1>
<div class="row" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
    <div class="col m12 col-centered">
        <div fileDrop (onFileDrop)="onFileDrop($event)" (onFileOver)="fileOverDropzone($event)"
             class="file-drop-zone" [ngClass]="{'file-over-drop-zone': hasFileOverDropzone}">
            <button mat-raised-button type="button" color="primary" (click)="addNewAttachment()">
                LISÄÄ LIITE
                <mat-icon>file_upload</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <ul class="card-list">
        <li *ngFor="let attachment of editableAttachments; let i = index;">
            <attachment [attachment]="attachment" (onCancel)="cancel(i)" (onSave)="save($event, i)"></attachment>
        </li>

        <li *ngFor="let attachment of commonAttachments; let i = index;">
            <mat-card class="slim-card">
                <div *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
                    <div class="clickable" (click)="remove(attachment, i)"><i class="material-icons">clear</i></div>
                </div>
                <div *ngIf="attachment.id !== undefined">
                    <i class="material-icons clickable" (click)="download(attachment)">file_download</i>
                </div>
                <mat-card-content class="card-content">
                    <div>
                        <b>{{['attachment.type', attachment.type] | translation}}:</b> {{attachment.name}}
                    </div>
                    <div>
                        <span *ngIf="attachment.handlerName">{{attachment.handlerName}}</span>
                        <span *ngIf="!attachment.handlerName">Ei käsittelijää</span>
                    </div>
                    <div>
                        {{attachment.uiCreationTime}}
                    </div>
                    <div>
                        {{attachment.description}}
                    </div>
                </mat-card-content>
            </mat-card>
        </li>
        <li>
            <default-attachments [selectedAttachments]="defaultAttachments" [applicationType]="application.type"
                                 attachmentType="DEFAULT" (add)="save($event)" (remove)="remove($event)"></default-attachments>
        </li>
        <li>
            <default-attachments [selectedAttachments]="defaultImages" [applicationType]="application.type"
                                 attachmentType="DEFAULT_IMAGE" (add)="save($event)" (remove)="remove($event)"></default-attachments>
        </li>
    </ul>
</div>
