<h1>Liitteet</h1>
<ul class="slim-card-list">
  <li class="slim-card" *ngFor="let attachment of attachments; let i = index;">
      <span>
        <div class="clickable" (click)="remove(i, attachment)"><i class="material-icons">clear</i></div>
      </span>
      <span>
        <b>{{['attachment.type', attachment.type] | translation}}:</b> {{attachment.name}}
      </span>
      <span>
        <span *ngIf="attachment.handlerName">{{attachment.handlerName}}</span>
        <span *ngIf="!attachment.handlerName">Ei käsittelijää</span>
      </span>
      <span>
        {{attachment.uiCreationTime}}
      </span>
      <span>
        {{attachment.description}}
      </span>
      <span *ngIf="attachment.id !== undefined" class="card-item-align-right">
        <i class="material-icons clickable right-align" (click)="download(attachment)">file_download</i>
      </span>
  </li>
</ul>

<div class="row" *ngFor="let attachment of editableAttachments; let i = index;">
  <div class="col m11">
    <attachment [applicationId]="application.id" [attachment]="attachment"
                (onCancel)="cancel(i)" (onSave)="save(i, $event)"></attachment>
  </div>
</div>
<div class="row">
  <div class="col m11 col-centered">
      <div fileDrop
           (onFileDrop)="onFileDrop($event)"
           class="well my-drop-zone">
          <a class="btn-floating btn-huge waves-effect waves-light" (click)="addNewAttachment()"><i class="material-icons">add</i></a>
      </div>
  </div>
</div>