<md-card *ngIf="defaultAttachments?.length > 0">
    <md-card-title>{{['attachment.selectionTitle', attachmentType] | translation}}</md-card-title>
    <md-card-content>
        <div class="row">
            <selection-group [ngModel]="selectedAttachments" (select)="onSelect($event)" *ngIf="defaultAttachments">
                <div class="col m3" *ngFor="let attachment of defaultAttachments">
                    <selection-item [item]="attachment"
                                    selectType="CHECKBOX"
                                    itemLabel="{{attachment.name}}"></selection-item>
                    <button md-icon-button (click)="download(attachment)"><md-icon>file_download</md-icon></button>
                </div>
            </selection-group>
        </div>
    </md-card-content>
</md-card>