<div class="main-content">
  <div class="search-bar">
    <h1>{{'common.search' | translation | uppercase}}</h1>
    <form [formGroup]="queryForm" (ngSubmit)="search()">
      <div fxLayout="row" fxLayoutGap="18px">
        <div fxFlex="20%">
          <mat-form-field class="input-full-width">
            <input matInput type="text"
                   formControlName="ownerName"
                   [placeholder]="'projectSearch.owner' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="20%">
          <mat-form-field class="input-full-width">
            <input matInput type="text"
                   formControlName="identifier"
                   [placeholder]="'projectSearch.identifier' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="20%">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="districts"
                        [multiple]="true"
                        [placeholder]="'projectSearch.districts' | translation"
                        class="input-full-width">
              <mat-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="10%">
          <mat-form-field class="input-full-width">
            <input matInput
                   type="text"
                   formControlName="startTime"
                   [placeholder]="'projectSearch.startTime' | translation"
                   [matDatepicker]="startTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #startTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="10%">
          <mat-form-field class="input-full-width">
            <input matInput type="text"
                   formControlName="endTime"
                   [placeholder]="'projectSearch.endTime' | translation"
                   [matDatepicker]="endTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #endTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="20%">
          <mat-form-field class="input-full-width">
            <input matInput
                   type="text"
                   formControlName="creator"
                   [placeholder]="'projectSearch.creator' | translation"/>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <mat-checkbox formControlName="onlyActive">{{'projectSearch.onlyActive' | translation}}</mat-checkbox>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <button mat-raised-button type="submit" color="primary">
            {{'common.button.search' | translation | uppercase}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <div class="mat-elevation-z8 data-table data-table-with-paging">
        <div class="loading-shade" *ngIf="dataSource.loading">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById">
          <ng-container matColumnDef="identifier">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.id' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a class="row-details-link" [routerLink]="['/projects', row.id]">
                {{row.identifier}}
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ownerName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.ownerName' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.customer.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true">{{'project.state' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{['project.active', row.active] | translation}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="cityDistricts">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.cityDistricts' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{districtNames(row.cityDistricts) | async | commaSeparated}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="startTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.startTime' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.startTime | date:'shortDate'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="endTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.endTime' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.endTime| date:'shortDate'}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   class="row-highlight"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
