<div class="col m6 loose">
    <md-card>
        <md-card-title>Hakija</md-card-title>
        <md-card-content>
            <div class="row">
                <div class="input-field col m6">
                    <select *ngIf="!readonly" [(ngModel)]="applicant.type"
                            (change)="applicantTypeSelection($event.target.value)"
                            materialize="material_select" [materializeSelectOptions]="selectOptions">
                        <option value="" disabled selected>Valitse hakijan tyyppi</option>
                        <option *ngFor="let type of applicantType" [value]="type.value">{{type.name}}</option>
                    </select>
                    <input *ngIf="readonly" type="text" [disabled]="true" [(ngModel)]="applicant.type">
                </div>
                <div class="col m6 country-select">
                    <select *ngIf="!readonly" [(ngModel)]="country"
                            materialize="material_select" [materializeSelectOptions]="selectOptions">
                        <option value="" disabled selected>Maa</option>
                        <option *ngFor="let country of countries" [value]="country">{{country.name}}</option>
                    </select>
                    <input *ngIf="readonly" type="text" [disabled]="true" value="Suomi">
                </div>
                <div class="input-field col m8">
                    <input id="applicantName" type="text" class="validate" [(ngModel)]="applicant.details.name" [disabled]="readonly">
                    <label for="applicantName">{{applicantNameSelection}}</label>
                </div>
                <div class="input-field col m4">
                    <input id="businessID" type="text" class="validate" [(ngModel)]="applicant.details.identifier" [disabled]="readonly">
                    <label for="businessID">{{applicantIdSelection}}</label>
                </div>
                <div class="input-field col m6">
                    <input id="applicantAddress" type="text" class="validate"
                           [(ngModel)]="applicant.details.postalAddress.streetAddress" [disabled]="readonly">
                    <label for="applicantAddress">{{ meta?.getUiName('applicant.address') }}</label>
                </div>
                <div class="input-field col m3">
                    <input id="applicantPostalCode" type="text" class="validate"
                           [(ngModel)]="applicant.details.postalAddress.postalCode" [disabled]="readonly">
                    <label for="applicantPostalCode">{{ meta?.getUiName('applicant.postalCode') }}</label>
                </div>
                <div class="input-field col m3">
                    <input id="applicantCity" type="text" class="validate" [(ngModel)]="applicant.details.postalAddress.city" [disabled]="readonly">
                    <label for="applicantCity">{{ meta?.getUiName('applicant.postOffice') }}</label>
                </div>
                <div class="input-field col m4">
                    <input id="applicantPhone" type="text" class="validate" [(ngModel)]="applicant.details.phone" [disabled]="readonly">
                    <label for="applicantPhone">{{ meta?.getUiName('applicant.phoneNumber') }}</label>
                </div>
                <div class="input-field col m8">
                    <input id="applicantEmail" type="text" class="validate" [(ngModel)]="applicant.details.email" [disabled]="readonly">
                    <label for="applicantEmail">{{ meta?.getUiName('applicant.email') }}</label>
                </div>
                <div class="col m7 height-fix-bottom">
                    <input type="checkbox" class="filled-in" id="copyToBilling" [disabled]="readonly"/>
                    <label for="copyToBilling">Kopioi tiedot laskutusosoitteeksi</label>
                </div>
                <div class="col m5 height-fix-bottom">
                    <input type="checkbox" class="filled-in" [(ngModel)]="applicant.representative" id="representative" [disabled]="readonly"/>
                    <label for="representative">Asiaa hoitaa asiamies</label>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>