<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)">
    <div class="row">
        <customer [parentForm]="applicationForm" [customerWithContacts]="application.applicant"
                  [readonly]="readonly" [contactRequired]="true"></customer>
    </div>

    <div class="row">
        <div class="col m12">
        <md-card>
            <md-card-title>Muistiinpanon tiedot</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col s6">
                        <md-form-field class="input-full-width">
                            <input mdInput type="text" formControlName="name" placeholder="Muistiinpanon nimi*"/>
                            <md-hint>
                                <field-error [form]="applicationForm" field="name" hasError="required">
                                    {{'application.field.nameMissing' | translation}}
                                </field-error>
                                <field-error [form]="applicationForm" field="name" hasError="minlength">
                                    {{'application.field.nameShort' | translation}}
                                </field-error>
                            </md-hint>
                        </md-form-field>
                    </div>
                    <div formGroupName="validityTimes">
                        <div class="col s3">
                            <md-form-field class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="Alkupäivämäärä*"
                                       [mdDatepicker]="startTimePicker"/>
                                <md-datepicker-toggle mdSuffix [for]="startTimePicker" [disabled]="readonly"></md-datepicker-toggle>
                                <md-datepicker #startTimePicker></md-datepicker>
                                <md-hint>
                                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                                        {{'application.note.field.validityStartTimeMissing' | translation}}
                                    </field-error>
                                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                                        {{'application.note.field.validityStartBeforeEnd' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-form-field>
                        </div>
                        <div class="col s3">
                            <md-form-field class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="Loppupäivämäärä"
                                       [mdDatepicker]="endTimePicker"/>
                                <md-datepicker-toggle mdSuffix [for]="endTimePicker" [disabled]="readonly"></md-datepicker-toggle>
                                <md-datepicker #endTimePicker></md-datepicker>
                                <md-hint>
                                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                                        {{'application.note.field.validityEndTimeMissing' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-form-field>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col m12">
                        <recurring formControlName="recurringEndYear" [readonly]="readonly"></recurring>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col m12">
                        <md-form-field class="input-full-width">
                            <textarea mdInput mdTextareaAutosize formControlName="description" placeholder="Kuvaus"></textarea>
                        </md-form-field>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    </div>

    <div class="row" *ngIf="readonly">
        <div class="col m12">
            <location-details [application]="application" [readonly]="readonly"></location-details>
        </div>
    </div>

    <div class="row">
        <div class="col m12">
            <application-actions
                [readonly]="readonly"
                [applicationId]="application.id"
                [form]="applicationForm"
                [submitPending]="submitPending"></application-actions>
        </div>
    </div>
</form>
