@import '../../assets/colors';

:host {
  background-color: $allu-primary-nav;
  color: $allu-text-white;
  display: flex;
  height: 50px;
  padding: 0 16px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: .1px;
  margin: 0;
}
