<form [formGroup]="parentForm">
    <div class="row">
        <mat-card>
            <mat-card-title>
                Laskurivit
                <button mat-icon-button (click)="newRow()" class="align-with-text"><mat-icon>add</mat-icon></button>
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="pendingInvoiceRows.controls.length === 0">
                    Ei hyväksymättömiä laskurivejä
                </div>
                <div formArrayName="pendingInvoiceRows">
                    <div *ngFor="let row of pendingInvoiceRows.controls; let i=index;" class="row">
                        <mat-card class="slim-card">
                            <mat-card-content>
                                <div class="invoice-row">
                                    <div class="row-controls">
                                        <button mat-icon-button (click)="acceptRow(i)"><mat-icon class="angle-45">send</mat-icon></button>
                                        <button mat-icon-button *ngIf="row.value.manuallySet" (click)="editRow(i)"><mat-icon>edit</mat-icon></button>
                                    </div>
                                    <div class="row-header">{{row.value.text}}</div>
                                    <div class="row-content">
                                        <div class="row-field-md">{{row.value.quantity}} {{['invoice.unit', row.value.unit] | translation}}</div>
                                        <div class="row-field-md">á {{row.value.unitPrice}} €</div>
                                        <div class="row-field-md row-field-highlight">{{row.value.netPrice}} €</div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="row">
        <mat-card>
            <mat-card-title>
                Laskutuksessa
            </mat-card-title>
            <mat-card-content>
                <div *ngIf="acceptedInvoiceRows.controls.length === 0">
                    Ei hyväksyttyjä laskurivejä
                </div>
                <div formArrayName="acceptedInvoiceRows">
                    <div *ngFor="let row of acceptedInvoiceRows.controls; let i=index" class="row">
                        <mat-card class="slim-card">
                            <mat-card-content>
                                <div class="invoice-row">
                                    <div class="row-controls">
                                    </div>
                                    <div class="row-header">{{row.value.text}}</div>
                                    <div class="row-content">
                                        <div class="row-field-md">{{row.value.quantity}} {{['invoice.unit', row.value.unit] | translation}}</div>
                                        <div class="row-field-md">á {{row.value.unitPrice}} €</div>
                                        <div class="row-field-md row-field-highlight">{{row.value.netPrice}} €</div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</form>
