<form [formGroup]="parentForm">
    <div class="row">
        <md-card>
            <md-card-title>
                Laskurivit
                <button md-icon-button (click)="newRow()" class="align-with-text"><md-icon>add</md-icon></button>
            </md-card-title>
            <md-card-content>
                <div *ngIf="pendingInvoiceRows.controls.length === 0">
                    Ei hyväksymättömiä laskurivejä
                </div>
                <div formArrayName="pendingInvoiceRows">
                    <div *ngFor="let row of pendingInvoiceRows.controls; let i=index;" class="row">
                        <md-card class="slim-card">
                            <md-card-content>
                                <div class="invoice-row">
                                    <div class="row-controls">
                                        <button md-icon-button (click)="acceptRow(i)"><md-icon class="angle-45">send</md-icon></button>
                                        <button md-icon-button *ngIf="row.value.manuallySet" (click)="editRow(i)"><md-icon>edit</md-icon></button>
                                    </div>
                                    <div class="row-header">{{row.value.rowText}}</div>
                                    <div class="row-content">
                                        <div class="row-field-md">{{row.value.quantity}} {{['invoice.unit', row.value.unit] | translation}}</div>
                                        <div class="row-field-md">á {{row.value.unitPrice}} €</div>
                                        <div class="row-field-md row-field-highlight">{{row.value.netPrice}} €</div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div class="row">
        <md-card>
            <md-card-title>
                Laskutuksessa
            </md-card-title>
            <md-card-content>
                <div *ngIf="acceptedInvoiceRows.controls.length === 0">
                    Ei hyväksyttyjä laskurivejä
                </div>
                <div formArrayName="acceptedInvoiceRows">
                    <div *ngFor="let row of acceptedInvoiceRows.controls; let i=index" class="row">
                        <md-card class="slim-card">
                            <md-card-content>
                                <div class="invoice-row">
                                    <div class="row-controls">
                                    </div>
                                    <div class="row-header">{{row.value.rowText}}</div>
                                    <div class="row-content">
                                        <div class="row-field-md">{{row.value.quantity}} {{['invoice.unit', row.value.unit] | translation}}</div>
                                        <div class="row-field-md">á {{row.value.unitPrice}} €</div>
                                        <div class="row-field-md row-field-highlight">{{row.value.netPrice}} €</div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>