<form [formGroup]="invoicingForm" (ngSubmit)="onSubmit(invoicingForm)">
    <div class="row">
        <div class="col m12">
            <invoicing-info [parentForm]="invoicingForm"></invoicing-info>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <charge-basis [parentForm]="invoicingForm" [applicationId]="applicationId"></charge-basis>
        </div>
    </div>
    <div class="row" *ngIf="invoicingForm.dirty">
        <div class="col m12">
            <button type="submit" mat-raised-button color="primary" [disabled]="!invoicingForm.valid">TALLENNA</button>
            <button type="button" mat-raised-button color="primary" (click)="cancel()">PERUUTA</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col m12">
        <invoice-comments [applicationId]="applicationId"></invoice-comments>
    </div>
</div>

