<h1 md-dialog-title>Uusi laskurivi</h1>
<form [formGroup]="invoiceRowForm" (ngSubmit)="onSubmit(invoiceRowForm.value)">
    <div md-dialog-content>
        <div class="row form-group">
            <div class="col m12">
                <md-input-container class="input-full-width">
                    <input mdInput type="text" formControlName="rowText"
                           placeholder="Laiminlyöntimaksu*" [mdAutocomplete]="rowText"/>
                    <md-autocomplete #rowText="mdAutocomplete">
                        <md-option *ngFor="let rowText of matchingRowTexts | async" [value]="rowText">
                            {{rowText}}
                        </md-option>
                    </md-autocomplete>
                    <md-error>
                        <field-error [form]="invoiceRowForm" field="rowText" hasError="required">
                            {{'invoice.row.field.rowTextMissing' | translation}}
                        </field-error>
                    </md-error>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col m8">
                <md-input-container class="input-full-width">
                    <input mdInput type="number" formControlName="quantity" placeholder="Kesto*"/>
                    <div mdSuffix>pv</div>
                    <md-error>
                        <field-error [form]="invoiceRowForm" field="quantity" hasError="required">
                            {{'invoice.row.field.quantityMissing' | translation}}
                        </field-error>
                    </md-error>
                </md-input-container>
            </div>
        </div>
    </div>
    <div md-dialog-actions>
        <button type="submit" md-raised-button color="primary" [disabled]="!invoiceRowForm.valid">TALLENNA</button>
        <button type="button" md-raised-button color="primary" (click)="cancel()">PERUUTA</button>
    </div>
</form>