@import '../../assets/colors';

:host {
  input.leaflet-control-layers-selector {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}

.map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
