@import '../../assets/colors';

:host {
  input.leaflet-control-layers-selector {
    left: 0;
    opacity: 1;
    position: relative;
  }
}

.map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
