@use '@angular/material' as mat;
@import '../../../../../assets/colors';

[fxFlex] .align-right {
  text-align: right;
}

.title-normal {
  font-size: 14px;
  color: mat.get-contrast-color-from-palette($allu-blue, 400);
  vertical-align: text-top;
}
