# add environment specific backend variables here

# process specific Java -Xmx settings for limiting memory usage. If nothing is specified here for a service, service will use the default
# value specified elsewhere
allu_service_memory_limit:
  search-service: 1024m
  allu-ui-service: 1024m
  model-service: 1024m
  external-service: 1024m
  supervision-api: 512m
  pdf-service: 512m

database_host: "{{ hostvars['databaseEndpoint'].ansible_host }}"

mail_default_encoding: UTF-8
mail_server_host: smtp.sendgrid.net
mail_server_port: 25
mail_server_auth: true
mail_server_starttls_required: true
email_allowed_addresses: "*@*"
email_sender_address: Alueidenkaytto ja -valvonta <noreply@kaupunkiymparisto.fi>

applicantreminder_cronstring: "0 0 1 * * MON-FRI"

invoice_cronstring: "0 0 7 * * *"
invoice_sending_enabled: true

sap_ftp_invoice_host: 137.163.56.21
sap_ftp_invoice_port: 22
sap_ftp_invoice_directory: /

invoice_archivedir: /home/allu/scheduler-service/sap/invoice-archive

# Customer update SFTP configuration
sap_ftp_customer_host: 137.163.56.21
sap_ftp_customer_port: 22
sap_ftp_customer_directory: /
sap_ftp_customer_arch_directory: /arch

sftp_known_host: "|1|7QYNuletxHamissjdLDgDlUUhes=|PBpLmWzfd0DrJRK300onli6vdqA= ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFHwIZDwHdwut53QXdacGt7+CGTK5J6TbHO/ghxsnKMT"

# Customer update configuration
customer_update_enabled: true
customer_update_cronstring: "0 0/30 * * * ?"
customer_update_sourcedir: /home/allu/scheduler-service/sap/customer-process
customer_archivedir: /home/allu/scheduler-service/sap/customer-archive
customer_failedupdatedir: /home/allu/scheduler-service/sap/customer-failed

customer_notification_cronstring: "0 0 7 * * *"
ui_baseurl: https://allu.kaupunkiymparisto.fi

supervision_api_basepath: /supervision-api

cityDistricts_update_cronstring: "0 30 0 * * SUN"

anonymization_update_cronstring: "0 0 3 * * *"
