# add environment specific frontend variables here
http_port: 80
https_port: 443
proxy_domain: allu.kaupunkiymparisto.fi
proxypass_api_context: /api/
proxypass_api_target: "http://{{ hostvars['backendEndpoint'].ansible_host }}:9000/"
proxypass_external_context: /external/
proxypass_external_target: "http://{{ hostvars['backendEndpoint'].ansible_host }}:9040/"
proxypass_supervision_context: /supervision-api/
proxypass_supervision_target: "http://{{ hostvars['backendEndpoint'].ansible_host }}:9050/"
server_admin: servicecenter+alluprod@gofore.com
ssl_certificate_file: star_kaupunkiymparisto_fi.crt
ssl_certificate_key_file: star_kaupunkiymparisto_fi.key
ssl_certificate_chain_file: star_kaupunkiymparisto_fi.ca-bundle
mapproxy_block_by_referer: true
