<form [formGroup]="infoForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card>
        <mat-card-title>
            Laskutustiedot
            <button mat-icon-button type="button" class="align-with-text" *ngIf="canBeEdited()" (click)="editCustomer()">
                <mat-icon>mode_edit</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <customer-info [form]="recipientForm" [allowSearch]="true" *ngIf="billable"
                           (customerChange)="invoiceRecipientChange($event)"></customer-info>
            <div fxLayout="row" fxLayoutWrap>
                <div fxFlex="100" class="height-fix-bottom">
                    <mat-checkbox formControlName="notBillable">Ei laskuteta</mat-checkbox>
                </div>
                <div fxFlex="100" *ngIf="!billable">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="notBillableReason" placeholder="Perustelu*"/>
                        <mat-hint>
                            <field-error [form]="infoForm" field="notBillableReason" hasError="required">
                                {{'invoice.field.notBillableReasonMissing' | translation}}
                            </field-error>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex *ngIf="infoForm.dirty">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!infoForm.valid">TALLENNA</button>
                    <button type="button" mat-raised-button color="primary" (click)="cancel()">PERUUTA</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
