<form [formGroup]="invoicingInfoForm">
    <md-card>
        <md-card-title>
            Laskutustiedot
            <button md-icon-button type="button" class="align-with-text"><md-icon>mode_edit</md-icon></button>
        </md-card-title>
        <md-card-content>
            <div class="row">
                <div class="col m6">
                    <customer-info [form]="invoicingAddressForm" [allowSearch]="true"></customer-info>
                    <div class="row form-group">
                        <div class="col m12 height-fix-bottom">
                            <md-checkbox formControlName="notBillable">Ei laskuteta</md-checkbox>
                        </div>
                        <div class="col m12" *ngIf="invoicingInfoForm.value.notBillable">
                            <md-form-field class="input-full-width">
                                <input mdInput type="text" formControlName="notBillableReason" placeholder="Perustelu*"/>
                                <md-hint>
                                    <field-error [form]="invoicingInfoForm" field="notBillableReason" hasError="required">
                                        {{'invoice.field.notBillableReasonMissing' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-form-field>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="row form-group">
                        <div class="col m12">
                            <md-form-field class="input-full-width">
                                <input mdInput type="text" formControlName="workId" placeholder="Työnumero*"/>
                                <md-hint>
                                    <field-error [form]="invoicingInfoForm" field="workId" hasError="required">
                                        {{'invoice.field.workIdMissing' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-form-field>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col m12">
                            <md-form-field class="input-full-width">
                                <input mdInput type="text" formControlName="invoiceReference" placeholder="Laskutusviite*"/>
                                <md-hint>
                                    <field-error [form]="invoicingInfoForm" field="invoiceReference" hasError="required">
                                        {{'invoice.field.invoiceReferenceMissing' | translation}}
                                    </field-error>
                                </md-hint>
                            </md-form-field>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col m12">
                            <md-form-field class="input-full-width">
                                <input mdInput type="number" formControlName="deposit" placeholder="Vakuus"/>
                                <div mdSuffix>€</div>
                            </md-form-field>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col m12">
                            <md-select class="input-full-width" formControlName="partition" placeholder="Laskun ositus">
                                <md-option selected value="">{{'invoice.partition.NONE' | translation}}</md-option>
                                <md-option *ngFor="let partition of invoicePartitions" [value]="partition">
                                    {{['invoice.partition', partition] | translation}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</form>
