<div class="row">
    <div class=" col s12">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th>Käyttäjänimi</th>
                <th>Nimi</th>
                <th>Sähköposti</th>
                <th>Roolit</th>
                <th>Hakemustyypit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users | async" class="clickable row-highlight"
                (click)="onSelect(user)">
                <td>{{user.userName}}</td>
                <td>{{user.realName}}</td>
                <td>{{user.emailAddress}}</td>
                <td>
                    <span *ngFor="let role of user.assignedRoles">{{role}}</span>
                </td>
                <td>
                    <span *ngFor="let applicationType of user.allowedApplicationTypes">{{applicationType}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>