<div materialize class="row">
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm.value)">
        <applicant [applicationForm]="applicationForm" [applicant]="application.applicant" [readonly]="isSummary"></applicant>

        <contact [applicationForm]="applicationForm" [contactList]="application.contactList" [readonly]="isSummary"></contact>

        <form [formGroup]="rentalForm">
            <div class="col m12 loose">
                <md-card>
                    <md-card-title>Vuokrauksen tiedot</md-card-title>
                    <md-card-content>
                        <div class="row form-group">
                            <div class="col m6">
                                <div class="input-field col m12">
                                    <input id="name" type="text" [class.summary]="name" formControlName="name" [readonly]="isSummary">
                                    <label for="name">Vuokrauksen nimi*</label>
                                    <field-error [form]="rentalForm" field="name" hasError="required">{{translations.application.field.nameMissing}}</field-error>
                                    <field-error [form]="rentalForm" field="name" hasError="minlength">{{translations.application.field.nameShort}}</field-error>
                                </div>
                                <div class="input-field col m12">
                                    <textarea id="description" class="materialize-textarea" formControlName="description" [readonly]="isSummary"></textarea>
                                    <label for="description">Vuokrauksen kuvaus*</label>
                                    <field-error [form]="rentalForm" field="description" hasError="required">
                                        {{translations.application.shortTermRental.field.descriptionMissing}}
                                    </field-error>
                                </div>
                            </div>
                            <div class="input-field col m6">
                                <input id="area" type="number" formControlName="area" [readonly]="isSummary">
                                <label for="area">Pinta-ala</label>
                            </div>
                            <div class="col m6 no-padding">
                                <div formGroupName="rentalTimes">
                                    <div class="input-field col m12">
                                        <input *ngIf="!isSummary" id="rentalStartTime"
                                               formControlName="startTime"
                                               materialize="pickadate"
                                               [materializeParams]="pickadateParams"
                                               type="text"/>

                                        <input *ngIf="isSummary" id="rentalStartTime" type="text" formControlName="startTime" readonly>
                                        <label for="rentalStartTime">Alkupäivämäärä*</label>
                                        <field-error [form]="rentalForm.get('rentalTimes')" field="startTime" hasError="required">
                                            {{translations.application.shortTermRental.field.rentalStartTimeMissing}}
                                        </field-error>
                                    </div>
                                    <div class="input-field col m12">
                                        <input *ngIf="!isSummary" id="rentalEndTime"
                                               formControlName="endTime"
                                               materialize="pickadate"
                                               [materializeParams]="pickadateParams"
                                               type="text"/>
                                        <input *ngIf="isSummary" id="rentalEndTime" type="text" formControlName="endTime" readonly>
                                        <label for="rentalEndTime">Loppupäivämäärä*</label>
                                        <field-error [form]="rentalForm.get('rentalTimes')" field="endTime" hasError="required">
                                            {{translations.application.shortTermRental.field.rentalEndTimeMissing}}
                                        </field-error>
                                    </div>
                                    <field-error [form]="rentalForm" field="rentalTimes" hasError="startBeforeEnd">
                                        {{translations.application.shortTermRental.field.startBeforeEnd}}
                                    </field-error>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>

            <div class="col m12 loose">
                <md-card>
                    <md-card-title>Hinnoitteluperusteet</md-card-title>
                    <md-card-content>
                        <div class="row form-group">
                            <div *ngIf="application.type==='BRIDGE_BANNER'" class="col m6 no-padding">
                                <div class="col m12 height-fix-bottom">
                                    <div *ngIf="!isSummary">
                                        <input type="checkbox" class="filled-in" id="commercial" formControlName="commercial"/>
                                        <label for="commercial">{{ meta?.getUiName('commercial') }}</label>
                                    </div>
                                    <div *ngIf="isSummary && rentalForm.value.commercial">{{ meta?.getUiName('commercial') }}</div>
                                </div>
                            </div>
                            <div *ngIf="application.type==='PROMOTION_OR_SALES'" class="col m6 no-padding">
                                <div class="col m12 height-fix-bottom">
                                    <div *ngIf="!isSummary">
                                        <input type="checkbox" class="filled-in" id="largeSalesArea" formControlName="largeSalesArea"/>
                                        <label for="largeSalesArea">Iso myyntialue (0,8 m x 3,0 m)</label>
                                    </div>
                                    <div *ngIf="isSummary && rentalForm.value.largeSalesArea">Iso myyntialue (0,8 m x 3,0 m)</div>
                                </div>
                            </div>
                            <div class="col m12">
                                <div class="col m3 input-field">
                                    <input type="text" readonly id="calculatedPrice" formControlName="calculatedPrice">
                                    <label for="calculatedPrice">Hinta</label>
                                </div>
                            </div>
                            <div class="col m12">
                                <div class="col m3 input-field">
                                    <input type="number" id="priceOverride" formControlName="priceOverride" [readonly]="isSummary">
                                    <label for="priceOverride">Käsittelijän asettama hinta</label>
                                    <field-error [form]="eventForm" field="priceOverride" hasError="greaterThanOrEqual">
                                        {{translations.application.event.field.priceOverrideGreaterThanOrEqual}}
                                    </field-error>
                                </div>
                                <div class="col m3 input-field">
                                    <input type="text" id="priceOverrideReason" formControlName="priceOverrideReason" [readonly]="isSummary">
                                    <label for="priceOverrideReason">Peruste poikkeavaan hintaan</label>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>

            <location-details *ngIf="isSummary" [applicationId]="application.id" [location]="application.location" [readonly]="isSummary"></location-details>
        </form>

        <application-actions
            [isSummary]="isSummary"
            [applicationId]="application.id"
            [form]="applicationForm"
            [submitPending]="submitPending"></application-actions>
    </form>
</div>