<div>
  <div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <mat-table [dataSource]="identifiers">
    <ng-container matColumnDef="applicationId">
      <mat-header-cell *matHeaderCellDef>{{'application.applicationId' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="cell-wide">
        <div fxLayout="row" fxLayoutAlign="start center" class="slim input-full-width">
          <div fxFlex="auto">
            {{row}}
          </div>
          <div fxFlex="none">
            <button mat-icon-button (click)="remove.emit(row)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-highlight"></mat-row>
  </mat-table>
</div>
