<div [formGroup]="form">
  <div formArrayName="contacts">
    <div *ngFor="let contact of contacts.controls; let index=index"
         class="col m6 contact-card">
      <div [formGroupName]="index" class="no-border">
        <allu-card>
          <mat-card-title>
            {{['contact.role', customerRoleType, 'title'] | translation}}
            <button mat-icon-button type="button" class="align-with-text"
                    *ngIf="canBeRemoved()"
                    (click)="remove(index)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutGap="18px">
              <div fxFlex="calc(50% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="name" required
                         [placeholder]="'contact.name' | translation"
                         [matAutocomplete]="nameSearch" (keyup)="onKeyup($event, index)"/>
                  <mat-autocomplete #nameSearch="matAutocomplete">
                    <mat-option *ngFor="let contact of getMatchingContacts(index) | async"
                                [value]="contact.name" (onSelectionChange)="contactSelected(contact, index)">
                      {{ contact.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-hint>
                    <field-error [form]="contact" field="name" hasError="required">
                      {{'contact.field.nameMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         formControlName="email"
                         [placeholder]="'emailAddress' | translation"/>
                  <mat-hint>
                    <field-error [form]="contact" field="email" hasError="email">
                      {{'common.field.emailInvalid' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         formControlName="phone"
                         [placeholder]="'phone' | translation"/>
                  <mat-hint>
                    <field-error [form]="contact" field="phone" hasError="minlength">{{'contact.field.phoneShort' |
                      translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="18px">
              <div fxFlex="calc(50% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         formControlName="streetAddress"
                         [placeholder]="'postalAddress.streetAddress' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         formControlName="postalCode"
                         [placeholder]="'postalAddress.postalCode' | translation"/>
                  <mat-hint>
                    <field-error [form]="contact" field="postalCode" hasError="pattern">
                      {{'common.field.postalCode' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         formControlName="city"
                         [placeholder]="'postalAddress.postalOffice' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px" id="orderer">
              <div fxFlex="calc(50% - 18px)">
                <button *ngIf="canBeAddedToDistribution(index)" mat-button type="button" color="primary" (click)="addToDistribution(index)">
                  <mat-icon>add</mat-icon>
                  {{'contact.addToDistribution' | translation }}
                </button>
              </div>
              <div fxFlex="calc(25% - 18px)" *ngIf="showOrderer" >
                <mat-radio-button name="orderer" [checked]="isOrderer(index)" [disabled]="readonly"
                                  (change)="selectOrderer(index)">
                  {{'application.orderer' | translation}}
                </mat-radio-button>
              </div>
              <div fxFlex="auto" class="align-right" *ngIf="showSaveContact$(contact.value) | async">
                <button type="button"
                        mat-raised-button color="primary"
                        [disabled]="!contact.valid"
                        (click)="save(contact.value, index)">
                  {{'contact.createNew' | translation | uppercase}}
                </button>
              </div>
            </div>
          </mat-card-content>
        </allu-card>
      </div>
    </div>
  </div>
</div>
