<div [formGroup]="searchForm" class="row">
    <div class="col s3">
        <input-box>
            <input boxInput type="text" formControlName="name" placeholder="Asiakkaan nimi"/>
        </input-box>
    </div>
    <div class="col s3">
        <input-box>
            <select boxInput type="text" formControlName="type">
                <option value="" selected>Asiakkaan tyyppi</option>
                <option *ngFor="let type of applicantTypes" value="{{type}}">
                    {{['applicant.type', type, 'name'] | translation}}
                </option>
            </select>
        </input-box>
    </div>
    <div class="col s6">
        <button md-raised-button type="button" color="primary" (click)="search()">HAE</button>
    </div>
</div>
<div class="row">
    <div class="col s12 loose">
        <button md-raised-button type="button" color="primary" (click)="newCustomer()">Lisää uusi asiakas</button>
    </div>
    <div class=" col s12">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th sortBy="name" (onSortChange)="sortBy($event)">Nimi</th>
                <th>Tyyppi</th>
                <th>Tunniste</th>
                <th>Sähköposti</th>
                <th>Puhelin</th>
                <th>Osoite</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers | async" class="clickable row-highlight" (click)="onSelect(customer)">
                <td>{{customer.name}}</td>
                <td>{{['applicant.type', customer.type, 'name'] | translation}}</td>
                <td>{{customer.registryKey}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.postalAddress?.uiAddress}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>