<div class="main-content">
    <form [formGroup]="customerWithContactsForm" (ngSubmit)="onSubmit(customerWithContactsForm.value)">
        <div class="row" formGroupName="customer">
            <div class="col m6">
                <md-card>
                    <md-card-title>Asiakastiedot</md-card-title>
                    <md-card-content>
                        <div class="row form-group">
                            <div class="col m6">
                                <md-select class="input-full-width" formControlName="type" placeholder="Valitse hakijan tyyppi*">
                                    <md-option *ngFor="let type of applicantTypes" [value]="type">
                                        {{['applicant.type', type, 'name'] | translation}}
                                    </md-option>
                                </md-select>
                                <small>
                                    <field-error [form]="customerForm" field="type" hasError="required">{{'applicant.field.typeMissing' | translation}}</field-error>
                                </small>
                            </div>
                            <div class="col m6">
                                <md-select class="input-full-width" formControlName="country" placeholder="Maa">
                                    <md-option value="Suomi">Suomi</md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col m8">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="name"
                                           placeholder="{{['applicant.type', customerForm.value.type || 'DEFAULT', 'nameLabel'] | translation}}*"/>
                                    <md-hint>
                                        <field-error [form]="customerForm" field="name" hasError="required">{{'applicant.field.nameMissing' | translation}}</field-error>
                                        <field-error [form]="customerForm" field="name" hasError="minlength">{{'applicant.field.nameShort' | translation}}</field-error>
                                    </md-hint>
                                </md-input-container>
                            </div>
                            <div class="col m4">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="registryKey"
                                           placeholder="{{['applicant.type', customerForm.value.type || 'DEFAULT', 'id'] | translation}}*"/>
                                    <md-hint>
                                        <field-error [form]="customerForm" field="registryKey" hasError="required">{{'applicant.field.registryKeyMissing' | translation}}</field-error>
                                        <field-error [form]="customerForm" field="registryKey" hasError="minlength">{{'applicant.field.registryKeyShort' | translation}}</field-error>
                                    </md-hint>
                                </md-input-container>
                            </div>
                        </div>
                        <div formGroupName="postalAddress" class="row form-group">
                            <div class="col m6">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="streetAddress" placeholder="Osoite"/>
                                </md-input-container>
                            </div>
                            <div class="col m3">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="postalCode" placeholder="Postinumero"/>
                                    <md-hint>
                                        <field-error [form]="customerForm.get('postalAddress')" field="postalCode" hasError="pattern">
                                            {{'common.field.postalCode' | translation}}
                                        </field-error>
                                    </md-hint>
                                </md-input-container>
                            </div>
                            <div class="col m3">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="city" placeholder="Toimipaikka"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col m8">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="email" placeholder="Sähköpostiosoite"/>
                                    <md-hint>
                                        <field-error [form]="customerForm" field="email" hasError="pattern">{{'common.field.emailInvalid' | translation}}</field-error>
                                    </md-hint>
                                </md-input-container>
                            </div>
                            <div class="col m4">
                                <md-input-container class="input-full-width">
                                    <input mdInput type="text" formControlName="phone" placeholder="Puhelin"/>
                                    <md-hint>
                                        <field-error [form]="customerForm" field="phone" hasError="minLength">{{'applicant.field.phoneShort' | translation}}</field-error>
                                    </md-hint>
                                </md-input-container>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col m6">
                <invoicing-address [parentForm]="customerWithContactsForm"></invoicing-address>
            </div>
        </div>
        <div class="row">
            <customer-contacts [parentForm]="customerWithContactsForm" [onAddContact]="contactSubject.asObservable()"></customer-contacts>
        </div>
        <div class="row">
            <div class="col m12">
                <md-card>
                    <div class="row">
                        <div class="col m4">
                            <button type="submit" md-raised-button color="primary" [disabled]="!validWithChanges()">TALLENNA</button>
                            <button type="button" md-raised-button color="primary" [routerLink]="['/customers']">PERUUTA</button>
                        </div>
                        <div class="col m8">
                            <button type="button" md-raised-button color="primary" (click)="newContact()">UUSI YHTEYSHENKILÖ</button>
                            <button type="button" md-raised-button color="primary"
                                    *ngIf="customerForm.value.id"
                                    (click)="removeFromRegistry(customerWithContactsForm.value)">POISTA REKISTERISTÄ</button>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>
    </form>
</div>