<form [formGroup]="eventForm">
    <div class="col m12 loose">
        <md-card>
            <md-card-title>Tapahtuman tiedot</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <input mdInput type="text" formControlName="name" placeholder="Tapahtuman nimi*"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="name" hasError="required">{{translations.application.field.nameMissing}}</field-error>
                                <field-error [form]="eventForm" field="name" hasError="minlength">{{translations.application.field.nameShort}}</field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <textarea mdInput md-autosize formControlName="description" placeholder="Tapahtuman kuvaus*"></textarea>
                            <md-hint>
                                <field-error [form]="eventForm" field="description" hasError="required">
                                    {{translations.application.event.field.descriptionMissing}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div formGroupName="eventTimes">
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="Tapahtuman alkupäivämäärä*"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                                <md-hint>
                                    <field-error [form]="eventForm.get('eventTimes')" field="startTime" hasError="required">
                                        {{translations.application.event.field.eventStartTimeMissing}}
                                    </field-error>
                                    <field-error [form]="eventForm" field="eventTimes" hasError="startBeforeEnd">
                                        {{translations.application.event.field.startBeforeEnd}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>

                        </div>
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="Tapahtuman loppupäivämäärä*"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                                <md-hint>
                                    <field-error [form]="eventForm.get('eventTimes')" field="endTime" hasError="required">
                                        {{translations.application.event.field.eventEndTimeMissing}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <textarea mdInput md-autosize formControlName="timeExceptions" placeholder="Tapahtuma-ajan poikkeukset"></textarea>
                        </md-input-container>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <input mdInput type="text" formControlName="url" placeholder="Tapahtuman www-sivu"/>
                        </md-input-container>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="number" formControlName="attendees"
                                   step="1" min="0" placeholder="Yleisömäärä"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="attendees" hasError="greaterThanOrEqual">
                                    {{translations.application.event.field.attendeesGreaterThanOrEqual}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="number" formControlName="entryFee"
                                   step="any" min="0" placeholder="Osallistumismaksu, jos urheilutapahtuma"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="entryFee" hasError="greaterThanOrEqual">
                                    {{translations.application.event.field.eventEntryFeeThanOrEqual}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Rakenteet</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m3">
                        <md-checkbox [disabled]="readonly" [checked]="eventForm.value.structureArea">Tapahtuma sisältää rakenteita</md-checkbox>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="number" formControlName="structureArea" step="any" min="0"
                                   placeholder="Rakenteiden kokonaisneliömäärä"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="structureArea" hasError="greaterThanOrEqual">
                                    {{translations.application.event.field.structureAreaGreaterThanOrEqual}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <textarea mdInput md-autosize formControlName="structureDescription"
                                      placeholder="Rakenteiden kuvaus"></textarea>
                        </md-input-container>
                    </div>

                    <div class="col m3">
                        <md-checkbox [disabled]="readonly" [checked]="eventForm.value.structureTimes.startTime || eventForm.value.structureTimes.endTime">
                            Tapahtuma vaatii erillisiä rakennus- tai purkupäiviä
                        </md-checkbox>
                    </div>

                    <div formGroupName="structureTimes">
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="Rakennuspäivämäärä"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                                <md-hint>
                                    <field-error [form]="eventForm" field="structureTimes" hasError="startBeforeEnd">
                                        {{translations.application.event.field.startBeforeEnd}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                        </div>
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="Purkupäivämäärä"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div class="col m12 loose">
        <pricing-info [form]="eventForm" [kind]="application.kind"></pricing-info>
    </div>

    <location-details *ngIf="readonly" [application]="application" [readonly]="readonly"></location-details>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Myyntitoiminta</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m6 no-padding">
                        <div class="col m12">
                            <md-checkbox [disabled]="readonly" [checked]="eventForm.value.marketingProviders">
                                Tapahtuma sisältää myynti- tai mainostoimintaa
                            </md-checkbox>
                        </div>
                        <div class="col m12">
                            <md-input-container class="input-full-width">
                                <textarea mdInput md-autosize formControlName="marketingProviders"
                                          placeholder="Myynti- tai mainostoiminnan kuvaus"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col m6 no-padding">
                        <div class="col m12">
                            <md-checkbox formControlName="foodSales">Tapahtuma sisältää elintarvikemyyntiä tai tarjoilua</md-checkbox>
                        </div>
                        <div class="col m12">
                            <md-input-container class="input-full-width">
                                <textarea mdInput md-autosize formControlName="foodProviders"
                                          placeholder="Tapahtuma sisältää elintarvikemyyntiä tai tarjoilua"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>