<form [formGroup]="eventForm">
    <div class="col m12 loose">
        <md-card>
            <md-card-title>Tapahtuman tiedot</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <input mdInput type="text" formControlName="name" placeholder="{{ meta?.getUiName('name') }}*"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="name" hasError="required">{{translations.application.field.nameMissing}}</field-error>
                                <field-error [form]="eventForm" field="name" hasError="minlength">{{translations.application.field.nameShort}}</field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <textarea mdInput md-autosize formControlName="description" placeholder="{{ meta?.getUiName('description') }}*"></textarea>
                            <md-hint>
                                <field-error [form]="eventForm" field="description" hasError="required">
                                    {{translations.application.event.field.descriptionMissing}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div formGroupName="eventTimes">
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="{{ meta?.getUiName('eventStartTime') }}*"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                                <md-hint>
                                    <field-error [form]="eventForm.get('eventTimes')" field="startTime" hasError="required">
                                        {{translations.application.event.field.eventStartTimeMissing}}
                                    </field-error>
                                    <field-error [form]="eventForm" field="eventTimes" hasError="startBeforeEnd">
                                        {{translations.application.event.field.startBeforeEnd}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>

                        </div>
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="{{ meta?.getUiName('eventEndTime') }}*"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                                <md-hint>
                                    <field-error [form]="eventForm.get('eventTimes')" field="endTime" hasError="required">
                                        {{translations.application.event.field.eventEndTimeMissing}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <textarea mdInput md-autosize formControlName="timeExceptions" placeholder="{{ meta?.getUiName('timeExceptions') }}"></textarea>
                        </md-input-container>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <input mdInput type="text" formControlName="url" placeholder="{{ meta?.getUiName('url') }}"/>
                        </md-input-container>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="number" formControlName="attendees"
                                   step="1" min="0" placeholder="{{ meta?.getUiName('attendees') }}"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="attendees" hasError="greaterThanOrEqual">
                                    {{translations.application.event.field.attendeesGreaterThanOrEqual}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="number" formControlName="entryFee"
                                   step="any" min="0" placeholder="{{ meta?.getUiName('entryFee') }}"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="entryFee" hasError="greaterThanOrEqual">
                                    {{translations.application.event.field.eventEntryFeeThanOrEqual}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Rakenteet</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m3">
                        <md-checkbox [disabled]="readonly" [checked]="eventForm.value.structureArea">Tapahtuma sisältää rakenteita</md-checkbox>
                    </div>
                    <div class="col m3">
                        <md-input-container class="input-full-width">
                            <input mdInput type="number" formControlName="structureArea" step="any" min="0"
                                   placeholder="{{ meta?.getUiName('structureArea') }}"/>
                            <md-hint>
                                <field-error [form]="eventForm" field="structureArea" hasError="greaterThanOrEqual">
                                    {{translations.application.event.field.structureAreaGreaterThanOrEqual}}
                                </field-error>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col m6">
                        <md-input-container class="input-full-width">
                            <textarea mdInput md-autosize formControlName="structureDescription"
                                      placeholder="{{ meta?.getUiName('structureDescription') }}"></textarea>
                        </md-input-container>
                    </div>

                    <div class="col m3">
                        <md-checkbox [disabled]="readonly" [checked]="eventForm.value.structureTimes.startTime || eventForm.value.structureTimes.endTime">
                            Tapahtuma vaatii erillisiä rakennus- tai purkupäiviä
                        </md-checkbox>
                    </div>

                    <div formGroupName="structureTimes">
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="startTime" placeholder="{{ meta?.getUiName('structureStartTime') }}"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                                <md-hint>
                                    <field-error [form]="eventForm" field="structureTimes" hasError="startBeforeEnd">
                                        {{translations.application.event.field.startBeforeEnd}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                        </div>
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="endTime" placeholder="{{ meta?.getUiName('structureEndTime') }}"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Hinnoitteluperusteet</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div *ngIf="application.kind==='OUTDOOREVENT'">
                        <div class="col m6">
                            <div class="col m12">
                                <md-select formControlName="nature" placeholder="{{ meta?.getUiName('nature') }}*" class="input-full-width">
                                    <md-option *ngFor="let nature of eventNatures" [value]="nature" (onSelect)="eventNatureChange(nature)">
                                        {{['application.event.nature', nature] | translation}}
                                    </md-option>
                                </md-select>
                                <field-error [form]="eventForm" field="nature" hasError="required">
                                    {{translations.application.event.field.natureMissing}}
                                </field-error>
                            </div>
                            <div class="col m12 input-field-checkbox" *ngIf="eventForm.value.nature === 'PUBLIC_FREE'">
                                <md-checkbox formControlName="noPrice" (change)="noPriceChange($event.checked)">
                                    Korvauksetta
                                </md-checkbox>
                            </div>
                            <div class="col m12" *ngIf="eventForm.value.noPrice">
                                <md-select formControlName="noPriceReason" placeholder="{{ meta?.getUiName('noPriceReason') }}" class="input-full-width">
                                    <md-option *ngFor="let reason of noPriceReasons" [value]="reason">
                                        {{['application.event.noPriceReason', reason] | translation}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="col m6 no-padding">
                            <div class="col m12">
                                <md-checkbox formControlName="ecoCompass">{{ meta?.getUiName('ecoCompass') }}</md-checkbox>
                            </div>
                            <div class="col m12" *ngIf="eventForm.value.noPrice">
                                <md-checkbox formControlName="salesActivity">{{ meta?.getUiName('salesOrPromotionThemeless') }}</md-checkbox>
                            </div>
                            <div class="col m12" *ngIf="eventForm.value.noPrice">
                                <md-checkbox formControlName="heavyStructure">{{ meta?.getUiName('heavyStructure') }}</md-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col m12">
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput readonly type="text" formControlName="calculatedPrice" placeholder="Hinta"/>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col m12">
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="number" formControlName="priceOverride" placeholder="Käsittelijän asettama hinta"/>
                                <md-hint>
                                    <field-error [form]="eventForm" field="priceOverride" hasError="greaterThanOrEqual">
                                        {{translations.application.event.field.priceOverrideGreaterThanOrEqual}}
                                    </field-error>
                                </md-hint>
                            </md-input-container>
                        </div>
                        <div class="col m3">
                            <md-input-container class="input-full-width">
                                <input mdInput type="text" formControlName="priceOverrideReason" placeholder="Peruste poikkeavaan hintaan"/>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <location-details *ngIf="readonly" [application]="application" [readonly]="readonly"></location-details>

    <div class="col m12 loose">
        <md-card>
            <md-card-title>Myyntitoiminta</md-card-title>
            <md-card-content>
                <div class="row form-group">
                    <div class="col m6 no-padding">
                        <div class="col m12">
                            <md-checkbox [disabled]="readonly" [checked]="eventForm.value.marketingProviders">
                                Tapahtuma sisältää myynti- tai mainostoimintaa
                            </md-checkbox>
                        </div>
                        <div class="col m12">
                            <md-input-container class="input-full-width">
                                <textarea mdInput md-autosize formControlName="marketingProviders"
                                          placeholder="{{ meta?.getUiName('salesOrPromotionDescription') }}"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col m6 no-padding">
                        <div class="col m12">
                            <md-checkbox formControlName="foodSales">{{ meta?.getUiName('foodSales') }}</md-checkbox>
                        </div>
                        <div class="col m12">
                            <md-input-container class="input-full-width">
                                <textarea mdInput md-autosize formControlName="foodProviders"
                                          placeholder="{{ meta?.getUiName('foodProviders') }}"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</form>