<form [formGroup]="form">
    <mat-card>
        <mat-card-title>
            {{'chargeBasis.title' | translation}}
            <button mat-icon-button (click)="newEntry()" class="align-with-text"><mat-icon>add</mat-icon></button>
        </mat-card-title>
        <mat-card-content>
            <div formArrayName="chargeBasisEntries">
                <div *ngFor="let entry of chargeBasisEntries.controls; let i=index;" class="row">
                    <mat-card class="slim-card">
                        <mat-card-content>
                            <div class="invoice-row">
                                <div class="row-controls">
                                    <ng-container *ngIf="entry.value.manuallySet">
                                        <button mat-icon-button (click)="editEntry(i)"><mat-icon>edit</mat-icon></button>
                                        <button mat-icon-button (click)="removeEntry(i)"><mat-icon>clear</mat-icon></button>
                                    </ng-container>
                                </div>
                                <div class="row-header">{{entry.value.text}}</div>
                                <div class="row-content">
                                    <div class="row-field-md">{{entry.value.quantity}} {{['chargeBasis.unit', entry.value.unit] | translation}}</div>
                                    <div class="row-field-md">à {{entry.value.unitPrice}} €</div>
                                    <div class="row-field-md row-field-highlight">{{entry.getRawValue().netPrice}} €</div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
