<form [formGroup]="chargeBasisEntryForm" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>{{'chargeBasis.newEntry' | translation}}</h2>
    <div mat-dialog-content>
        <div fxLayout="row" fxLayoutWrap>
            <div fxFlex="50">
                <mat-form-field class="input-full-width">
                    <mat-select [placeholder]="'chargeBasis.type.title' | translation" class="input-full-width"
                                formControlName="type" required>
                        <mat-option *ngFor="let type of chargeBasisTypes" [value]="type">
                            {{['chargeBasis.type', type, 'title'] | translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="100">
                <mat-form-field class="input-full-width">
                    <input matInput type="text" formControlName="text" required
                           placeholder="{{['chargeBasis.type', chargeBasisEntryForm.value.type, 'basis'] | translation}}"
                           [matAutocomplete]="text"/>
                    <mat-autocomplete #text="matAutocomplete">
                        <mat-option *ngFor="let text of matchingTexts | async" [value]="text">
                            {{text}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error>
                        <field-error [form]="chargeBasisEntryForm" field="text" hasError="required">
                            {{'chargeBasis.field.rowTextMissing' | translation}}
                        </field-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap class="spaced-out">
            <div fxFlex="20">
                <mat-form-field class="input-full-width">
                    <input matInput type="number" formControlName="quantity"  required
                           placeholder="{{'chargeBasis.quantity' | translation}}"/>
                    <mat-error>
                        <field-error [form]="chargeBasisEntryForm" field="quantity" hasError="required">
                            {{'chargeBasis.field.quantityMissing' | translation}}
                        </field-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="10">
                <mat-form-field class="input-full-width">
                    <mat-select formControlName="unit" required>
                        <mat-option *ngFor="let unit of unitTypes" [value]="unit">
                            {{['chargeBasis.unit', unit] | translation}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <field-error [form]="chargeBasisEntryForm" field="unit" hasError="required">
                            {{'chargeBasis.field.unitMissing' | translation}}
                        </field-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20">
                <mat-form-field class="input-full-width">
                    <input matInput type="number" formControlName="unitPrice" required
                           placeholder="{{'chargeBasis.unitPrice' | translation}}"/>
                    <div matSuffix>€</div>
                    <mat-error>
                        <field-error [form]="chargeBasisEntryForm" field="unitPrice" hasError="required">
                            {{'chargeBasis.field.quantityMissing' | translation}}
                        </field-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="20">
                <mat-form-field class="input-full-width">
                    <input matInput type="number" formControlName="netPrice" placeholder="{{'chargeBasis.netPrice' | translation}}"/>
                    <div matSuffix>€</div>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="!chargeBasisEntryForm.valid">
            {{'common.button.save' | translation}}
        </button>
        <button type="button" mat-raised-button color="primary" (click)="cancel()">
            {{'common.button.cancel' | translation}}
        </button>
    </div>
</form>
