<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <define name="INCLUDED_FILE_EXISTS" class="ch.qos.logback.core.property.FileExistsPropertyDefiner">
        <path>${service.home}/included-logback.xml</path>
    </define>

    <if condition='property("INCLUDED_FILE_EXISTS").equals("true")'>
        <then>
            <!-- this configuration is used in other than development environments
                 i.e. custom config per environment -->
            <include file="${service.home}/included-logback.xml" />
        </then>
        <else>
            <!-- This configuration is used only in development enviroment -->
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{35} r:%X{requestId} - %msg%n</pattern>
                </encoder>
            </appender>
            <root level="INFO">
                <appender-ref ref="STDOUT" />
            </root>
            <logger name="fi.hel.allu.ui" level="DEBUG" />
        </else>
    </if>
</configuration>
