<h1 md-dialog-title>
    {{['decision.type', status, 'title'] | translation }}
</h1>
<div md-dialog-content>
    <form [formGroup]="decisionForm">
        <div class="row">
            <div class="col s12" *ngIf="status !== 'DECISION'">
                <md-form-field class="input-full-width">
                    <textarea mdInput mdTextareaAutosize formControlName="comment" placeholder="Perustelut"></textarea>
                </md-form-field>
            </div>
            <div class="col s12">
                <md-form-field class="input-full-width">
                    <textarea mdInput mdTextareaAutosize formControlName="emailMessage" placeholder="Sähköpostiviesti"></textarea>
                </md-form-field>
            </div>
            <div class="col s12">
                <h2>Päätöksen jakelu</h2>
                <distribution-list [form]="decisionForm" [distributionList]="distributionList"></distribution-list>
            </div>
        </div>
    </form>
</div>
<div md-dialog-actions>
    <button md-raised-button type="button" color="primary" (click)="confirm()">{{['decision.type', status, 'confirmText'] | translation }}</button>
    <button md-raised-button type="button" color="primary" (click)="cancel()">Peruuta</button>
</div>
