<div id="decision-modal-{{status}}" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4>{{header}}</h4>
    </div>
    <div class="row">
        <div class="col s12">
            <label>Perustelut</label>
            <input type="text" [(ngModel)]="comment"/>
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn" (click)="confirm()">{{confirmText}}</button>
        <button class="modal-action modal-close waves-effect waves-green btn">Peruuta</button>
    </div>
</div>

<div>
    <a class="waves-effect waves-light btn modal-trigger" href="#decision-modal-{{status}}" (click)="openModal()">
        <ng-content></ng-content>
    </a>
</div>
