<progressbar [step]="progressStep" [application]="application"></progressbar>
<div class="row content-main">
    <div class="col s4">
        <application-basic-info [application]="application"></application-basic-info>
        <decision-proposal [applicationId]="application.id"></decision-proposal>
    </div>
    <div class="col s8 content-pdf" *ngIf="pdfLoaded">
        <div class="pdf-header"></div>
        <object [data]="pdfUrl" type="application/pdf" height="100%" width="100%">
            <p>Päätöksen näyttäminen ei onnistu selaimellasi. Voit ladata sen <a [href]="pdfDownloadUrl">tästä</a></p>
        </object>
        <decision-actions [application]="application"></decision-actions>
    </div>
    <div class="col s8" *ngIf="!pdfLoaded">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <div class="center">Ladataan päätöstä</div>
    </div>
</div>