<h1 mat-dialog-title>
    {{['decision.type', status, 'title'] | translation }}
</h1>
<div mat-dialog-content>
    <form [formGroup]="decisionForm">
        <div class="row">
            <div class="col s12" *ngIf="status !== 'DECISION'">
                <mat-form-field class="input-full-width">
                    <textarea matInput matTextareaAutosize formControlName="comment" placeholder="Perustelut"></textarea>
                </mat-form-field>
            </div>
            <div class="col s12">
                <mat-form-field class="input-full-width">
                    <textarea matInput matTextareaAutosize formControlName="emailMessage" placeholder="Sähköpostiviesti"></textarea>
                </mat-form-field>
            </div>
            <div class="col s12">
                <h2>Päätöksen jakelu</h2>
                <distribution-list [form]="decisionForm" [distributionList]="distributionList"></distribution-list>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="button" color="primary" (click)="confirm()">{{['decision.type', status, 'confirmText'] | translation }}</button>
    <button mat-raised-button type="button" color="primary" (click)="cancel()">Peruuta</button>
</div>
