<!DOCTYPE html>
<html>
  <head>
    <title>Ilmoitus voimassaolon päättymisestä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>

  <p>
    Hyvä asiakkaamme,
  </p>
  <p>
    Päätöksen ${idAndAddress} voimassaolo on päättymässä.
    Hakemukseenne merkitty päättymispäivä on ${endDate}.
  </p>
  <p>
    Tehkää ilmoitus lisäajasta, työn valmistumisesta tai toiminnallisesta kunnosta järjestelmässä, jossa olette asioineet. Päätöksen voimassaoloon liittyvät muutosilmoitukset tulee tehdä päätöksen voimassaoloaikana.
  </p>
  <p>
    Jos olette jo toimittaneet ilmoituksen, tämä viesti on aiheeton ja se ei edellytä teiltä toimenpiteitä.
  </p>
  <p>
    Miten onnistuimme? Kerro mielipiteesi
    <a href="https://ecv.microsoft.com/zepZlZSdnT">täällä</a>.
  </p>
  <p>
    Tämän sähköpostin lähettäjä on tekninen osoite.
  </p>

  <p>
    Terveisin
  </p>

  <address>
    Helsingin kaupunki<br/>
    Kaupunkitilan lupa- ja asiakaspalvelut<br/>
    Yleisten alueiden valvonta ja infraluvat -yksikkö<br/>
    Puh. 09 310 22111<br/>
    luvat@hel.fi<br/>
    <a href="https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/kaduilla-ja-puistoissa-tehtavat-tyot">https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/kaduilla-ja-puistoissa-tehtavat-tyot</a>
  </address>
  <img src="${inlineImageName}"/>
</body>
</html>
