$md-font-url: '../node_modules/ng2-material/dist/';
@import '../node_modules/ng2-material/dist/font';
@import '../node_modules/ng2-material/source/all';

body {
  margin: 0;
}

.on-map {
  position: absolute;
  z-index: 100;
}

.map-button {
  height: 35px;
  text-align: center;
  width: 35px;
}


.leaflet-clickable {
  cursor: crosshair;
}

.leaflet-container {
  cursor: help;
}
