<div materialize class="row">
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm.value)">
        <div class="row">
            <applicant [applicationForm]="applicationForm" [applicant]="application.applicant"
                       [readonly]="readonly" headerText="Hakija" formName="applicant"
                       [showPropertyDeveloper]="true" [propertyDeveloper]="!!application.extension.propertyDeveloper"></applicant>

            <contact [applicationForm]="applicationForm" [contactList]="application.contactList"
                     [readonly]="readonly" headerText="Yhteyshenkilö" formName="contacts"
                     [saveToRegistry]="true"></contact>
        </div>

        <div class="row" *ngIf="applicationForm.value.applicant?.propertyDeveloper">
            <applicant [applicationForm]="applicationForm" [applicant]="application.extension.propertyDeveloper"
                       [readonly]="readonly" headerText="Rakennuttaja" formName="propertyDeveloper"></applicant>

            <contact [applicationForm]="applicationForm" [contactList]="application.extension.propertyDeveloperContactList"
                     [readonly]="readonly" headerText="Yhteyshenkilö" formName="propertyDeveloperContact"></contact>
        </div>

        <div class="row">
            <applicant [applicationForm]="applicationForm" [applicant]="application.extension.contractor"
                       [readonly]="readonly" headerText="Työn suorittaja" formName="contractor"
                       [showCopyToBilling]="true" [showRepresentative]="true"></applicant>

            <contact [applicationForm]="applicationForm" [contactList]="application.extension.responsiblePersonList"
                     [readonly]="readonly" headerText="Vastuuhenkilö" formName="responsiblePerson"></contact>
        </div>

        <div class="col m6 loose">
            <md-card>
                <md-card-title>Kaivuilmoituksen voimassaolo</md-card-title>
                <md-card-content>
                    <div class="row form-group">
                        <div formGroupName="validityTimes">
                            <div class="input-field col s6">
                                <input *ngIf="!readonly" id="validityStartTime"
                                       formControlName="startTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text"/>

                                <input *ngIf="readonly" id="validityTimes" type="text" formControlName="startTime">
                                <label for="validityStartTime">Voimassaolon aloitus*</label>
                                <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                                    {{'application.excavationAnnouncement.field.validityStartTime' | translation}}
                                </field-error>
                            </div>
                            <div class="input-field col s6">
                                <input *ngIf="!readonly" id="validityEndTime"
                                       formControlName="endTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text"/>
                                <input *ngIf="readonly" id="validityEndTime" type="text" formControlName="endTime">
                                <label for="validityEndTime">Voimassaolon lopetus*</label>
                                <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                                    {{'application.excavationAnnouncement.field.validityEndTime' | translation}}
                                </field-error>
                            </div>
                            <div class="col s12">
                                <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                                    {{'application.excavationAnnouncement.field.validityStartBeforeEnd' | translation}}
                                </field-error>
                            </div>
                        </div>
                        <div formGroupName="unauthorizedWork">
                            <div class="input-field col s6">
                                <input *ngIf="!readonly" id="unauthorizedWorkStartTime"
                                       formControlName="startTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text"/>

                                <input *ngIf="readonly" id="unauthorizedWorkStartTime" type="text" formControlName="startTime">
                                <label for="unauthorizedWorkStartTime">Luvattoman kaivun aloitus</label>
                            </div>
                            <div class="input-field col s6">
                                <input *ngIf="!readonly" id="unauthorizedWorkEndTime"
                                       formControlName="endTime"
                                       materialize="pickadate"
                                       [materializeParams]="pickadateParams"
                                       type="text"/>
                                <input *ngIf="readonly" id="unauthorizedWorkEndTime" type="text" formControlName="endTime">
                                <label for="unauthorizedWorkEndTime">Luvattoman kaivun lopetus</label>
                            </div>
                            <div class="col s12">
                                <field-error [form]="applicationForm" field="unauthorizedWork" hasError="startBeforeEnd">
                                    {{'application.excavationAnnouncement.field.unauthorizedWorkStartBeforeEnd' | translation}}
                                </field-error>
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <input id="winterTimeOperation" type="text" formControlName="winterTimeOperation" readonly>
                            <label for="winterTimeOperation">Talvityön toiminn. kunto</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="summerTimeOperation" type="text" formControlName="summerTimeOperation" readonly>
                            <label for="summerTimeOperation">Kesätyön toiminn. kunto</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="workFinished" type="text" formControlName="workFinished" readonly>
                            <label for="workFinished">Työ valmis</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="guaranteeEndTime" type="text" formControlName="guaranteeEndTime" readonly>
                            <label for="guaranteeEndTime">Takuu päättyy (katutyö)</label>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div class="col m12 loose">
            <md-card>
                <md-card-title>Kaivuilmoituksen tiedot</md-card-title>
                <md-card-content>
                    <div class="row form-group">
                        <div class="input-field col m6">
                            <input type="text" formControlName="cableReportIdentifier" id="identifier"
                                   [readonly]="readonly"
                                   [autocompletion]="matchingApplications"
                                   nameField="applicationId"
                                   (onSearchChange)="onIdentifierSearchChange($event)"
                                   (onSelection)="setCableReport($event)">
                            <input type="hidden" formControlName="cableReportId">
                            <label for="identifier">Johtoselvitys</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col m2">
                            <input type="checkbox" class="filled-in" id="pksCard" formControlName="pksCard"/>
                            <label for="pksCard">Pks-kortti</label>
                        </div>
                        <div class="col m2">
                            <input type="checkbox" class="filled-in" id="propertyConnectivity" formControlName="propertyConnectivity"/>
                            <label for="propertyConnectivity">Tontti- / Kiinteistöliitos</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col m2">
                            <input type="checkbox" class="filled-in" id="constructionWork" formControlName="constructionWork"/>
                            <label for="constructionWork">Rakentaminen</label>
                        </div>
                        <div class="col m2">
                            <input type="checkbox" class="filled-in" id="maintenanceWork" formControlName="maintenanceWork"/>
                            <label for="maintenanceWork">Kunnossapito</label>
                        </div>
                        <div class="col m2">
                            <input type="checkbox" class="filled-in" id="emergencyWork" formControlName="emergencyWork"/>
                            <label for="emergencyWork">Hätätyö</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="input-field col m12">
                            <textarea id="additionalInfo" class="materialize-textarea" formControlName="additionalInfo"></textarea>
                            <label for="additionalInfo">Lisätiedot</label>
                        </div>
                        <div class="input-field col m12">
                            <textarea id="trafficArrangements" class="materialize-textarea" formControlName="trafficArrangements"></textarea>
                            <label for="trafficArrangements">Suoritettavat liikennejärjestelyt</label>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <location-details *ngIf="readonly" [application]="application" [readonly]="readonly"></location-details>

        <application-actions
            [readonly]="readonly"
            [applicationId]="application.id"
            [form]="applicationForm"
            [submitPending]="submitPending"></application-actions>
    </form>
</div>