<h1 mat-dialog-title>{{'application.comments' | translation}}</h1>
<div mat-dialog-content>
  <ng-container *ngIf="comments$ | async as comments">
    <comment-preview-list
      [comments]="comments"
      [visibleCount]="comments.length"
      [showFull]="true"
      [noCommentText]="'comment.noApplicationComments | translation'"></comment-preview-list>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="close()">
    {{'common.button.close' | translation | uppercase}}
  </button>
</div>
