<div *ngIf="!visibleComments.length">
  <ng-container *ngIf="noCommentText; else defaultNoCommentText">
    {{noCommentText}}
  </ng-container>
  <ng-template #defaultNoCommentText>
    {{'comment.noComments' | translation}}
  </ng-template>
</div>

<div *ngIf="visibleComments.length">
  <ul class="comment-list">
    <li *ngFor="let comment of visibleComments">
      <h1 class="comment-header">
        <div fxLayout="row wrap" fxLayoutGap="6px" class="slim">
          <div fxFlex="none">
            {{comment.user.realName}} {{comment.updateTime | date:'short'}}
          </div>

          <div fxFlex="none">
            {{['comment.type', comment.type] | translation}}
          </div>
        </div>
      </h1>

      <div fxLayout="row">
        <div fxFlex="100%">
          <div [ngClass]="{
          'text-preview-full': showFull,
          'text-preview': !showFull
          }">{{comment.text}}</div>
        </div>
      </div>
    </li>
  </ul>

  <div fxLayout="row" *ngIf="commentLink">
    <div fxFlex class="comments-link">
      <a [routerLink]="commentLink">{{'comment.showComments' | translation}}</a>
    </div>
  </div>
</div>



