<div>
  <div class="search-bar">
    <h1>HAKU</h1>
    <form [formGroup]="queryForm">
      <div class="row">
        <div class="col m4 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="applicationId" placeholder="Hakemuksen tunnus"/>
          </md-input-container>
        </div>
        <div class="col m2 s6">
          <select formControlName="type" materialize="material_select" multiple>
            <option value="" selected disabled>Hakemuksen tyyppi</option>
            <option *ngFor="let option of applicationTypeStrings" [value]="option">{{ translations.application.type[option] }}</option>
          </select>
          <label>Hakemuksen tyyppi</label>
        </div>
        <div class="col m2 s6">
          <select formControlName="status" materialize="material_select" multiple>
            <option value="" selected disabled>Hakemuksen tila</option>
            <option *ngFor="let option of applicationStatusStrings" [value]="option">{{ translations.application.status[option] }}</option>
          </select>
        </div>
        <div class="col m2 s6">
          <select formControlName="districts" materialize="material_select" multiple>
            <option value="" disabled selected>Kaupunginosa</option>
            <option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}</option>
          </select>
        </div>
        <div class="col m2 s6">
          <select formControlName="handler" materialize="material_select" multiple>
            <option value="" selected disabled>Hakemuksen käsittelijä</option>
            <option *ngFor="let handler of handlers | async" [value]="handler.userName">{{handler.realName}}</option>
          </select>
        </div>

        <div class="col m4 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="address" placeholder="Osoite"/>
          </md-input-container>
        </div>
        <div class="col m2 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="applicant" placeholder="Hakija"/>
          </md-input-container>
        </div>
        <div class="col m2 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="contact" placeholder="Yhteyshenkilö"/>
          </md-input-container>
        </div>
        <div class="col m2 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="freeText" placeholder="Vapaa tekstihaku"/>
          </md-input-container>
        </div>
        <div class="col m1 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="startTime" placeholder="Alkupvm"
                   materialize="pickadate"
                   [materializeParams]="pickadateParams"/>
          </md-input-container>
        </div>
        <div class="col m1 s6">
          <md-input-container class="input-full-width">
            <input mdInput type="text" formControlName="endTime" placeholder="Loppupvm"
                   materialize="pickadate"
                   [materializeParams]="pickadateParams"/>
          </md-input-container>
        </div>
        <div class="col m12 s12">
          <button (click)="search()" md-raised-button type="button" color="primary">HAE</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="col s2 push-s10">
        <a md-raised-button type="button" color="primary" (click)="newApplication()">UUSI HAKEMUS</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class=" col s12">
      <table class="bordered responsive-table">
        <thead>
        <tr>
          <th sortBy="handler.userName" [currentSort]="sort" (onSortChange)="sortBy($event)">Käsittelijä</th>
          <th sortBy="name" [currentSort]="sort" (onSortChange)="sortBy($event)">Nimi</th>
          <th>Hanke</th>
          <th sortBy="type" [currentSort]="sort" (onSortChange)="sortBy($event)">Tyyppi</th>
          <th sortBy="status" [currentSort]="sort" (onSortChange)="sortBy($event)">Tila</th>
          <th sortBy="applicant.name" [currentSort]="sort" (onSortChange)="sortBy($event)">Hakija</th>
          <th sortBy="location.streetAddress" [currentSort]="sort" (onSortChange)="sortBy($event)">Katuosoite</th>
          <th sortBy="location.districtId" [currentSort]="sort" (onSortChange)="sortBy($event)">Kaupunginosa</th>
          <th>Saapunut</th>
          <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Aloitus</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let application of applications" class="clickable row-highlight"
            (click)="goToSummary(application)">
          <td>{{application.handler?.realName}}</td>
          <td>{{application.name}}</td>
          <td>
            {{application.project?.name}} <br>
            <span>{{application.project?.id}}</span>
          </td>
          <td>{{ translations.application.type[application.type] }}</td>
          <td>{{ translations.application.status[application.status] }}</td>
          <td>
            {{application.applicant.name}}<br>
          </td>
          <td>{{application.location.postalAddress.streetAddress}}</td>
          <td>{{districtName(application.location.effectiveCityDistrictId) | async}}</td>
          <td>{{ application.creationTime | date:format }}</td>
          <td>{{ application.startTime | date:format }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
