
<div>
  <h1>HAKU</h1>
  <div class="row">
    <div class="input-field col m4 s6">
      <input id="applicationId"  type="text" [(ngModel)]="query.applicationId">
      <label>Hakemuksen tunnus</label>
    </div>
    <div class="input-field col m2 s6">
      <select [(ngModel)]="query.type" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" selected>Hakemuksen tyyppi</option>
        <option *ngFor="let option of applicationTypeStrings" [value]="option">{{ translations.application.type[option] }}</option>
      </select>
      <label>Hakemuksen tyyppi</label>
    </div>
    <div class="input-field col m2 s6">
      <select [(ngModel)]="query.status" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Hakemuksen tila</option>
        <option *ngFor="let option of applicationStatusStrings" [value]="option">{{ translations.application.status[option] }}</option>
      </select>
      <label>Hakemuksen tila</label>
    </div>
    <div class="input-field col m2 s6">
      <select disabled [(ngModel)]="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Kaupunginosa</option>
        <option *ngFor="let option of items" [value]="option">{{option}}</option>
      </select>
      <label>Kaupunginosa</label>
    </div>
    <div class="input-field col m2 s6">
      <select [(ngModel)]="query.handler" materialize="material_select" [materializeSelectOptions]="selectOptions">
        <option value="" selected>Hakemuksen käsittelijä</option>
        <option *ngFor="let option of handlers" [value]="option">{{option}}</option>
      </select>
      <label>Hakemuksen käsittelijä</label>
    </div>

    <div class="input-field col m4 s6">
      <input id="applicationName"  type="text" [(ngModel)]="query.address">
      <label>Osoite</label>
    </div>
    <div class="input-field col m2 s6">
      <input  id="applicantName"  type="text" [(ngModel)]="query.applicant">
      <label>Hakija</label>
    </div>
    <div class="input-field col m2 s6">
      <input  id="contactName"  type="text" [(ngModel)]="query.contact">
      <label>Yhteyshenkilö</label>
    </div>
    <div class="input-field col m2 s6">
      <input placeholder="Vapaa tekstihaku" id="applicationName"  type="text" [(ngModel)]="query.freeText">
      <label>Vapaa tekstihaku</label>
    </div>
    <div class="input-field col m1 s6">
      <label for="startDate">Alkupvm</label>
      <input id="startDate"
      [(ngModel)]="query.uiStartTime"
      materialize="pickadate"
      [materializeParams]="pickadateParams"
      type="text" />
    </div>
    <div class="input-field col m1 s6">
      <input id="endDate"
      [(ngModel)]="query.uiEndTime"
      materialize="pickadate"
      [materializeParams]="pickadateParams"
      type="text" />
      <label for="endDate">Loppupvm</label>
    </div>
    <div class="col m12 s12">
      <button (click)="search()" class="waves-effect waves-light btn">HAE</button>
    </div>
</div>

<div class="row">
  <div class=" col s12">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th>Käsittelijä<i class="material-icons">arrow_drop_down</i></th>
          <th>Nimi</th>
          <th>Hanke</th>
          <th>Tyyppi<i class="material-icons">arrow_drop_down</i></th>
          <th>Tila<i class="material-icons">arrow_drop_down</i></th>
          <th>Hakija</th>
          <th>Katuosoite</th>
          <th>Kaupunginosa</th>
          <th>Saapunut</th>
          <th>Aloitus<i class="material-icons">arrow_drop_down</i></th>
          <th>Lisätietoja</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of results" class="clickable row-highlight"
          (click)="goToSummary(application)">
          <td>{{application.handler}}</td>
          <td>{{application.name}}</td>
          <td>
            {{application.project.name}} <br>
            <span>{{application.project.id}}</span>
          </td>
          <td>{{ translations.application.type[application.type] }}</td>
          <td>{{ translations.application.status[application.status] }}</td>
          <td>
            {{application.applicant.organization.name}}<br>
            <span>Isaksson Harry</span>
          </td>
          <td>{{application.location.postalAddress.streetAddress}}</td>
          <td>ei tuettuna</td>
          <td>{{ application.creationTime | date:format }}</td>
          <td>{{ application.startTime | date:format }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
