
<table class="responsive-table">
    <thead>
    <tr>
        <th>
            <mat-checkbox [(ngModel)]="allSelected" (click)="checkAll()"></mat-checkbox>
        </th>
        <th sortBy="handler.userName" [currentSort]="sort" (onSortChange)="sortBy($event)">Käsittelijä</th>
        <th sortBy="applicationId" [currentSort]="sort" (onSortChange)="sortBy($event)">Tunnus</th>
        <th sortBy="type" [currentSort]="sort" (onSortChange)="sortBy($event)">Tyyppi</th>
        <th sortBy="status" [currentSort]="sort" (onSortChange)="sortBy($event)">Tila</th>
        <th>Hanke</th>
        <th sortBy="customers.applicant.customer.name" [currentSort]="sort" (onSortChange)="sortBy($event)">Hakija</th>
        <th sortBy="locations.streetAddress" [currentSort]="sort" (onSortChange)="sortBy($event)">Katuosoite</th>
        <th sortBy="locations.cityDistrictId" [currentSort]="sort" (onSortChange)="sortBy($event)">Kaupunginosa</th>
        <th>Saapunut</th>
        <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Aloitus</th>
        <th>Kommentit</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let row of applicationRows; let i=index;">
        <tr [class.bottom-row]="row.application.applicationTags.length === 0"
            [class.row-highlight]="i===hoveredRowIndex" (click)="goToApplication($event.target.cellIndex, row.application)"
            (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
            <td>
                <mat-checkbox [ngModel]="row.selected" (change)="checkSingle(row)"></mat-checkbox>
            </td>
            <td class="clickable">{{row.application.handler?.realName}}</td>
            <td class="clickable">{{row.application.applicationId}}</td>
            <td class="clickable">{{translations.application.type[row.application.type]}}</td>
            <td class="clickable status-text">{{translations.application.status[row.application.status]}}</td>
            <td class="clickable">
                {{row.application.project?.name}} <br>
                <span>{{row.application.project?.id}}</span>
            </td>
            <td class="clickable">{{row.application.applicant.customer.name}}</td>
            <td class="clickable">{{row.application.firstLocation?.postalAddress?.streetAddress}}</td>
            <td class="clickable">{{districtName(row.application.firstLocation.effectiveCityDistrictId) | async}}</td>
            <td class="clickable">{{row.application.uiApplicationCreationTime}}</td>
            <td class="clickable">{{row.application.uiStartTime}}</td>
            <td class="clickable">
                    <span *ngIf="row.application.comments.length">
                        <button mat-raised-button type="button" color="primary" (click)="showComments(row.application.id)">NÄYTÄ</button>
                    </span>
            </td>
        </tr>
        <tr *ngIf="row.application.applicationTags.length"
            class="bottom-row clickable" [class.row-highlight]="i===hoveredRowIndex"
            (click)="goToSummary($event.target.cellIndex, row.application)"
            (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
            <td></td>
            <td colspan="1" class="row-title">Tunnisteet</td>
            <td colspan="10">
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of row.application.applicationTags" [selected]="tagSelected(tag.type)"
                             class="accent-chip slim-chip" color="accent">
                        {{['application.tag.type', tag.type] | translation}}
                    </mat-chip>
                </mat-chip-list>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>

