<div class="row">
    <div class=" col s12">
        <table class="striped responsive-table header">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="filled-in" [ngModel]="allSelected" (click)="checkAll()" id="all_none_checkbox" name="all_none_checkbox"/>
                    <label for="all_none_checkbox"></label>
                </th>
                <th sortBy="handler.userName" [currentSort]="sort" (onSortChange)="sortBy($event)">Käsittelijä</th>
                <th>Hanke</th>
                <th sortBy="applicationId" [currentSort]="sort" (onSortChange)="sortBy($event)">Tunnus</th>
                <th sortBy="type" [currentSort]="sort" (onSortChange)="sortBy($event)">Tyyppi</th>
                <th sortBy="status" [currentSort]="sort" (onSortChange)="sortBy($event)">Tila</th>
                <th sortBy="applicant.name" [currentSort]="sort" (onSortChange)="sortBy($event)">Hakija</th>
                <th sortBy="location.streetAddress" [currentSort]="sort" (onSortChange)="sortBy($event)">Katuosoite</th>
                <th sortBy="location.districtId" [currentSort]="sort" (onSortChange)="sortBy($event)">Kaupunginosa</th>
                <th>Saapunut</th>
                <th sortBy="startTime" [currentSort]="sort" (onSortChange)="sortBy($event)">Aloitus</th>
                <th>Lisätietoja</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of applicationRows" class="row-highlight" (click)="goToSummary($event.target.cellIndex, row.application)">
                <td>
                    <input type="checkbox" class="filled-in" [ngModel]="row.selected" (change)="checkSingle(row)" id="{{row.application.id}}" />
                    <label [attr.for]="row.application.id"></label>
                </td>
                <td class="clickable">{{row.application.handler?.realName}}</td>
                <td class="clickable">
                    {{row.application.project?.name}} <br>
                    <span>{{row.application.project?.id}}</span>
                </td>
                <td class="clickable">{{row.application.applicationId}}</td>
                <td class="clickable">{{translations.application.type[row.application.type]}}</td>
                <td class="clickable">{{translations.application.status[row.application.status]}}</td>
                <td class="clickable">
                    {{row.application.applicant.name}}<br>
                </td>
                <td class="clickable">{{row.application.location?.postalAddress?.streetAddress}}</td>
                <td class="clickable">{{districtName(row.application.location.cityDistrictId) | async}}</td>
                <td class="clickable">{{row.application.uiApplicationCreationTime}}</td>
                <td class="clickable">{{row.application.extension.uiStartTime}}</td>
                <td class="clickable"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
