<div class="row">
    <div class=" col s12">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="filled-in" [ngModel]="allSelected" (click)="checkAll()" id="all_none_checkbox" name="all_none_checkbox"/>
                    <label for="all_none_checkbox"></label>
                </th>
                <th class="clickable" (click)="sortBy('handler')">Käsittelijä <i class="material-icons icon-middle">{{iconForField('handler')}}</i></th>
                <th class="clickable" (click)="sortBy('project')">Hanke <i class="material-icons icon-middle">{{iconForField('project')}}</i></th>
                <th class="clickable" (click)="sortBy('applicationId')">Tunnus <i class="material-icons icon-middle">{{iconForField('applicationId')}}</i></th>
                <th class="clickable" (click)="sortBy('type')">Tyyppi <i class="material-icons icon-middle">{{iconForField('type')}}</i></th>
                <th class="clickable" (click)="sortBy('status')">Tila <i class="material-icons icon-middle">{{iconForField('status')}}</i></th>
                <th class="clickable" (click)="sortBy('applicant')">Hakija <i class="material-icons icon-middle">{{iconForField('applicant')}}</i></th>
                <th class="clickable" (click)="sortBy('streetAddress')">Katuosoite <i class="material-icons icon-middle">{{iconForField('streetAddress')}}</i></th>
                <th class="clickable" (click)="sortBy('district')">Kaupunginosa <i class="material-icons icon-middle">{{iconForField('district')}}</i></th>
                <th class="clickable" (click)="sortBy('creationTime')">Saapunut <i class="material-icons icon-middle">{{iconForField('creationTime')}}</i></th>
                <th class="clickable" (click)="sortBy('startTime')">Aloitus <i class="material-icons icon-middle">{{iconForField('startTime')}}</i></th>
                <th>Lisätietoja</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of applicationRows">
                <td>
                    <input type="checkbox" class="filled-in" [ngModel]="row.selected" (change)="checkSingle(row)" id="{{row.application.id}}" />
                    <label [attr.for]="row.application.id"></label>
                </td>
                <td>{{row.application.handler?.realName}}</td>
                <td>
                    {{row.application.project.name}} <br>
                    <span>{{row.application.project.id}}</span>
                </td>
                <td>{{row.application.applicationId}}</td>
                <td>{{translations.application.type[row.application.type]}}</td>
                <td>{{translations.application.status[row.application.status]}}</td>
                <td>
                    {{row.application.applicant.details.name}}<br>
                    <span>Isaksson Harry</span>
                </td>
                <td>{{row.application.location?.postalAddress?.streetAddress}}</td>
                <td>Kamppi</td>
                <td>{{row.application.uiApplicationCreationTime}}</td>
                <td>{{row.application.event.uiStartTime}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>