<div class="search-bar">
    <h1>TYÖJONO</h1>
    <form [formGroup]="queryForm">
        <div class="row">
            <div class="col s2">
                <md-select formControlName="type" [multiple]="true" placeholder="Hakemuksen tyyppi" class="input-full-width" selected="1">
                    <md-option *ngFor="let type of applicationTypes" [value]="type">{{['application.type', type] | translation}}</md-option>
                    <md-option *ngIf="tab==='COMMON'" value="common">Yhteiset hakemustyypit</md-option>
                </md-select>
            </div>
            <div class="col s2" [hidden]="tab==='OWN'">
                <md-select formControlName="handler" [multiple]="true" placeholder="Hakemuksen käsittelijä" class="input-full-width">
                    <md-option *ngFor="let handler of handlers" [value]="handler.userName">{{handler.realName}}</md-option>
                </md-select>
            </div>
            <div class="col s2">
                <md-select formControlName="status" [multiple]="true" placeholder="Hakemuksen tila" class="input-full-width">
                    <md-option *ngFor="let status of applicationStatuses" [value]="status">{{['application.status', status] | translation}}</md-option>
                    <md-option *ngIf="tab==='COMMON'" value="common">Yhteiset tilat</md-option>
                </md-select>
            </div>
            <div class="col s2">
                <md-select formControlName="districts" [multiple]="true" placeholder="Kaupunginosa" class="input-full-width">
                    <md-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}</md-option>
                </md-select>
            </div>
            <div class="col s2">
                <md-input-container class="input-full-width">
                    <input mdInput type="text" formControlName="startTime" placeholder="Alkupäivämäärä"
                           [mdDatepicker]="startTimePicker"/>
                    <button type="button" mdSuffix [mdDatepickerToggle]="startTimePicker"></button>
                </md-input-container>
                <md-datepicker #startTimePicker></md-datepicker>
            </div>
            <div class="col s2">
                <md-input-container class="input-full-width">
                    <input mdInput type="text" formControlName="endTime" placeholder="Loppupäivämäärä"
                           [mdDatepicker]="endTimePicker"/>
                    <button type="button" mdSuffix [mdDatepickerToggle]="endTimePicker"></button>
                </md-input-container>
                <md-datepicker #endTimePicker></md-datepicker>
            </div>
            <div *ngIf="tab !== 'WAITING'" class="col s12 item-bar">
                <div class="item-bar-content">
                    <span>Tunnisteet:</span>
                    <selection-group formControlName="tags">
                        <selection-item *ngFor="let type of tagTypes"
                                        [item]="type"
                                        selectType="CHIP"
                                        itemLabel="{{['application.tag.type', type] | translation}}"></selection-item>
                    </selection-group>
                </div>
            </div>
        </div>
    </form>
</div>
