@import '../../../assets/colors';

h1 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .1px;
    line-height: 48px;
    margin: 0;
    padding: 0 16px;
}

.search-bar {
    background: mat-color($allu-primary, 50);
    margin-bottom: 10px;
    padding-bottom: 10px;

    .item-bar {
        background: mat-color($allu-primary, 50);
    }
}