<div class="search-bar">
    <h1>TYÖJONO</h1>
    <form [formGroup]="queryForm">
        <div class="row">
            <div class="col s2">
                <select formControlName="type" materialize="material_select" multiple>
                    <option value="" selected disabled>Hakemuksen tyyppi</option>
                    <option *ngFor="let type of applicationTypes" [value]="type">{{['application.type', type] | translation}}</option>
                </select>
            </div>
            <div class="col s2">
                <select formControlName="handler" materialize="material_select"
                        multiple [materializeSelectOptions]="queryForm.value.handler">
                    <option value="" selected disabled>Hakemuksen käsittelijä</option>
                    <option *ngFor="let handler of handlers" [value]="handler.userName">{{handler.realName}}</option>
                </select>
            </div>
            <div class="col s2">
                <select formControlName="status" materialize="material_select" multiple>
                    <option value="" selected disabled>Hakemuksen tila</option>
                    <option *ngFor="let status of applicationStatuses" [value]="status">{{['application.status', status] | translation}}</option>
                </select>
            </div>
            <div class="col s2">
                <select formControlName="districts" materialize="material_select" multiple>
                    <option value="" selected disabled>Kaupunginosa</option>
                    <option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}</option>
                </select>
            </div>
            <div class="col s2">
                <md-input-container class="input-full-width">
                    <input mdInput type="text" formControlName="startTime" placeholder="Alkupäivämäärä"
                           materialize="pickadate"
                           [materializeParams]="pickadateParams"/>
                </md-input-container>
            </div>
            <div class="col s2">
                <md-input-container class="input-full-width">
                    <input mdInput type="text" formControlName="endTime" placeholder="Loppupäivämäärä"
                           materialize="pickadate"
                           [materializeParams]="pickadateParams"/>
                </md-input-container>
            </div>
            <div *ngIf="tab !== 'WAITING'" class="col s12 item-bar">
                <div class="item-bar-content">
                    <span>Tunnisteet:</span>
                    <selection-group (onSelection)="tagChange($event)">
                        <selection-item *ngFor="let type of tagTypes"
                                        [item]="type"
                                        itemLabel="{{['application.tag.type', type] | translation}}"></selection-item>
                    </selection-group>

                </div>
            </div>
        </div>
    </form>
</div>
