<div class="main-content">
  <form [formGroup]="projectInfoForm" id="projectInfoForm" (ngSubmit)="onSubmit(projectInfoForm.value)">
    <div class="row">
      <div class="col m6">
        <allu-card>
          <mat-card-title>{{'project.info.title' | translation}}</mat-card-title>
          <mat-card-content>
            <div class="row form-group">
              <div class="col m6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="ownerName"
                         [placeholder]="'project.info.owner' | translation"/>
                  <mat-hint>
                    <field-error [form]="projectInfoForm" field="ownerName" hasError="required">
                      {{'project.field.ownerNameMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>

              </div>
              <div class="col m6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="contactName"
                         [placeholder]="'project.info.contact' | translation"/>
                  <mat-hint>
                    <field-error [form]="projectInfoForm" field="contactName" hasError="required">
                      {{'project.field.contactNameMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="row form-group">
              <div class="col m6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="email"
                         [placeholder]="'project.info.email' | translation"/>
                  <mat-hint>
                    <field-error [form]="projectInfoForm" field="email" hasError="required">
                      {{'common.field.emailInvalid' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col m6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="phone"
                         [placeholder]="'project.info.phone' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div class="row form-group">
              <div class="col m6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="name"
                         [placeholder]="'project.info.name' | translation"/>
                  <mat-hint>
                    <field-error [form]="projectInfoForm" field="name" hasError="required">
                      {{'project.field.nameMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col m6">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="customerReference"
                         [placeholder]="'project.info.customerReference' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div class="row form-group">
              <div class="col m12">
                <mat-form-field class="input-full-width">
                  <textarea matInput matTextareaAutosize formControlName="additionalInfo"
                            [placeholder]="'project.info.additionalInfo' | translation"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col m2">
                <button type="submit" form="projectInfoForm" [disabled]="!projectInfoForm.valid"
                        mat-raised-button color="primary">
                  {{'common.button.save' | translation | uppercase}}
                </button>
              </div>
              <div class="col m2">
                <button *ngIf="!projectInfoForm.value.id" mat-raised-button type="button" color="primary"
                        [routerLink]="['/projectSearch']">
                  {{'common.button.cancel' | translation | uppercase}}
                </button>

                <button *ngIf="projectInfoForm.value.id" mat-raised-button type="button" color="primary"
                        [routerLink]="['/projects', projectInfoForm.value.id]">
                  {{'common.button.cancel' | translation | uppercase}}
                </button>
              </div>
            </div>
          </mat-card-content>
        </allu-card>
      </div>
    </div>
  </form>
</div>
