<form [formGroup]="communicationForm">
    <md-card>
        <md-card-title>Viestintä</md-card-title>
        <md-card-content>
            <div class="row">
                <div class="col l4 m6 s12">
                    <md-radio-group formControlName="communicationType">
                        <md-radio-button value="EMAIL">Sähköposti</md-radio-button>
                        <md-radio-button value="PAPER">Paperi</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col l4 m6 s12">
                    <md-select class="input-full-width" formControlName="publicityType" placeholder="Julkisuus*">
                        <md-option *ngFor="let type of publicityTypes" [value]="type">
                            {{['application.publicityType', type] | translation}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </md-card-content>
    </md-card>
</form>