<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex>
    <h1>{{'project.applications.title' | translation}}</h1>
  </div>
  <div fxFlex>
    <application-select
      [matchingApplications]="matchingApplications"
      (searchChange)="applicationSelectSearchChange($event)"
      (selectedChange)="applicationSelected($event)">
    </application-select>
  </div>
</div>

<project-application-list
  [page]="applications | async"
  [loading]="applicationsLoading | async"
  (searchChange)="searchChange($event)"
  (applicationRemove)="removeApplication($event)">
</project-application-list>
