<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="18px">
  <div fxFlex="auto">
    <h1>{{'project.applications.title' | translation}}</h1>
  </div>
  <div fxFlex="none">
    <button *ngIf="applicationsInBasket | async as itemCount"
            mat-raised-button color="primary"
            (click)="addFromBasket()">
      <mat-icon>playlist_add</mat-icon>
      <span>{{'project.applications.fromBasket' | translation}}</span>
      <span>({{itemCount}})</span>
    </button>
  </div>
  <div fxFlex="none">
    <application-select
      [matchingApplications]="matchingApplications"
      (searchChange)="applicationSelectSearchChange($event)"
      (selectedChange)="applicationSelected($event)">
    </application-select>
  </div>
</div>

<project-application-list
  [applications]="applications | async"
  [loading]="applicationsLoading | async"
  (applicationRemove)="removeApplication($event)">
</project-application-list>
