<loading [isLoading]="!meta">
  <div materialize class="row">
    <div class="col m6 no-padding-right">
      <md-card>
        <md-card-title>Hakija</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="input-field col m6">
              <select (change)="applicantTypeSelection($event.target.value)" materialize="material_select"
                      [materializeSelectOptions]="selectOptions" [(ngModel)]="applicant.type">
                <option value="" disabled selected>Valitse hakijan tyyppi</option>
                <option *ngFor="let type of applicantType" [value]="type.value">{{type.name}}</option>
              </select>
            </div>
            <div class="col m6 country-select">
              <select (change)="applicantCountrySelection($event.target.value)" materialize="material_select"
                      [materializeSelectOptions]="selectOptions">
                <option value="" disabled selected>Maa</option>
                <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
              </select>
            </div>
            <div class="input-field col m8">
              <input id="applicantName" type="text" class="validate" [(ngModel)]="applicant.name">
              <label for="applicantName">{{applicantNameSelection}}</label>
            </div>
            <div class="input-field col m4">
              <input id="businessID" type="text" class="validate" [(ngModel)]="applicant.businessIdOrSsn">
              <label for="businessID">{{applicantIdSelection}}</label>
            </div>
            <div class="input-field col m6">
              <input id="applicantAddress" type="text" class="validate"
                     [(ngModel)]="applicant.streetAddress">
              <label for="applicantAddress">{{ meta?.getUiName('applicant.address') }}</label>
            </div>
            <div class="input-field col m3">
              <input id="applicantPostalCode" type="text" class="validate"
                     [(ngModel)]="applicant.postalCode">
              <label for="applicantPostalCode">{{ meta?.getUiName('applicant.postalCode') }}</label>
            </div>
            <div class="input-field col m3">
              <input id="applicantCity" type="text" class="validate" [(ngModel)]="applicant.city">
              <label for="applicantCity">{{ meta?.getUiName('applicant.postOffice') }}</label>
            </div>
            <div class="input-field col m4">
              <input id="applicantPhone" type="text" class="validate" [(ngModel)]="applicant.phone">
              <label for="applicantPhone">{{ meta?.getUiName('applicant.phoneNumber') }}</label>
            </div>
            <div class="input-field col m8">
              <input id="applicantEmail" type="text" class="validate" [(ngModel)]="applicant.email">
              <label for="applicantEmail">{{ meta?.getUiName('applicant.email') }}</label>
            </div>
            <div class="col m7 height-fix-bottom">
              <input type="checkbox" class="filled-in" id="copyToBilling"/>
              <label for="copyToBilling">Kopioi tiedot laskutusosoitteeksi</label>
            </div>
            <div class="col m5 height-fix-bottom">
              <input type="checkbox" class="filled-in" [(ngModel)]="applicant.representative" id="representative"/>
              <label for="representative">Asiaa hoitaa asiamies</label>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="col m6 no-padding-left">
      <md-card>
        <md-card-title>Yhteyshenkilö</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="input-field col m12">
              <input id="contactName" type="text" class="validate" [(ngModel)]="application.contactList[0].name">
              <label for="contactName">{{ meta?.getUiName('contact.contactName') }}</label>
            </div>
            <div class="input-field col m6">
              <input id="contactStreetAddress" type="text" class="validate" [(ngModel)]="application.contactList[0].streetAddress">
              <label for="contactStreetAddress">{{ meta?.getUiName('contact.address') }}</label>
            </div>
            <div class="input-field col m3">
              <input id="contactPostalCode" type="text" class="validate" [(ngModel)]="application.contactList[0].postalCode">
              <label for="contactPostalCode">{{ meta?.getUiName('contact.postalCode') }}</label>
            </div>
            <div class="input-field col m3">
              <input id="contactCity" type="text" class="validate" [(ngModel)]="application.contactList[0].city">
              <label for="contactCity">{{ meta?.getUiName('contact.postOffice') }}</label>
            </div>
            <div class="input-field col m4">
              <input id="contactPhone" type="text" class="validate" [(ngModel)]="application.contactList[0].phone">
              <label for="contactPhone">{{ meta?.getUiName('contact.phoneNumber') }}</label>
            </div>
            <div class="input-field col m8">
              <input id="contactEmail" type="text" class="validate" [(ngModel)]="application.contactList[0].email">
              <label for="contactEmail">{{ meta?.getUiName('contact.email') }}</label>
            </div>
            <div class="buttons col m12">
              <button md-raised-button (click)="saveToRegistry(application.contactList[0])">TALLENNA REKISTERIIN</button>
              <button md-raised-button (click)="newContact(application.contactList[0])">UUSI YHTEYSHENKILÖ</button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <!-- TODO: error handling for missing billing info
     <div class="col m12">
        <md-card>
          <md-card-title>Laskutusosoite</md-card-title>
          <md-card-content>
            <div class="row">
              <div class="col m6 no-padding">
                <div class="col m6 country-select">
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="application.billingDetail.type">
                    <option value="" disabled selected>Valitse laskutustapa</option>
                    <option *ngFor="let type of billingTypes" [value]="type.value">{{type.name}}</option>
                  </select>
                </div>
                <div class="col m6 country-select">
                  <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="application.billingDetail.country">
                    <option value="" disabled selected>Maa</option>
                    <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
                  </select>
                </div>
                <div class="input-field col m6">
                  <input id="billingAddress" type="text" class="validate" [(ngModel)]="application.billingDetail.postalAddress.streetAddress">
                  <label for="billingAddress">Osoite</label>
                </div>
                <div class="input-field col m3">
                  <input id="billingPostalCode" type="text" class="validate" [(ngModel)]="application.billingDetail.postalAddress.postalCode">
                  <label for="billingPostalCode">Postinumero</label>
                </div>
                <div class="input-field col m3">
                  <input id="billingCity" type="text" class="validate" [(ngModel)]="application.billingDetail.postalAddress.city">
                  <label for="billingCity">Toimipaikka</label>
                </div>
              </div>
              <div class="col m6">
                <div class="input-field col m6 offset-m3">
                  <input id="billingWorkNumber" type="text" class="validate" [(ngModel)]="application.billingDetail.workNumber">
                  <label for="billingWorkNumber">Työnumero</label>
                </div>
                <div class="input-field col m6 offset-m3">
                  <input id="billingReference" type="text" class="validate" [(ngModel)]="application.billingDetail.reference">
                  <label for="billingReference">Laskutusviite</label>
                </div>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div> -->

    <div class="col m12">
      <md-card>
        <md-card-title>Tapahtuman tiedot</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="col m6 no-padding">
              <div class="input-field col m12">
                <input id="eventName" type="text" class="validate" [(ngModel)]="application.name">
                <label for="eventName">{{ meta?.getUiName('name') }}</label>
              </div>
              <div class="input-field col m12">
                <textarea id="eventDescription" class="materialize-textarea" [(ngModel)]="application.event.description"></textarea>
                <label for="eventDescription">{{ meta?.getUiName('description') }}</label>
              </div>
              <div class="input-field col m12">
                <input id="eventUrl" type="text" class="validate" [(ngModel)]="application.event.url">
                <label for="eventUrl">{{ meta?.getUiName('url') }}</label>
              </div>
            </div>
            <div class="col m6 no-padding">
              <div class="input-field col m12">
                <input id="eventStartTime"
                       [(ngModel)]="application.event.uiStartTime"
                       materialize="pickadate"
                       [materializeParams]="pickadateParams"
                       type="text"/>
                <label for="eventStartTime">{{ meta?.getUiName('eventStartTime') }}</label>
              </div>
              <div class="input-field col m12">
                <input id="eventEndTime"
                       [(ngModel)]="application.event.uiEndTime"
                       materialize="pickadate"
                       [materializeParams]="pickadateParams"
                       type="text"/>
                <label for="eventEndTime">{{ meta?.getUiName('eventEndTime') }}</label>
              </div>
              <div class="input-field col m12">
                <textarea id="eventTimeExceptions" class="materialize-textarea" [(ngModel)]="application.event.timeExceptions"></textarea>
                <label for="eventTimeExceptions">{{ meta?.getUiName('timeExceptions') }}</label>
              </div>
              <div class="input-field col m3">
                <input id="eventAttendees" type="number" class="validate" [(ngModel)]="application.event.attendees">
                <label for="eventAttendees">{{ meta?.getUiName('attendees') }}</label>
              </div>
              <div class="input-field col m9">
                <input id="eventEntryFee" type="number" class="validate" [(ngModel)]="application.event.entryFee">
                <label for="eventEntryFee">{{ meta?.getUiName('pricing') }}</label>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="col m12">
      <md-card>
        <md-card-title>Rakenteet</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="col m6 no-padding">
              <div class="col m6 height-fix-top">
                <input type="checkbox" class="filled-in" id="structureIncluded" [checked]="application.event.structureArea"/>
                <label for="structureIncluded">Tapahtuma sisältää rakenteita</label>
              </div>
              <div class="input-field col m6">
                <input id="structureArea" type="number" class="validate" step="any" [(ngModel)]="application.event.structureArea">
                <label for="structureArea">{{ meta?.getUiName('structureArea') }}</label>
              </div>
              <div class="input-field col m12">
                <textarea id="structureDescription" class="materialize-textarea textarea"
                          [(ngModel)]="application.event.structureDescription"></textarea>
                <label for="structureDescription">{{ meta?.getUiName('structureDescription') }}</label>
              </div>

            </div>
            <div class="col m6 no-padding">
              <div class="col m12 height-fix-top height-fix-bottom">
                <input type="checkbox" class="filled-in" id="structureBuildDate"
                       [checked]="application.event.structureStartTime || application.event.structureEndTime"/>
                <label for="structureBuildDate">Tapahtuma vaatii erillisiä rakennus- tai purkupäiviä</label>
              </div>
              <div class="input-field col m12">
                <label for="structureStartTime">{{ meta?.getUiName('structureStartTime') }}</label>
                <input id="structureStartTime"
                       [(ngModel)]="application.event.uiStructureStartTime"
                       materialize="pickadate"
                       [materializeParams]="pickadateParams"
                       type="text"/>
              </div>
              <div class="input-field col m12">
                <label for="structureEndTime">{{ meta?.getUiName('structureEndTime') }}</label>
                <input id="structureEndTime"
                       [(ngModel)]="application.event.uiStructureEndTime"
                       materialize="pickadate"
                       [materializeParams]="pickadateParams"
                       type="text"/>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="col m12">
      <md-card>
        <md-card-title>Hinnoitteluperusteet</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="col m6">
              <div class="col m12">
                <select materialize="material_select" [materializeSelectOptions]="selectOptions" [(ngModel)]="application.event.nature">
                  <option value="" disabled selected>{{ meta?.getUiName('nature') }}</option>
                  <option *ngFor="let nature of eventNatures" [value]="nature.value">{{nature.name}}</option>
                </select>
              </div>
              <div class="col m12 height-fix-bottom" *ngIf="application.event.nature === 'Open'">
                <input type="checkbox" class="filled-in" id="noPrice" [(ngModel)]="noPrice"/>
                <label for="noPrice">Korvauksetta</label>
              </div>
              <div class="col m12" *ngIf="noPrice">
                <select materialize="material_select" [materializeSelectOptions]="noPriceReasons"
                        [(ngModel)]="application.event.pricing">
                  <option value="" disabled selected>Peruste korvauksettomuudelle</option>
                  <option *ngFor="let reason of noPriceReasons" [value]="reason.value">{{reason.name}}</option>
                </select>
              </div>
            </div>
            <div class="col m6 no-padding">
              <div class="col m12 height-fix-bottom">
                <input type="checkbox" class="filled-in" id="pricingEcoCompass" [(ngModel)]="application.event.ecoCompass"/>
                <label for="pricingEcoCompass">{{ meta?.getUiName('ecoCompass') }}</label>
              </div>
              <div class="col m12 height-fix-bottom" *ngIf="noPrice">
                <input type="checkbox" class="filled-in" id="pricingSalesActivity" [(ngModel)]="application.event.salesActivity"/>
                <label for="pricingSalesActivity">{{ meta?.getUiName('salesOrPromotionThemeless') }}</label>
              </div>
              <div class="col m12 height-fix-bottom" *ngIf="noPrice">
                <input type="checkbox" class="filled-in" id="includesHeavyStructure" [(ngModel)]="application.event.heavyStructure"/>
                <label for="includesHeavyStructure">{{ meta?.getUiName('heavyStructure') }}</label>
              </div>
            </div>
            <div class="col m12">
              <div class="col m12">
                <label for="price">Hinta</label>
                <div id="price">-</div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="col m12">
      <md-card>
        <md-card-title>Myyntitoiminta</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="col m6 no-padding">
              <div class="col m12 height-fix-bottom">
                <input type="checkbox" class="filled-in" id="salesMarketing" [checked]="application.event.marketingProviders"/>
                <label for="salesMarketing">Tapahtuma sisältää myynti- tai mainostoimintaa</label>
              </div>
              <div class="input-field col m12">
                <textarea id="salesMarketingDetails" class="materialize-textarea"
                          [(ngModel)]="application.event.marketingProviders"></textarea>
                <label for="salesMarketingDetails">{{ meta?.getUiName('salesOrPromotionDescription') }}</label>
              </div>
            </div>
            <div class="col m6 no-padding">
              <div class="col m12 height-fix-bottom">
                <input type="checkbox" class="filled-in" id="salesFood" [checked]="application.event.foodSales"/>
                <label for="salesFood">{{ meta?.getUiName('foodSales') }}</label>
              </div>
              <div class="input-field col m12">
                <textarea id="salesFoodProviders" class="materialize-textarea" [(ngModel)]="application.event.foodProviders"></textarea>
                <label for="salesFoodProviders">{{ meta?.getUiName('foodProviders') }}</label>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>


<!--
    <div class="col m12">
      <md-card>
        <md-card-title>Sisäiset kommentit</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="input-field col m12">
              <textarea id="comments" class="materialize-textarea" [(ngModel)]="application.comments"></textarea>
              <label for="comments">Kirjoita kommentti</label>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
-->
    <application-attachment [existingAttachments]="application.attachmentList" (currentAttachments)="currentAttachments($event)"></application-attachment>
    <div class="col m12">
      <md-card>
        <md-card-title>Tallennus</md-card-title>
        <md-card-content>
          <div class="row">
            <div class="col m2 offset-m10">
              <button md-raised-button (click)="save(application)">YHTEENVETOON</button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</loading>
